.dc-popover {
  --font: var(--dc-text-sm);
  --padding: 12px 16px;
  --color: var(--dc-text-color-primary);
  --background: var(--dc-background-primary);
  --radius: 8px;
  --shadow: 0 0 0 1px rgb(var(--dc-black-rgb) / 7.5%), 0 -1px 0 0 rgb(var(--dc-black-rgb) / 5%), var(--dc-shadow-lg);

  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  width: max-content;
  padding: var(--padding);
  overflow: auto;
  font: var(--font);
  color: var(--color);
  color-scheme: light;
  scrollbar-width: thin;
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.dc-popover__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--dc-overlay-z-index);
  width: 100%;
  height: 100%;
}

@keyframes dc-popover-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dc-popover[data-animation="enter"] {
  animation: dc-popover-enter 50ms ease forwards;
}

@keyframes dc-popover-leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dc-popover[data-animation="leave"] {
  animation: dc-popover-leave 50ms ease forwards;
}

@media (prefers-reduced-motion) {
  .dc-popover[data-animation="enter"]
  .dc-popover[data-animation="leave"] {
    animation-duration: 0ms !important;
  }
}

.dark .dc-popover,
.dark.dc-popover {
  --border-color: var(--dc-neutral-600);
  --shadow: 0 0 0 1px var(--dc-neutral-600), var(--dc-shadow-lg);

  color-scheme: dark;
}
