.dc-popover {
  --dc-popover-text-color: var(--dc-primary-text-color);
  --dc-popover-transition-duration: 100ms;
  --dc-popover-bg: white;
  --dc-popover-shadow:
    0 0 0 1px rgb(var(--dc-black-rgb) / 7.5%),
    0 -1px 0 0 rgb(var(--dc-black-rgb) / 5%),
    var(--dc-shadow-lg);

  top: 0;
  left: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  padding: 1px;
  color-scheme: light;
}

.dc-popover-modal {
  box-sizing: border-box;
  max-width: 448px;
  padding: 12px 16px;
  font: var(--dc-text-sm);
  color: var(--dc-popover-text-color);
  background: var(--dc-popover-bg);
  border-radius: 8px;
  box-shadow: var(--dc-popover-shadow);
}

.dc-popover_closed .dc-popover-modal {
  opacity: 0;
  transform: scale(0.95);
  transition: var(--dc-popover-transition-duration) ease;
  transition-property: opacity, transform;
}

.dc-popover_opened .dc-popover-modal {
  opacity: 1;
  transform: scale(1);
}

.dc-popover[data-position="top-start"] .dc-popover-modal {
  transform-origin: bottom left;
}

.dc-popover[data-position="top-center"] .dc-popover-modal {
  transform-origin: bottom center;
}

.dc-popover[data-position="top-right"] .dc-popover-modal {
  transform-origin: bottom left;
}

.dc-popover[data-position="right-start"] .dc-popover-modal {
  transform-origin: left top;
}

.dc-popover[data-position="right-center"] .dc-popover-modal {
  transform-origin: left center;
}

.dc-popover[data-position="right-right"] .dc-popover-modal {
  transform-origin: left bottom;
}

.dc-popover[data-position="bottom-start"] .dc-popover-modal {
  transform-origin: top left;
}

.dc-popover[data-position="bottom-center"] .dc-popover-modal {
  transform-origin: top center;
}

.dc-popover[data-position="bottom-right"] .dc-popover-modal {
  transform-origin: top left;
}

.dc-popover[data-position="left-start"] .dc-popover-modal {
  transform-origin: right top;
}

.dc-popover[data-position="left-center"] .dc-popover-modal {
  transform-origin: right center;
}

.dc-popover[data-position="left-right"] .dc-popover-modal {
  transform-origin: right bottom;
}

.dark .dc-popover,
.dark.dc-popover {
  --dc-popover-border-color: var(--dc-gray-700);
  --dc-popover-bg: var(--dc-gray-800);
  --dc-popover-shadow:
    0 0 0 1px var(--dc-gray-700),
    var(--dc-shadow-lg);

  color-scheme: dark;
}
