.dark .dc-tag,
.dark.dc-tag {
  --dc-tag-text-color: var(--dc-gray-50);
  --dc-tag-bg: rgb(var(--dc-gray-400-rgb) / 0.4);

  color-scheme: dark;
}

.dark .dc-tag_plain,
.dark.dc-tag_plain {
  --dc-tag-text-color: var(--dc-gray-300);
  --dc-tag-border-color: rgb(var(--dc-gray-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-gray-400-rgb) / 0.1);
}

.dark .dc-tag_green,
.dark.dc-tag_green {
  --dc-tag-text-color: var(--dc-green-50);
  --dc-tag-bg: rgb(var(--dc-green-400-rgb) / 0.5);
}

.dark .dc-tag_green.dc-tag_plain,
.dark.dc-tag_green.dc-tag_plain {
  --dc-tag-text-color: var(--dc-green-400);
  --dc-tag-border-color: rgb(var(--dc-green-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-green-400-rgb) / 0.1);
}

.dark .dc-tag_cyan,
.dark.dc-tag_cyan {
  --dc-tag-text-color: var(--dc-sky-50);
  --dc-tag-bg: rgb(var(--dc-sky-400-rgb) / 0.5);
}

.dark .dc-tag_cyan.dc-tag_plain,
.dark.dc-tag_cyan.dc-tag_plain {
  --dc-tag-text-color: var(--dc-sky-400);
  --dc-tag-border-color: rgb(var(--dc-sky-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-sky-400-rgb) / 0.1);
}

.dark .dc-tag_blue,
.dark.dc-tag_blue {
  --dc-tag-text-color: var(--dc-blue-50);
  --dc-tag-bg: rgb(var(--dc-blue-400-rgb) / 0.5);
}

.dark .dc-tag_blue.dc-tag_plain,
.dark.dc-tag_blue.dc-tag_plain {
  --dc-tag-text-color: var(--dc-blue-400);
  --dc-tag-border-color: rgb(var(--dc-blue-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-blue-400-rgb) / 0.1);
}

.dark .dc-tag_purple,
.dark.dc-tag_purple {
  --dc-tag-text-color: var(--dc-violet-50);
  --dc-tag-bg: rgb(var(--dc-violet-400-rgb) / 0.5);
}

.dark .dc-tag_purple.dc-tag_plain,
.dark.dc-tag_purple.dc-tag_plain {
  --dc-tag-text-color: var(--dc-violet-400);
  --dc-tag-border-color: rgb(var(--dc-violet-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-violet-400-rgb) / 0.1);
}

.dark.dc-tag_pink,
.dark .dc-tag_pink {
  --dc-tag-text-color: var(--dc-pink-50);
  --dc-tag-bg: rgb(var(--dc-pink-400-rgb) / 0.5);
}

.dark .dc-tag_pink.dc-tag_plain,
.dark.dc-tag_pink.dc-tag_plain {
  --dc-tag-text-color: var(--dc-pink-400);
  --dc-tag-border-color: rgb(var(--dc-pink-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-pink-400-rgb) / 0.1);
}

.dark .dc-tag_red,
.dark.dc-tag_red {
  --dc-tag-text-color: var(--dc-red-50);
  --dc-tag-bg: rgb(var(--dc-red-400-rgb) / 0.5);
}

.dark .dc-tag_red.dc-tag_plain,
.dark.dc-tag_red.dc-tag_plain {
  --dc-tag-text-color: var(--dc-red-400);
  --dc-tag-border-color: rgb(var(--dc-red-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-red-400-rgb) / 0.1);
}

.dark .dc-tag_orange,
.dark.dc-tag_orange {
  --dc-tag-text-color: var(--dc-orange-50);
  --dc-tag-bg: rgb(var(--dc-orange-400-rgb) / 0.5);
}

.dark .dc-tag_orange.dc-tag_plain,
.dark.dc-tag_orange.dc-tag_plain {
  --dc-tag-text-color: var(--dc-orange-500);
  --dc-tag-border-color: rgb(var(--dc-orange-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-orange-400-rgb) / 0.1);
}

.dark .dc-tag_yellow,
.dark.dc-tag_yellow {
  --dc-tag-text-color: var(--dc-yellow-50);
  --dc-tag-bg: rgb(var(--dc-yellow-400-rgb) / 0.5);
}

.dark .dc-tag_yellow.dc-tag_plain,
.dark.dc-tag_yellow.dc-tag_plain {
  --dc-tag-text-color: var(--dc-yellow-500);
  --dc-tag-border-color: rgb(var(--dc-yellow-200-rgb) / 0.2);
  --dc-tag-bg: rgb(var(--dc-yellow-400-rgb) / 0.1);
}
