.dc-tag {
  --color: var(--dc-neutral-700);
  --background: rgb(var(--dc-neutral-300-rgb) / 10%);
  --border-color: rgb(var(--dc-neutral-700-rgb) / 20%);

  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  padding: 4px 10px;
  font: 400 14px/16px var(--dc-primary-font);
  color: var(--color);
  color-scheme: light;
  background: var(--background);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px var(--border-color);
}

.dc-tag_filled {
  --color: var(--dc-neutral-900);
  --background: var(--dc-neutral-300);
  --border-color: transparent;
}

.dc-tag_tinted {
  --color: var(--dc-neutral-800);
  --background: rgb(var(--dc-neutral-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_rounded {
  border-radius: 12px;
}

.dc-tag_sm {
  padding: 2px 8px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
}

.dc-tag_sm.dc-tag_rounded {
  border-radius: 10px;
}

.dc-tag_lg {
  padding: 4px 12px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 7px;
}

.dc-tag_lg.dc-tag_rounded {
  border-radius: 14px;
}

.dc-tag_green {
  --color: var(--dc-green-700);
  --background: rgb(var(--dc-green-300-rgb) / 10%);
  --border-color: rgb(var(--dc-green-700-rgb) / 20%);
}

.dc-tag_green.dc-tag_filled {
  --color: var(--dc-green-50);
  --background: var(--dc-green-600);
  --border-color: transparent;
}

.dc-tag_green.dc-tag_tinted {
  --color: var(--dc-green-800);
  --background: rgb(var(--dc-green-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_lime {
  --color: var(--dc-lime-700);
  --background: rgb(var(--dc-lime-300-rgb) / 10%);
  --border-color: rgb(var(--dc-lime-700-rgb) / 20%);
}

.dc-tag_lime.dc-tag_filled {
  --color: var(--dc-lime-900);
  --background: var(--dc-lime-300);
  --border-color: transparent;
}

.dc-tag_lime.dc-tag_tinted {
  --color: var(--dc-lime-800);
  --background: rgb(var(--dc-lime-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_sky {
  --color: var(--dc-sky-700);
  --background: rgb(var(--dc-sky-300-rgb) / 10%);
  --border-color: rgb(var(--dc-sky-700-rgb) / 20%);
}

.dc-tag_sky.dc-tag_filled {
  --color: var(--dc-sky-50);
  --background: var(--dc-sky-600);
  --border-color: transparent;
}

.dc-tag_sky.dc-tag_tinted {
  --color: var(--dc-sky-800);
  --background: rgb(var(--dc-sky-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_blue {
  --color: var(--dc-blue-700);
  --background: rgb(var(--dc-blue-300-rgb) / 10%);
  --border-color: rgb(var(--dc-blue-700-rgb) / 20%);
}

.dc-tag_blue.dc-tag_filled {
  --color: var(--dc-blue-50);
  --background: var(--dc-blue-600);
  --border-color: transparent;
}

.dc-tag_blue.dc-tag_tinted {
  --color: var(--dc-blue-800);
  --background: rgb(var(--dc-blue-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_indigo {
  --color: var(--dc-indigo-700);
  --background: rgb(var(--dc-indigo-300-rgb) / 10%);
  --border-color: rgb(var(--dc-indigo-700-rgb) / 20%);
}

.dc-tag_indigo.dc-tag_filled {
  --color: var(--dc-indigo-50);
  --background: var(--dc-indigo-600);
  --border-color: transparent;
}

.dc-tag_indigo.dc-tag_tinted {
  --color: var(--dc-indigo-800);
  --background: rgb(var(--dc-indigo-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_pink {
  --color: var(--dc-pink-700);
  --background: rgb(var(--dc-pink-300-rgb) / 10%);
  --border-color: rgb(var(--dc-pink-700-rgb) / 20%);
}

.dc-tag_pink.dc-tag_filled {
  --color: var(--dc-pink-50);
  --background: var(--dc-pink-600);
  --border-color: transparent;
}

.dc-tag_pink.dc-tag_tinted {
  --color: var(--dc-pink-800);
  --background: rgb(var(--dc-pink-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_red {
  --color: var(--dc-red-700);
  --background: rgb(var(--dc-red-300-rgb) / 10%);
  --border-color: rgb(var(--dc-red-700-rgb) / 20%);
}

.dc-tag_red.dc-tag_filled {
  --color: var(--dc-red-50);
  --background: var(--dc-red-500);
  --border-color: transparent;
}

.dc-tag_red.dc-tag_tinted {
  --color: var(--dc-red-800);
  --background: rgb(var(--dc-red-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_orange {
  --color: var(--dc-orange-700);
  --background: rgb(var(--dc-orange-300-rgb) / 10%);
  --border-color: rgb(var(--dc-orange-700-rgb) / 20%);
}

.dc-tag_orange.dc-tag_filled {
  --color: var(--dc-orange-50);
  --background: var(--dc-orange-500);
  --border-color: transparent;
}

.dc-tag_orange.dc-tag_tinted {
  --color: var(--dc-orange-800);
  --background: rgb(var(--dc-orange-300-rgb) / 40%);
  --border-color: transparent;
}

.dc-tag_yellow {
  --color: var(--dc-yellow-700);
  --background: rgb(var(--dc-yellow-300-rgb) / 10%);
  --border-color: rgb(var(--dc-yellow-700-rgb) / 20%);
}

.dc-tag_yellow.dc-tag_filled {
  --color: var(--dc-yellow-900);
  --background: var(--dc-yellow-400);
  --border-color: transparent;
}

.dc-tag_yellow.dc-tag_tinted {
  --color: var(--dc-yellow-800);
  --background: rgb(var(--dc-yellow-300-rgb) / 40%);
  --border-color: transparent;
}

.dark .dc-tag,
.dark.dc-tag {
  --color: var(--dc-neutral-300);
  --background: rgb(var(--dc-neutral-400-rgb) / 10%);
  --border-color: rgb(var(--dc-neutral-200-rgb) / 20%);

  color-scheme: dark;
}

.dark .dc-tag_filled,
.dark.dc-tag_filled {
  --color: var(--dc-neutral-800);
  --background: var(--dc-neutral-300);
  --border-color: transparent;
}

.dark .dc-tag_tinted,
.dark.dc-tag_tinted {
  --color: var(--dc-neutral-50);
  --background: rgb(var(--dc-neutral-400-rgb) / 40%);
  --border-color: transparent;
}

.dark .dc-tag_green,
.dark.dc-tag_green {
  --color: var(--dc-green-400);
  --background: rgb(var(--dc-green-400-rgb) / 10%);
  --border-color: rgb(var(--dc-green-200-rgb) / 20%);
}

.dark.dc-tag_green.dc-tag_filled,
.dark .dc-tag_green.dc-tag_filled {
  --color: var(--dc-green-50);
  --background: var(--dc-green-600);
  --border-color: transparent;
}

.dark .dc-tag_green.dc-tag_tinted,
.dark.dc-tag_green.dc-tag_tinted {
  --color: var(--dc-green-50);
  --background: rgb(var(--dc-green-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_lime,
.dark.dc-tag_lime {
  --color: var(--dc-lime-400);
  --background: rgb(var(--dc-lime-400-rgb) / 10%);
  --border-color: rgb(var(--dc-lime-200-rgb) / 20%);
}

.dark.dc-tag_lime.dc-tag_filled,
.dark .dc-tag_lime.dc-tag_filled {
  --color: var(--dc-lime-900);
  --background: var(--dc-lime-400);
  --border-color: transparent;
}

.dark .dc-tag_lime.dc-tag_tinted,
.dark.dc-tag_lime.dc-tag_tinted {
  --color: var(--dc-lime-50);
  --background: rgb(var(--dc-lime-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_sky,
.dark.dc-tag_sky {
  --color: var(--dc-sky-400);
  --background: rgb(var(--dc-sky-400-rgb) / 10%);
  --border-color: rgb(var(--dc-sky-200-rgb) / 20%);
}

.dark .dc-tag_sky.dc-tag_filled,
.dark.dc-tag_sky.dc-tag_filled {
  --color: var(--dc-sky-50);
  --background: var(--dc-sky-600);
  --border-color: transparent;
}

.dark .dc-tag_sky.dc-tag_tinted,
.dark.dc-tag_sky.dc-tag_tinted {
  --color: var(--dc-sky-50);
  --background: rgb(var(--dc-sky-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_blue,
.dark.dc-tag_blue {
  --color: var(--dc-blue-400);
  --background: rgb(var(--dc-blue-400-rgb) / 10%);
  --border-color: rgb(var(--dc-blue-200-rgb) / 20%);
}

.dark .dc-tag_blue.dc-tag_filled,
.dark.dc-tag_blue.dc-tag_filled {
  --color: var(--dc-blue-50);
  --background: var(--dc-blue-600);
  --border-color: transparent;
}

.dark .dc-tag_blue.dc-tag_tinted,
.dark.dc-tag_blue.dc-tag_tinted {
  --color: var(--dc-blue-50);
  --background: rgb(var(--dc-blue-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_indigo,
.dark.dc-tag_indigo {
  --color: var(--dc-indigo-400);
  --background: rgb(var(--dc-indigo-400-rgb) / 10%);
  --border-color: rgb(var(--dc-indigo-200-rgb) / 20%);
}

.dark .dc-tag_indigo.dc-tag_filled,
.dark.dc-tag_indigo.dc-tag_filled {
  --color: var(--dc-indigo-50);
  --background: var(--dc-indigo-600);
  --border-color: transparent;
}

.dark .dc-tag_indigo.dc-tag_tinted,
.dark.dc-tag_indigo.dc-tag_tinted {
  --color: var(--dc-indigo-50);
  --background: rgb(var(--dc-indigo-400-rgb) / 50%);
  --border-color: transparent;
}

.dark.dc-tag_pink,
.dark .dc-tag_pink {
  --color: var(--dc-pink-400);
  --background: rgb(var(--dc-pink-400-rgb) / 10%);
  --border-color: rgb(var(--dc-pink-200-rgb) / 20%);
}

.dark .dc-tag_pink.dc-tag_filled,
.dark.dc-tag_pink.dc-tag_filled {
  --color: var(--dc-pink-50);
  --background: var(--dc-pink-600);
  --border-color: transparent;
}

.dark .dc-tag_pink.dc-tag_tinted,
.dark.dc-tag_pink.dc-tag_tinted {
  --color: var(--dc-pink-50);
  --background: rgb(var(--dc-pink-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_red,
.dark.dc-tag_red {
  --color: var(--dc-red-400);
  --background: rgb(var(--dc-red-400-rgb) / 10%);
  --border-color: rgb(var(--dc-red-200-rgb) / 20%);
}

.dark .dc-tag_red.dc-tag_filled,
.dark.dc-tag_red.dc-tag_filled {
  --color: var(--dc-red-50);
  --background: var(--dc-red-500);
  --border-color: transparent;
}

.dark .dc-tag_red.dc-tag_tinted,
.dark.dc-tag_red.dc-tag_tinted {
  --color: var(--dc-red-50);
  --background: rgb(var(--dc-red-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_orange,
.dark.dc-tag_orange {
  --color: var(--dc-orange-500);
  --background: rgb(var(--dc-orange-400-rgb) / 10%);
  --border-color: rgb(var(--dc-orange-200-rgb) / 20%);
}

.dark .dc-tag_orange.dc-tag_filled,
.dark.dc-tag_orange.dc-tag_filled {
  --color: var(--dc-orange-50);
  --background: var(--dc-orange-500);
  --border-color: transparent;
}

.dark .dc-tag_orange.dc-tag_tinted,
.dark.dc-tag_orange.dc-tag_tinted {
  --color: var(--dc-orange-50);
  --background: rgb(var(--dc-orange-400-rgb) / 50%);
  --border-color: transparent;
}

.dark .dc-tag_yellow,
.dark.dc-tag_yellow {
  --color: var(--dc-yellow-400);
  --background: rgb(var(--dc-yellow-400-rgb) / 10%);
  --border-color: rgb(var(--dc-yellow-200-rgb) / 20%);
}

.dark .dc-tag_yellow.dc-tag_filled,
.dark.dc-tag_yellow.dc-tag_filled {
  --color: var(--dc-yellow-900);
  --background: var(--dc-yellow-400);
  --border-color: transparent;
}

.dark .dc-tag_yellow.dc-tag_tinted,
.dark.dc-tag_yellow.dc-tag_tinted {
  --color: var(--dc-yellow-50);
  --background: rgb(var(--dc-yellow-400-rgb) / 50%);
  --border-color: transparent;
}
