@use '../abstracts' as dc;

.dc-actions-group {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.125rem;
  border: 0.0625rem solid var(--dc-actions-group-border);
  border-radius: dc.$border-radius-md;
  background: var(--dc-actions-group-bg);
  box-shadow: dc.$shadow-xs;
}

.dc-actions-group > * + * {
  margin-left: dc.$gap-1x;
}

.dc-actions-group__btn {
  border-radius: inherit;
}
