@use '../abstracts' as dc;

.dc-alert {
  --dc-alert-bg-color: #{dc.$gray-50};
  --dc-alert-border-color: #{dc.$gray-200};
  --dc-alert-icon-color: #{dc.$gray-400};
  --dc-alert-primary-text-color: #{dc.$gray-800};
  --dc-alert-secondary-text-color: #{dc.$gray-600};
}

.dc-alert {
  font-family: var(--dc-font-base);
  font-weight: dc.$font-weight-normal;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: dc.$gap-3x dc.$gap-4x;
  border: 0.0625rem solid var(--dc-alert-border-color);
  border-radius: dc.$border-radius-md;
  background: var(--dc-alert-bg-color);
}

.dc-alert__icon {
  flex-shrink: 0;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: dc.$gap-3x;
  color: var(--dc-alert-icon-color);
}

.dc-alert__body {
}

.dc-alert__heading {
  font-weight: dc.$font-weight-medium;
  line-height: 1.125rem;
  margin: 0;
  color: var(--dc-alert-primary-text-color);
}

.dc-alert__description {
  margin: 0;
  color: var(--dc-alert-secondary-text-color);

  ul,
  ol {
    margin: 0;
    padding: 0 0 0 1em;

    li + li {
      margin-top: dc.$gap-1x;
    }
  }

  * + & {
    margin-top: dc.$gap-1x;
  }
}

.dc-alert_bordered {
  border-left: 0.25rem solid var(--dc-alert-icon-color);
  border-radius: 0;
}

.dc-alert_appearance_warning {
  --dc-alert-bg-color: #{dc.$yellow-50};
  --dc-alert-border-color: #{dc.$yellow-200};
  --dc-alert-icon-color: #{dc.$yellow-600};
  --dc-alert-primary-text-color: #{dc.$yellow-900};
  --dc-alert-secondary-text-color: #{dc.$yellow-800};
}

.dc-alert_appearance_error {
  --dc-alert-bg-color: #{dc.$red-50};
  --dc-alert-border-color: #{dc.$red-200};
  --dc-alert-icon-color: #{dc.$red-500};
  --dc-alert-primary-text-color: #{dc.$red-900};
  --dc-alert-secondary-text-color: #{dc.$red-800};
}

.dc-alert_appearance_info {
  --dc-alert-bg-color: #{dc.$blue-50};
  --dc-alert-border-color: #{dc.$blue-200};
  --dc-alert-icon-color: #{dc.$blue-500};
  --dc-alert-primary-text-color: #{dc.$blue-800};
  --dc-alert-secondary-text-color: #{dc.$blue-700};
}

.dc-alert_appearance_success {
  --dc-alert-bg-color: #{dc.$green-100};
  --dc-alert-border-color: #{dc.$green-300};
  --dc-alert-icon-color: #{dc.$green-500};
  --dc-alert-primary-text-color: #{dc.$green-900};
  --dc-alert-secondary-text-color: #{dc.$green-800};
}
