.dc-avatar {
  position: relative;
  display: inline-block;
}

.dc-avatar_tint_blue {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$blue-400};
  --dc-avatar-bg2-color: #{$blue-600};
}
.dc-avatar_icon-tint_blue {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$blue-400}, #{$blue-600});
}

.dc-avatar_tint_cyan {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$cyan-400};
  --dc-avatar-bg2-color: #{$cyan-600};
}
.dc-avatar_icon-tint_cyan {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$cyan-400}, #{$cyan-600});
}

.dc-avatar_tint_red {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$red-400};
  --dc-avatar-bg2-color: #{$red-600};
}
.dc-avatar_icon-tint_red {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$red-400}, #{$red-600});
}

.dc-avatar_tint_green {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$green-400};
  --dc-avatar-bg2-color: #{$green-600};
}
.dc-avatar_icon-tint_green {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$green-400}, #{$green-600});
}

.dc-avatar_tint_lime {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$lime-500};
  --dc-avatar-bg2-color: #{$lime-700};
}
.dc-avatar_icon-tint_lime {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$lime-500}, #{$lime-700});
}

.dc-avatar_tint_indigo {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$indigo-400};
  --dc-avatar-bg2-color: #{$indigo-600};
}
.dc-avatar_icon-tint_indigo {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$indigo-400}, #{$indigo-600});
}

.dc-avatar_tint_yellow {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$yellow-400};
  --dc-avatar-bg2-color: #{$yellow-600};
}
.dc-avatar_icon-tint_yellow {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$yellow-400}, #{$yellow-600});
}

.dc-avatar_tint_orange {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$orange-400};
  --dc-avatar-bg2-color: #{$orange-600};
}
.dc-avatar_icon-tint_orange {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$orange-400}, #{$orange-600});
}

.dc-avatar__icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--dc-avatar-icon-color);
  border-radius: 50%;
  background: var(--dc-avatar-icon-bg);
}

.dc-avatar-group {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  user-select: none;
}
