.dc-avatar {
  position: relative;
  display: inline-flex;
}

.dc-avatar_tint_blue {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #6fd2fc;
  --dc-avatar-bg2-color: #2a9ef1;
}

.dc-avatar_icon-tint_blue {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#6fd2fc, #2a9ef1);
}

.dc-avatar_tint_cyan {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #51ebd5;
  --dc-avatar-bg2-color: #28c9b7;
}

.dc-avatar_icon-tint_cyan {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#51ebd5, #28c9b7);
}

.dc-avatar_tint_red {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #ff8e72;
  --dc-avatar-bg2-color: #ff5151;
}

.dc-avatar_icon-tint_red {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#ff8e72, #ff5151);
}

.dc-avatar_tint_green {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #28ed7f;
  --dc-avatar-bg2-color: #16c059;
}

.dc-avatar_icon-tint_green {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#28ed7f, #16c032);
}

.dc-avatar_tint_lime {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #9ddd7d;
  --dc-avatar-bg2-color: #54cb68;
}

.dc-avatar_icon-tint_lime {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#9ddd7d, #54cb68);
}

.dc-avatar_tint_indigo {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #80aaff;
  --dc-avatar-bg2-color: #665fff;
}

.dc-avatar_icon-tint_indigo {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#80aaff, #665fff);
}

.dc-avatar_tint_yellow {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #ffd85e;
  --dc-avatar-bg2-color: #ffb92b;
}

.dc-avatar_icon-tint_yellow {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#ffd85e, #ffb92b);
}

.dc-avatar_tint_orange {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #ffc045;
  --dc-avatar-bg2-color: #ff8f15;
}

.dc-avatar_icon-tint_orange {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#ffc045, #ff8f15);
}

.dc-avatar_tint_pink {
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #e09ff2;
  --dc-avatar-bg2-color: #d669ed;
}

.dc-avatar_icon-tint_pink {
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#e09ff2, #d669ed);
}

.dc-avatar__icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--dc-avatar-icon-color);
  border-radius: 50%;
  background: var(--dc-avatar-icon-bg);
}

.dc-avatar-group {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  user-select: none;
}
