$_badge-sm-height: 1.375rem;
$_badge-md-height: 1.625rem;
$_badge-lg-height: 1.875rem;

.dc-badge {
  --dc-badge-color: #{$gray-200};
  --dc-badge-secondary-color: #{$gray-700};

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  height: $_badge-md-height;
  padding: 0 $gap-3x;
  color: var(--dc-badge-secondary-color);
  border-radius: $border-radius-md;
  background: var(--dc-badge-color);
  font-family: var(--dc-font-base);
  font-size: $font-size-sm;
  line-height: 1;
}

.dc-badge_size_sm {
  height: $_badge-sm-height;
  padding: 0 $gap-2x;
  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
}

.dc-badge_size_lg {
  height: $_badge-lg-height;
  padding: 0 $gap-4x;
  border-radius: $border-radius-md;
  font-size: $font-size-base;
}

.dc-badge_rounded {
  border-radius: $_badge-md-height / 2;
  padding: 0 $_badge-md-height / 2;

  &.dc-badge_size_sm {
    border-radius: $_badge-sm-height / 2;
    padding: 0 $_badge-sm-height / 2;
  }

  &.dc-badge_size_lg {
    border-radius: $_badge-lg-height / 2;
    padding: 0 $_badge-lg-height / 2;
  }
}

.dc-badge_removable {
  padding-right: 0 !important;
}

.dc-badge__remove-btn {
  margin: 0 0.2em 0 0.1em;
  color: inherit;

  &:hover:enabled {
    background: none;
  }

  &:focus {
    background: none;
    @include focus-ring(var(--dc-focus-ring-color));
  }
}

.dc-badge_fill-color_blue {
  --dc-badge-color: #{$blue-100};
  --dc-badge-secondary-color: #{$blue-800};
}

.dc-badge_fill-color_cyan {
  --dc-badge-color: #{$cyan-100};
  --dc-badge-secondary-color: #{$cyan-900};
}

.dc-badge_fill-color_red {
  --dc-badge-color: #{$red-100};
  --dc-badge-secondary-color: #{$red-900};
}

.dc-badge_fill-color_green {
  --dc-badge-color: #{$green-200};
  --dc-badge-secondary-color: #{$green-800};
}

.dc-badge_fill-color_lime {
  --dc-badge-color: #{$lime-100};
  --dc-badge-secondary-color: #{$lime-900};
}

.dc-badge_fill-color_indigo {
  --dc-badge-color: #{$indigo-100};
  --dc-badge-secondary-color: #{$indigo-900};
}

.dc-badge_fill-color_yellow {
  --dc-badge-color: #{$yellow-100};
  --dc-badge-secondary-color: #{$yellow-900};
}

.dc-badge_fill-color_orange {
  --dc-badge-color: #{$orange-100};
  --dc-badge-secondary-color: #{$orange-900};
}
