@use '../abstracts' as dc;

.dc-breadcrumbs {
  font-family: var(--dc-font-base);
  overflow-y: auto;
  overflow-scrolling: touch;
}

.dc-breadcrumbs__items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dc-breadcrumbs__items > * {
  display: inline-flex;
  align-items: center;
}

.dc-breadcrumbs__delimiter {
  margin-right: dc.$gap-4x;
  margin-left: dc.$gap-4x;
  color: var(--dc-breadcrumbs-delimiter-color);
}

.dc-breadcrumbs-item {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  transition: dc.$transition-quick;
  transition-property: color;
  text-decoration: none;
  color: var(--dc-breadcrumbs-item-color);

  &:hover {
    color: var(--dc-breadcrumbs-item-hover-color);
  }
}

.dc-breadcrumbs-item_selected {
  color: var(--dc-breadcrumbs-selected-item-color);
}

.dc-breadcrumbs-item__icon {
  margin-right: dc.$gap-2x;
}
