@use '../abstracts' as dc;

.dc-breadcrumb {
  font-family: var(--dc-font-base);
  overflow-y: auto;
  overflow-scrolling: touch;
}

.dc-breadcrumb__items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dc-breadcrumb__items > * {
  display: inline-flex;
  align-items: center;
}

.dc-breadcrumb__delimiter {
  display: inline-flex;
  margin-right: dc.$gap-4x;
  margin-left: dc.$gap-4x;
  color: var(--dc-breadcrumb-delimiter-color);
}

.dc-breadcrumb-link {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  cursor: default;
  transition: dc.$transition-quick;
  transition-property: color;
  text-decoration: none;
  color: var(--dc-breadcrumb-link-color);

  &:hover {
    color: var(--dc-breadcrumb-link-hover-color);
  }
}

.dc-breadcrumb-link[href] {
  cursor: pointer;
}

.dc-breadcrumb-link_selected {
  color: var(--dc-breadcrumb-link-selected-color);
}

.dc-breadcrumb-link__icon {
  display: inline-flex;
  margin-right: dc.$gap-2x;
}
