.dc-btn {
  --dc-btn-text-color: var(--dc-btn-default-text-color);
  --dc-btn-height: var(--dc-control-md-h);
  --dc-btn-bg: var(--dc-btn-default-bg);
  --dc-btn-bg-hover: var(--dc-btn-default-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-default-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-default-focus-ring-color);
  --dc-btn-shadow: 0 1px 2px #{rgba(black, $opacity-5)};
  --dc-btn-shadow-focus: 0 0 0 2px #{$white},
    0 0 0 4px var(--dc-btn-focus-ring-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  min-width: var(--dc-btn-height);
  min-height: var(--dc-btn-height);
  max-width: 100%;
  padding: 0 $gap-3x;
  cursor: pointer;
  user-select: none;
  transition: $transition-quick;
  transition-property: opacity, border-color, background-color, box-shadow;
  text-decoration: none;
  letter-spacing: $tracking-tight;
  color: var(--dc-btn-text-color);
  border: 1px solid $gray-200;
  border-radius: $border-radius-md;
  background: var(--dc-btn-bg);
  box-shadow: var(--dc-btn-shadow);
  font-family: var(--dc-font-base);
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  line-height: $leading-default;

  &:focus {
    outline: none;
    box-shadow: var(--dc-btn-shadow), var(--dc-btn-shadow-focus);
  }

  &:not(:disabled):hover {
    background: var(--dc-btn-bg-hover);
  }

  &:active:enabled {
    background: var(--dc-btn-bg-active);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--dc-disabled-state-opacity);
    box-shadow: none;
  }
}

.dc-btn > * + * {
  margin-left: $gap-2x;
}

.dc-btn_size_xs,
.dc-btn_size_sm {
  --dc-btn-height: var(--dc-control-xs-h);

  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
}

.dc-btn_size_xs {
  padding-right: $gap-2x;
  padding-left: $gap-2x;
}

.dc-btn_size_sm {
  --dc-btn-height: var(--dc-control-sm-h);
}

.dc-btn_size_lg {
  --dc-btn-height: var(--dc-control-lg-h);

  padding-right: $gap-4x;
  padding-left: $gap-4x;
  border-radius: $border-radius-lg;
  font-size: $font-size-base;
}

.dc-btn_secondary,
.dc-btn_minimal {
  border-color: transparent;
  box-shadow: none;

  &:focus {
    box-shadow: var(--dc-btn-shadow-focus);
  }

  &:disabled {
    box-shadow: none;
  }
}

.dc-btn_secondary {
  --dc-btn-text-color: var(--dc-btn-secondary-text-color);
  --dc-btn-bg: var(--dc-btn-secondary-bg);
  --dc-btn-bg-hover: var(--dc-btn-secondary-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-secondary-bg-active);
}

.dc-btn_minimal {
  --dc-btn-text-color: var(--dc-btn-minimal-text-color);
  --dc-btn-bg: var(--dc-btn-minimal-bg);
  --dc-btn-bg-hover: var(--dc-btn-minimal-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-minimal-bg-active);
}

.dc-btn_primary {
  --dc-btn-text-color: var(--dc-btn-primary-text-color);
  --dc-btn-bg: var(--dc-btn-primary-bg);
  --dc-btn-bg-hover: var(--dc-btn-primary-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-primary-bg-active);

  border-color: transparent;
}

.dc-btn_danger {
  --dc-btn-text-color: var(--dc-btn-danger-text-color);
  --dc-btn-bg: var(--dc-btn-danger-bg);
  --dc-btn-bg-hover: var(--dc-btn-danger-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-danger-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-danger-focus-ring-color);

  border-color: transparent;
}

.dc-btn_success {
  --dc-btn-text-color: var(--dc-btn-success-text-color);
  --dc-btn-bg: var(--dc-btn-success-bg);
  --dc-btn-bg-hover: var(--dc-btn-success-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-success-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-success-focus-ring-color);

  border-color: transparent;
}

.dc-btn__icon {
  display: inline-flex;
  flex: 0 0 auto;
}

.dc-btn_full-width {
  width: 100%;
}

.dc-btn_circle,
.dc-btn_no-padding {
  padding-right: 0;
  padding-left: 0;
}

.dc-btn_rounded {
  border-radius: calc(var(--dc-btn-height) / 2);
  padding-right: calc(var(--dc-btn-height) / 2);
  padding-left: calc(var(--dc-btn-height) / 2);
}

.dc-btn_circle {
  border-radius: 50%;
}

.dc-btn_loading {
  pointer-events: none;
}

.dc-btn_loading > * {
  opacity: 0;
}

.dc-btn_loading > .dc-btn__spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 1;
}
