.dc-button {
  $font-size-px: rem-to-px($font-size-sm);

  --dc-btn-text-color: var(--dc-btn-default-text-color);
  --dc-btn-bg: var(--dc-btn-default-bg);
  --dc-btn-bg-hover: var(--dc-btn-default-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-default-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-default-focus-ring-color);
  --dc-btn-shadow: 0 1px 2px #{rgba(black, $opacity-5)};
  --dc-btn-shadow-focus: 0 0 0 2px #{$white},
    0 0 0 4px var(--dc-btn-focus-ring-color);

  position: relative;
  box-sizing: border-box;
  width: auto;
  height: px-to-em(32px, $font-size-px);
  min-width: px-to-em(32px, $font-size-px);
  max-width: 100%;
  padding: 0 px-to-em(14px, $font-size-px);
  cursor: pointer;
  user-select: none;
  transition: $transition-quick;
  transition-property: opacity, border-color, background-color, box-shadow;
  text-decoration: none;
  letter-spacing: $tracking-tight;
  color: var(--dc-btn-text-color);
  border: 1px solid rgba(black, $opacity-15);
  border-radius: px-to-em(rem-to-px($border-radius-md), $font-size-px);
  background: var(--dc-btn-bg);
  box-shadow: var(--dc-btn-shadow);
  font-family: var(--dc-font-base);
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  line-height: $leading-default;

  &:focus {
    outline: none;
    box-shadow: var(--dc-btn-shadow), var(--dc-btn-shadow-focus);
  }

  &:hover:enabled {
    background: var(--dc-btn-bg-hover);
  }

  &:active:enabled {
    background: var(--dc-btn-bg-active);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: $opacity-50;
    box-shadow: none;
  }
}

.dc-button_size_xs {
  font-size: $font-size-2xs;
}

.dc-button_size_sm {
  font-size: $font-size-xs;
}

.dc-button_size_lg {
  font-size: $font-size-base;
}

.dc-button_secondary,
.dc-button_minimal {
  border-color: transparent;
  box-shadow: none;

  &:focus {
    box-shadow: var(--dc-btn-shadow-focus);
  }

  &:disabled {
    box-shadow: none;
  }
}

.dc-button_secondary {
  --dc-btn-text-color: var(--dc-btn-secondary-text-color);
  --dc-btn-bg: var(--dc-btn-secondary-bg);
  --dc-btn-bg-hover: var(--dc-btn-secondary-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-secondary-bg-active);
}

.dc-button_minimal {
  --dc-btn-text-color: var(--dc-btn-minimal-text-color);
  --dc-btn-bg: var(--dc-btn-minimal-bg);
  --dc-btn-bg-hover: var(--dc-btn-minimal-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-minimal-bg-active);
}

.dc-button_primary {
  --dc-btn-text-color: var(--dc-btn-primary-text-color);
  --dc-btn-bg: var(--dc-btn-primary-bg);
  --dc-btn-bg-hover: var(--dc-btn-primary-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-primary-bg-active);
}

.dc-button_danger {
  --dc-btn-text-color: var(--dc-btn-danger-text-color);
  --dc-btn-bg: var(--dc-btn-danger-bg);
  --dc-btn-bg-hover: var(--dc-btn-danger-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-danger-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-danger-focus-ring-color);
}

.dc-button_success {
  --dc-btn-text-color: var(--dc-btn-success-text-color);
  --dc-btn-bg: var(--dc-btn-success-bg);
  --dc-btn-bg-hover: var(--dc-btn-success-bg-hover);
  --dc-btn-bg-active: var(--dc-btn-success-bg-active);
  --dc-btn-focus-ring-color: var(--dc-btn-success-focus-ring-color);
}

.dc-button__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dc-button__body > * + * {
  margin-left: $gap-2x;
}

.dc-button__icon {
  display: inline-flex;
  flex: 0 0 auto;
}

.dc-button__spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dc-button_loading {
  pointer-events: none;

  .dc-button__body {
    opacity: 0;
  }
}

.dc-button_full-width {
  width: 100%;
}

.dc-button_no-padding {
  padding-right: 0;
  padding-left: 0;
}
