@use 'sass:math' as math;

$_calendar-cell-gap: $gap-2x;
$_calendar-cell-size: px-to-rem(30px);
$_calendar-day-border: 1px dashed var(--dc-calendar-border-color);


.dc-calendar {
  font-family: var(--dc-font-base);
}

.dc-calendar-header {
  display: flex;
  align-items: center;
}

.dc-calendar-header > * + * {
  margin-left: $gap-1x;
}

.dc-calendar-header__title {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  flex: auto;
  text-align: center;
  color: var(--dc-calendar-text-color);
}

.dc-calendar-header__title::first-letter {
  text-transform: uppercase;
}

.dc-calendar-header__btn {
  color: var(--dc-calendar-arrow-color);
}

.dc-calendar__row-group > * + * {
  margin-top: $_calendar-cell-gap;
}

.dc-calendar__row-group > *:first-child {
  justify-content: flex-end;
}

.dc-calendar-row {
  display: flex;
}

.dc-calendar-row_head {
  margin-bottom: $gap-2x;
  padding: $gap-2x 0;
  border-bottom: 1px solid var(--dc-calendar-border-secondary-color);
}

.dc-calendar-row_head > * {
  font-size: $font-size-xs;
  flex: 1 0 $_calendar-cell-size;
  text-align: center;
  color: var(--dc-calendar-text-secondary-color);
}

.dc-calendar-row_head > * + * {
  margin-left: $_calendar-cell-gap;
}

.dc-calendar-day {
  position: relative;
  flex: 0 0 $_calendar-cell-size;
  height: $_calendar-cell-size;
  color: var(--dc-calendar-text-color);
}

.dc-calendar-day::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border-radius: inherit;
}

.dc-calendar-day__btn {
  font-size: $font-size-sm;
  line-height: 1;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: $_calendar-cell-size;
  height: $_calendar-cell-size;
  margin: 0;
  padding: 0;
  text-align: center;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 50%;
  background: none;
  appearance: none;
}

.dc-calendar-day__btn:hover {
  z-index: 1;
  border-color: var(--dc-calendar-border-color);
}

.dc-calendar-day__btn:focus {
  z-index: 1;
  outline: none;
  @include focus-ring;
}

.dc-calendar-day_range-preview-start:not(.dc-calendar-day_selected) .dc-calendar-day__btn,
.dc-calendar-day_range-preview-end:not(.dc-calendar-day_selected) .dc-calendar-day__btn {
  border-color: var(--dc-calendar-border-color);
}

.dc-calendar-day + .dc-calendar-day {
  padding-left: $_calendar-cell-gap;
}

.dc-calendar-day + .dc-calendar-day_range-start,
.dc-calendar-day + .dc-calendar-day_range-preview-start {
  margin-left: $_calendar-cell-gap;
  padding-left: 0;
}

.dc-calendar-day_in-range::before {
  background: $blue-100;
}

.dc-calendar-day_in-range-preview::before {
  border-top: $_calendar-day-border;
  border-bottom: $_calendar-day-border;
}

.dc-calendar-day_in-range-preview:first-child::before,
.dc-calendar-day_in-range-preview.dc-calendar-day_range-preview-start::before {
  border-left: $_calendar-day-border;
}

.dc-calendar-day_in-range-preview:last-child::before,
.dc-calendar-day_in-range-preview.dc-calendar-day_range-preview-end::before {
  border-right: $_calendar-day-border;
}

.dc-calendar-day_range-start,
.dc-calendar-day_range-preview-start,
.dc-calendar-day:first-child {
  border-top-left-radius: math.div($_calendar-cell-size, 2);
  border-bottom-left-radius: math.div($_calendar-cell-size, 2);
}

.dc-calendar-day_range-end,
.dc-calendar-day_range-preview-end,
.dc-calendar-day:last-child {
  border-top-right-radius: math.div($_calendar-cell-size, 2);
  border-bottom-right-radius: math.div($_calendar-cell-size, 2);
}

.dc-calendar-day_current {
  color: var(--dc-calendar-current-day-text-color);
}

.dc-calendar-day_selected {
  color: var(--dc-calendar-selected-day-text-color);
}

.dc-calendar-day_selected .dc-calendar-day__btn {
  background: var(--dc-calendar-selected-day-bg-color);
}

.dc-calendar-day_selected .dc-calendar-day__btn:hover {
  border-color: var(--dc-calendar-selected-day-bg-color);
}
