.dc-checkbox {
  --dc-selection-control-size: var(--dc-checkbox-size);

  position: relative;
}

.dc-checkbox__input {
  @include visually-hidden;
}

.dc-checkbox__check {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-checkbox-size);
  height: var(--dc-checkbox-size);
  cursor: pointer;
  border-radius: $border-radius-xs;
  border: 0.0625rem solid var(--dc-control-border-color);
  background: var(--dc-control-bg-color);

  .dc-checkbox__input:checked + & {
    color: var(--dc-control-accent-text-color);
    border-color: var(--dc-control-accent-color);
    background: var(--dc-control-accent-color);
  }

  .dc-checkbox__input:focus + & {
    border-color: var(--dc-control-accent-color);
    @include focus-ring(var(--dc-focus-ring-color));
  }

  .dc-checkbox__input:disabled + & {
    cursor: default;
    border-color: var(--dc-control-disabled-border-color);
    background: var(--dc-control-disabled-bg-color);
  }
}

.dc-checkbox__check-icon {
  display: none;

  .dc-checkbox__input:checked + .dc-checkbox__check > & {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
  }

  .dc-checkbox__input:disabled + .dc-checkbox__check > & {
    color: var(--dc-control-disabled-text-color);
  }
}
