$_checkbox-size: 1.125rem;
$_checkbox-label-gap: $gap-3x;

.dc-checkbox {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--dc-font-base);
}

.dc-checkbox__box {
  display: flex;
  user-select: none;
}

.dc-checkbox__input {
  @include visually-hidden;
}

.dc-checkbox__check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: $_checkbox-size;
  height: $_checkbox-size;
  cursor: pointer;
  border-radius: $border-radius-xs;
  border: 0.0625rem solid var(--dc-control-border-color);
  background: var(--dc-control-bg-color);

  .dc-checkbox__input:checked + & {
    color: var(--dc-control-accent-text-color);
    border-color: var(--dc-control-accent-color);
    background: var(--dc-control-accent-color);
  }

  .dc-checkbox__input:focus + & {
    border-color: var(--dc-control-accent-color);
    @include focus-ring(var(--dc-focus-ring-color));
  }

  .dc-checkbox__input:disabled + & {
    cursor: default;
    border-color: var(--dc-control-disabled-border-color);
    background: var(--dc-control-disabled-bg-color);
  }
}

.dc-checkbox__check-icon {
  width: 0.9em;
  height: 0.9em;
  opacity: 0;

  .dc-checkbox__input:checked + .dc-checkbox__check > & {
    opacity: 1;
  }

  .dc-checkbox__input:disabled + .dc-checkbox__check > & {
    color: var(--dc-control-disabled-text-color);
  }
}

.dc-checkbox__label {
  display: inline-block;
  margin-left: $_checkbox-label-gap;
  color: var(--dc-primary-text-color);
  font-size: $font-size-base;
  line-height: 1.125rem;
  @include text-truncate;

  .dc-checkbox__input:disabled ~ & {
    color: var(--dc-control-disabled-text-color);
  }
}

.dc-checkbox__description {
  margin-top: $gap-1x;
  padding-left: $_checkbox-size + $_checkbox-label-gap;
  color: var(--dc-secondary-text-color);
  font-size: $font-size-sm;
  line-height: $leading-tight;
}
