@use '../abstracts' as dc;

.dc-date-preset-picker-popover {
  max-width: initial;
  max-height: initial;
}

.dc-date-preset-picker {
}

.dc-date-preset-picker__body {
  display: flex;
}

.dc-date-preset-picker__body > * + * {
  margin-left: dc.$gap-6x;
}

.dc-date-preset-picker_phone-view .dc-date-preset-picker__body {
  flex-direction: column;
}

.dc-date-preset-picker_phone-view .dc-date-preset-picker__body > * + * {
  margin-top: dc.$gap-4x;
  margin-left: 0;
}

.dc-date-preset-picker__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: dc.$gap-4x;
  padding-top: dc.$gap-4x;
  border-top: 1px solid var(--dc-secondary-border-color);
}

.dc-date-preset-picker__footer > * + * {
  margin-left: dc.$gap-4x;
}

.dc-date-preset-picker__selection {
  font-size: dc.$font-size-xs;
  text-align: right;
}

.dc-date-preset-picker__selection > * {
  display: block;
}

.dc-date-preset-picker__selection > small {
  font-size: dc.$font-size-2xs;
  color: var(--dc-secondary-text-color);
}

.dc-date-preset-picker__btns {
  display: flex;
  align-items: center;
}

.dc-date-preset-picker__btns > * + * {
  margin-left: dc.$gap-2x;
}

.dc-date-preset-picker_phone-view .dc-date-preset-picker__footer {
  align-items: stretch;
  flex-direction: column;
  padding-top: 0;
  border-top: none;
}

.dc-date-preset-picker_phone-view .dc-date-preset-picker__footer > * + * {
  margin-top: dc.$gap-3x;
  margin-left: 0;
}

.dc-date-preset-picker_phone-view .dc-date-preset-picker__btns > * {
  flex: 1 0 50%;
}
