.dc-error-message {
  display: inline-flex;
  align-items: flex-start;
  color: var(--dc-error-message-text-color);
  font-family: var(--dc-font-base);
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: $leading-tight;
}

.dc-error-message__icon {
  flex-shrink: 0;
  margin-right: $gap-2x;
  transform: translateY(0.0625rem);
  line-height: $leading-normal;
}
