.dc-error-message {
  display: inline-flex;
  align-items: flex-start;
  color: var(--dc-error-message-text-color);
  font-weight: $font-weight-medium;
}

.dc-error-message__icon {
  flex-shrink: 0;
  margin-right: $gap-1x;
  line-height: $leading-normal;
}
