.dc-field-group {
  //background: lightgray;
}

.dc-field-group__label {
  display: inline-block;
  margin-bottom: $gap-1x;
}

.dc-field-group__field {
}

.dc-field-group__hint,
.dc-field-group__error {
  width: 100%;
  margin-top: $gap-1x;
}
