$_flash-message-font-size: $font-size-base;
$_flash-message-leading: $leading-normal;

.dc-flash-message {
  display: flex;
  width: 100%;
  max-width: 40rem;
  color: var(--dc-flash-message-text-color);
  border-radius: $border-radius-lg;
  background: var(--dc-flash-message-bg);
  box-shadow: $shadow-sm, $shadow-lg;
  font-family: var(--dc-font-base);
  font-size: $_flash-message-font-size;
  line-height: $_flash-message-leading;
}

.dc-flash-message__body {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;
  padding: $gap-4x;
}

.dc-flash-message__icon {
  flex-shrink: 0;
  width: $_flash-message-font-size * $_flash-message-leading;
  height: $_flash-message-font-size * $_flash-message-leading;
  color: var(--dc-flash-message-icon-color);
  margin-right: $gap-4x;
}

.dc-flash-message__content {
}

.dc-flash-message__action-btn {
  flex-shrink: 0;
  padding: $gap-2x $gap-4x;
  transition: $transition-quick;
  transition-property: opacity, background-color, box-shadow;
  cursor: pointer;
  color: inherit;
  opacity: $opacity-70;
  border: none;
  border-left: 0.0625rem solid var(--dc-flash-message-border-color);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: none;
  font-size: $font-size-sm;
  line-height: 1;
  appearance: none;

  &:hover {
    opacity: $opacity-100;
    background: var(--dc-flash-message-bg-hover);
  }

  &:focus {
    outline: none;
    @include focus-ring;
  }
}

.dc-flash-message_full_width {
  max-width: 100%;
}

.dc-flash-message_appearance_warning {
  --dc-flash-message-icon-color: #{$orange-500};
}

.dc-flash-message_appearance_error {
  --dc-flash-message-icon-color: #{$red-600};
}

.dc-flash-message_appearance_info {
  --dc-flash-message-icon-color: #{$blue-400};
}

.dc-flash-message_appearance_success {
  --dc-flash-message-icon-color: #{$green-400};
}
