@use '../abstracts' as dc;

.dc-form-field {
}

.dc-form-field__label {
  display: inline-block;
  margin-bottom: dc.$gap-1x;
}

.dc-form-field__input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dc-form-field__hint,
.dc-form-field__error {
  width: 100%;
  margin-top: dc.$gap-1x;
}
