@mixin icon-button-size($default-size) {
  height: $default-size - 0.25rem;
  width: $default-size - 0.25rem;
}

.dc-icon-button {
  @include icon-button-size($button-size);
  min-width: initial;
  padding: 0;
  font-size: 1rem;

  .dc-button__body {
    font-size: 1.25em;
  }
}

.dc-icon-button_rounded {
  border-radius: 50%;
}

.dc-icon-button.dc-button_size_xs {
  @include icon-button-size($button-xs-size);

  .dc-button__body {
    font-size: 1em;
  }
}

.dc-icon-button.dc-button_size_sm {
  @include icon-button-size($button-sm-size);

  .dc-button__body {
    font-size: 1.125em;
  }
}

.dc-icon-button.dc-button_size_lg {
  @include icon-button-size($button-lg-size);

  .dc-button__body {
    font-size: 1.5em;
  }
}
