.dc-input {
  position: relative;
  box-sizing: border-box;
  width: var(--dc-input-width);
  height: var(--dc-input-height);
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  transition: $transition-quick;
  transition-property: color, border-color, background-color, box-shadow;
  color: var(--dc-input-text-color);
  border-radius: var(--dc-input-border-radius);
  background: var(--dc-input-bg);
  box-shadow: 0 0 0 1px var(--dc-input-border-color);
  font-family: var(--dc-font-base);
  font-size: var(--dc-input-font-size);
  font-weight: $font-weight-normal;
  line-height: 1;
  appearance: none;

  &::placeholder {
    opacity: $opacity-40;
    color: inherit;
  }
}

.dc-input:focus,
.dc-input_focused {
  --dc-input-focus-color: var(--dc-input-accent-color);

  outline: none;
  box-shadow: 0 0 0 2px var(--dc-input-focus-color);
}

.dc-input_invalid {
  --dc-input-border-color: var(--dc-input-error-color);
}

.dc-input_invalid:focus,
.dc-input_invalid.dc-input_focused {
  --dc-input-focus-color: var(--dc-input-error-color);
}

.dc-input:disabled,
.dc-input[disabled],
.dc-input_disabled {
  --dc-input-border-color: var(--dc-input-disabled-border-color);

  pointer-events: none;
  color: var(--dc-input-disabled-text-color);
  background-color: var(--dc-input-disabled-bg);
  -webkit-text-fill-color: var(--dc-input-disabled-text-color);
}

.dc-input_size_sm {
  --dc-input-width: #{px-to-rem(224px)};
  --dc-input-height: var(--dc-control-sm-h);
  --dc-input-border-radius: #{$border-radius-xs};
  --dc-input-font-size: #{px-to-rem(13px)};
}

.dc-input_size_lg {
  --dc-input-width: #{px-to-rem(320px)};
  --dc-input-height: var(--dc-control-lg-h);
  --dc-input-border-radius: #{$border-radius-sm};
  --dc-input-font-size: #{px-to-rem(15px)};
}

.dc-input_full_width {
  width: 100% !important;
}
