.dc-label {
  position: relative;
  color: var(--dc-label-text-color);
  font-weight: $font-weight-medium;
}

.dc-label_required::after {
  padding-left: $gap-1x;
  content: '*';
  color: var(--dc-label-required-mark-color);
}
