.dc-loading-view {
  font-family: var(--dc-font-base);
  font-size: $font-size-base;
  padding-right: $gap-4x;
  padding-left: $gap-4x;
  text-align: center;
  color: var(--dc-primary-text-color);
}

.dc-loading-view__spinner {
  color: var(--dc-secondary-text-color);
}

.dc-loading-view__content {
  margin-top: $gap-3x;
}

.dc-loading-view_pad-y_none {
  padding-top: 0;
  padding-bottom: 0;
}

.dc-loading-view_pad-y_2xs {
  padding-top: $gap-1x;
  padding-bottom: $gap-1x;
}

.dc-loading-view_pad-y_xs {
  padding-top: $gap-2x;
  padding-bottom: $gap-2x;
}

.dc-loading-view_pad-y_sm {
  padding-top: $gap-4x;
  padding-bottom: $gap-4x;
}

.dc-loading-view_pad-y_md {
  padding-top: $gap-8x;
  padding-bottom: $gap-8x;
}

.dc-loading-view_pad-y_lg {
  padding-top: $gap-16x;
  padding-bottom: $gap-16x;
}

.dc-loading-view_pad-y_xl {
  padding-top: $gap-20x;
  padding-bottom: $gap-20x;
}

.dc-loading-view_pad-y_2xl {
  padding-top: $gap-24x;
  padding-bottom: $gap-24x;
}
