@use '../abstracts' as dc;

.dc-loading-view {
  font-family: var(--dc-font-base);
  font-size: dc.$font-size-base;
  padding-right: dc.$gap-4x;
  padding-left: dc.$gap-4x;
  text-align: center;
  color: var(--dc-primary-text-color);
}

.dc-loading-view__spinner {
  color: var(--dc-secondary-text-color);
}

.dc-loading-view__content {
  margin-top: dc.$gap-3x;
}

.dc-loading-view_pad-y_none {
  padding-top: 0;
  padding-bottom: 0;
}

.dc-loading-view_pad-y_2xs {
  padding-top: dc.$gap-1x;
  padding-bottom: dc.$gap-1x;
}

.dc-loading-view_pad-y_xs {
  padding-top: dc.$gap-2x;
  padding-bottom: dc.$gap-2x;
}

.dc-loading-view_pad-y_sm {
  padding-top: dc.$gap-4x;
  padding-bottom: dc.$gap-4x;
}

.dc-loading-view_pad-y_md {
  padding-top: dc.$gap-8x;
  padding-bottom: dc.$gap-8x;
}

.dc-loading-view_pad-y_lg {
  padding-top: dc.$gap-16x;
  padding-bottom: dc.$gap-16x;
}

.dc-loading-view_pad-y_xl {
  padding-top: dc.$gap-20x;
  padding-bottom: dc.$gap-20x;
}

.dc-loading-view_pad-y_2xl {
  padding-top: dc.$gap-24x;
  padding-bottom: dc.$gap-24x;
}
