.dc-non-ideal-state {
  box-sizing: border-box;
  padding-right: $gap-4x;
  padding-left: $gap-4x;
  text-align: center;
  color: var(--dc-non-ideal-state-text-color);
  font-family: var(--dc-font-base);
  font-size: $font-size-base;
}

.dc-non-ideal-state__body {
  max-width: 36rem;
  margin: 0 auto;
}

.dc-non-ideal-state__icon {
  margin-bottom: $gap-8x;
  color: var(--dc-non-ideal-state-icon-color);
}

.dc-non-ideal-state__icon_red {
  color: $red-500;
}

.dc-non-ideal-state__icon_orange {
  color: $orange-500;
}

.dc-non-ideal-state__icon_blue {
  color: $blue-500;
}

.dc-non-ideal-state__icon_green {
  color: $green-500;
}

.dc-non-ideal-state__description {
  margin-top: $gap-2x;
}

.dc-non-ideal-state__actions {
  margin-top: $gap-4x;
}

.dc-non-ideal-state__content {
  margin-top: $gap-4x;
}

.dc-non-ideal-state_spacing_none {
  padding-top: 0;
  padding-bottom: 0;
}

.dc-non-ideal-state_spacing_2xs {
  padding-top: $gap-1x;
  padding-bottom: $gap-1x;
}

.dc-non-ideal-state_spacing_xs {
  padding-top: $gap-2x;
  padding-bottom: $gap-2x;
}

.dc-non-ideal-state_spacing_sm {
  padding-top: $gap-4x;
  padding-bottom: $gap-4x;
}

.dc-non-ideal-state_spacing_md {
  padding-top: $gap-8x;
  padding-bottom: $gap-8x;
}

.dc-non-ideal-state_spacing_lg {
  padding-top: $gap-16x;
  padding-bottom: $gap-16x;
}

.dc-non-ideal-state_spacing_xl {
  padding-top: $gap-20x;
  padding-bottom: $gap-20x;
}

.dc-non-ideal-state_spacing_2xl {
  padding-top: $gap-24x;
  padding-bottom: $gap-24x;
}
