@use '../abstracts' as dc;

.dc-number-input {
  display: inline-flex;
  align-items: center;
}

.dc-number-input_full-width {
  width: 100%;
}

.dc-number-input > * + * {
  margin-left: dc.$gap-1x;
}

.dc-number-input__text-input {
  flex: auto;
  width: dc.px-to-rem(160px);
}
