.dc-number-input {
  display: inline-flex;
  align-items: center;
}

.dc-number-input_full-width {
  width: 100%;
}

.dc-number-input > * + * {
  margin-left: $gap-1x;
}

.dc-number-input__text-input {
  flex: auto;
  width: px-to-rem(160px);
}
