.dc-radio-group {
  font-family: var(--dc-font-base);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.dc-radio-group > * + * {
  margin-top: $gap-2x;
}

.dc-radio-group-input {
  @include visually-hidden;
}

.dc-radio-group-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: $gap-2x $gap-4x;
  cursor: default;
  border: 2px solid var(--dc-radio-group-border-color);
  border-radius: $border-radius-md;
}

.dc-radio-group-item__check {
  display: inline-block;
  width: px-to-rem(18px);
  height: px-to-rem(18px);
  color: var(--dc-radio-group-selection-color);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--dc-radio-group-border-color);
}

.dc-radio-group-item__check-icon {
  visibility: hidden;
}

.dc-radio-group-item > * + * {
  margin-left: $gap-4x;
}

.dc-radio-group-item__body {
  font-size: $font-size-sm;
  flex: auto;
}

.dc-radio-group-item__label {
  font-weight: $font-weight-medium;
  margin: 0;
  padding: 0;
  color: var(--dc-primary-text-color);
}

.dc-radio-group-item__description {
  margin-top: $gap-1x;
  color: var(--dc-secondary-text-color);
}

.dc-radio-group-input:checked ~ .dc-radio-group-item {
  border-color: var(--dc-radio-group-selection-color);
}

.dc-radio-group-input:checked
  ~ .dc-radio-group-item
  .dc-radio-group-item__check-icon {
  visibility: visible;
}

.dc-radio-group-input:focus ~ .dc-radio-group-item {
  outline: none;
  box-shadow: 0 0 0 3px var(--dc-focus-ring-color);
}

.dc-radio-group-input:disabled ~ .dc-radio-group-item {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-radio-group_type_simple-list > * + * {
  margin-top: $gap-1x;
}

.dc-radio-group_type_simple-list .dc-radio-group-item {
  display: inline-flex;
  padding: $gap-1x;
  border: none;
  border-radius: $border-radius-sm;
}

.dc-radio-group_type_simple-list .dc-radio-group-item__label {
  font-weight: $font-weight-normal;
}
