.dc-radio-button {
  --dc-selection-control-size: var(--dc-radio-button-size);
}

.dc-radio-button__input {
  @include visually-hidden;
}

.dc-radio-button__radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-radio-button-size);
  height: var(--dc-radio-button-size);
  cursor: pointer;
  color: var(--dc-control-accent-text-color);
  border-radius: 50%;
  border: 0.0625rem solid var(--dc-control-border-color);
  background: var(--dc-control-bg-color);

  .dc-radio-button__input:checked + & {
    position: relative;
    color: var(--dc-control-accent-text-color);
    border-color: var(--dc-control-accent-color);
    background: var(--dc-control-accent-color);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-flex;
      width: calc(var(--dc-radio-button-size) / 2.61802);
      height: calc(var(--dc-radio-button-size) / 2.61802);
      content: '';
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: currentColor;
      box-shadow: $shadow-xs;
    }
  }

  .dc-radio-button__input:focus + & {
    border-color: var(--dc-control-accent-color);
    @include focus-ring(var(--dc-focus-ring-color));
  }

  .dc-radio-button__input:disabled + & {
    cursor: default;
    border-color: var(--dc-control-disabled-border-color);
    background: var(--dc-control-disabled-bg-color);

    &::after {
      color: var(--dc-control-disabled-text-color);
    }
  }
}
