.dc-radio-btn {
  --dc-selection-control-size: var(--dc-radio-button-size);

  position: relative;
}

.dc-radio-btn__input {
  @include visually-hidden;
}

.dc-radio-btn__radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-radio-button-size);
  height: var(--dc-radio-button-size);
  cursor: pointer;
  color: var(--dc-field-accent-text-color);
  border-radius: 50%;
  border: 0.0625rem solid var(--dc-field-border-color);
  background: var(--dc-field-bg-color);

  .dc-radio-btn__input:checked + & {
    position: relative;
    color: var(--dc-field-accent-text-color);
    border-color: var(--dc-field-accent-color);
    background: var(--dc-field-accent-color);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-flex;
      width: calc(var(--dc-radio-button-size) / 2.61802);
      height: calc(var(--dc-radio-button-size) / 2.61802);
      content: '';
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: currentColor;
      box-shadow: $shadow-xs;
    }
  }

  .dc-radio-btn__input:focus + & {
    box-shadow: 0 0 0 2px #{$white}, 0 0 0 4px var(--dc-field-accent-color);
  }

  .dc-radio-btn__input:disabled + & {
    cursor: default;
    border-color: var(--dc-field-disabled-border-color);
    background: var(--dc-field-disabled-bg-color);

    &::after {
      color: var(--dc-field-disabled-text-color);
    }
  }
}
