@use '../abstracts' as dc;

.dc-radio-btn {
  --dc-selection-control-size: var(--dc-radio-btn-size);
}

.dc-radio-btn {
  position: relative;
}

.dc-radio-btn__input {
  @include dc.visually-hidden;
}

.dc-radio-btn__radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-radio-btn-size);
  height: var(--dc-radio-btn-size);
  cursor: pointer;
  color: var(--dc-input-accent-secondary-color);
  border: var(--dc-input-border);
  border-radius: 50%;
  background: var(--dc-input-bg);
}

.dc-radio-btn__input:checked + .dc-radio-btn__radio {
  position: relative;
  color: var(--dc-input-accent-secondary-color);
  border-color: var(--dc-input-accent-color);
  background: var(--dc-input-accent-color);
}

.dc-radio-btn__input:checked + .dc-radio-btn__radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-flex;
  width: calc(var(--dc-radio-btn-size) / 2.618);
  height: calc(var(--dc-radio-btn-size) / 2.618);
  content: '';
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: currentColor;
  box-shadow: dc.$shadow-xs;
}

.dc-radio-btn__input:focus + .dc-radio-btn__radio {
  box-shadow: 0 0 0 3px var(--dc-focus-ring-color);
}

.dc-radio-btn__input:disabled + .dc-radio-btn__radio {
  cursor: default;
  border-color: var(--dc-input-disabled-border-color);
  background: var(--dc-input-disabled-bg);
}

.dc-radio-btn__input:disabled + .dc-radio-btn__radio::after {
  color: var(--dc-input-disabled-text-color);
}
