@use '../abstracts' as dc;

.dc-secret {
  font-family: var(--dc-font-code);
  position: relative;
  display: inline-block;
  word-break: break-word;
}

.dc-secret__content {
  text-align: left;
  opacity: dc.$opacity-75;
}

.dc-secret__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.dc-secret_shown {
  font-size: 0.875em;
  text-align: right;
}

.dc-secret_shown .dc-secret__btn {
  position: initial;
  margin-top: dc.$gap-2x;
  transform: none;
}
