.dc-segmented-control {
  position: relative;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: px-to-rem(1px) px-to-rem(2px);
  list-style: none;
  border-radius: $border-radius-lg;
  background: rgba($gray-900, $opacity-5);
}

.dc-segmented-control_size_sm {
  border-radius: $border-radius-md;
}

.dc-segmented-control_size_lg {
  border-radius: $border-radius-xl;
}

.dc-segmented-control__radio-btn {
  flex: auto;
  white-space: nowrap;
}

.dc-segmented-control__radio-btn:focus {
  z-index: 1;
}

.dc-segmented-control__radio-btn.dc-btn_default:hover {
  background: var(--dc-btn-default-bg);
}
