@function select-arrow-icon($color) {
  @return inline-svg(
      '<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 11L6 14L9 11" stroke="#{$color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 5L6 2L3 5" stroke="#{$color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
  );
}

.dc-select {
  line-height: $leading-default;
  width: auto;
  padding-right: calc(1.25em + var(--dc-input-gap));
  padding-left: var(--dc-input-gap);
  cursor: pointer;
  color: initial;
  border: none;
  background-image: select-arrow-icon($gray-600);
  background-repeat: no-repeat;
  background-position: calc(100% - var(--dc-input-gap)) center;
  background-size: 0.85em auto;
  box-shadow: 0 0 0 1px var(--dc-input-border-color), $shadow-xs;
}

.dc-select:disabled {
  background-image: select-arrow-icon($gray-400);
}

.dc-select[multiple] {
  height: initial;
  padding: $gap-2x 0;
  background: var(--dc-input-bg);
}

.dc-select option {
  padding: $gap-1x $gap-3x;
}
