@use 'sass:math' as math;
@use '../abstracts' as dc;

@mixin thumb {
  box-sizing: border-box;
  width: var(--dc-slider-thumb-width);
  height: var(--dc-slider-thumb-height);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: var(--dc-slider-thumb-bg);
  box-shadow: (
    0 0 0 1px rgba(black, dc.$opacity-10),
    0 2px 3px rgba(black, dc.$opacity-15)
  );
  appearance: none;
}

@mixin thumb-rect {
  border-radius: calc(var(--dc-slider-thumb-width) / 2);
}

@mixin thumb-focus {
  box-shadow: (
    0 0 0 1px rgba(black, dc.$opacity-10),
    0 2px 3px rgba(black, dc.$opacity-15),
    0 0 0 2px var(--dc-focus-border-color)
  );
}

.dc-slider {
  font-family: var(--dc-font-base);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dc-slider_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-slider_thumb_rect {
  --dc-slider-thumb-width: 10px;
}

.dc-slider__input {
  font: inherit;
  width: inherit;
  height: var(--dc-slider-track-height);
  margin: (
    calc((var(--dc-slider-thumb-height) - var(--dc-slider-track-height)) / 2) 0
  );
  padding: 0;
  border-radius: 2px;
  background: var(--dc-slider-track-bg);
  box-shadow: inset 0 0 0 1px rgba(black, 0.03);
  appearance: none;
}

.dc-slider__input:focus {
  outline: none;
}

.dc-slider__input::-webkit-slider-thumb {
  @include thumb;
}

.dc-slider__input::-moz-range-thumb {
  @include thumb;
}

.dc-slider__input::-ms-thumb {
  @include thumb;
}

.dc-slider__input:focus::-webkit-slider-thumb {
  @include thumb-focus;
}

.dc-slider__input:focus::-moz-range-thumb {
  @include thumb-focus;
}

.dc-slider__input:focus::-ms-thumb {
  @include thumb-focus;
}

.dc-slider_thumb_rect .dc-slider__input::-webkit-slider-thumb {
  @include thumb-rect;
}

.dc-slider_thumb_rect .dc-slider__input::-moz-range-thumb {
  @include thumb-rect;
}

.dc-slider_thumb_rect .dc-slider__input::-ms-thumb {
  @include thumb-rect;
}

.dc-slider__tick-marks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: dc.$gap-1x;
}

.dc-slider-tick-mark {
  font-size: dc.$font-size-xs;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--dc-slider-thumb-width);
  text-align: center;
  white-space: nowrap;
  color: var(--dc-slider-tick-mark-color);
}

.dc-slider-tick-mark::before {
  display: inline-block;
  flex: none;
  width: 2px;
  height: 8px;
  content: '';
  background: var(--dc-slider-track-bg);
}

.dc-slider-tick-mark__label {
  padding-top: dc.$gap-1x;
}
