.dc-switch {
  --dc-selection-control-size: 2rem;

  position: relative;
}

.dc-switch__input {
  @include visually-hidden;
}

.dc-switch__check {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  width: var(--dc-switch-w);
  height: var(--dc-switch-h);
  transition: $transition-quick;
  transition-property: border-color, background-color;
  cursor: pointer;
  border-radius: calc(var(--dc-switch-h) / 2);
  background: var(--dc-switch-bg-color);

  &::after {
    $offset: calc((var(--dc-switch-h) - var(--dc-switch-check-size)) / 2);

    position: absolute;
    top: $offset;
    left: $offset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--dc-switch-check-size);
    height: var(--dc-switch-check-size);
    content: '';
    transition: inherit;
    transition-property: transform, border-color;
    background: var(--dc-switch-check-color);
    box-shadow: $shadow-sm, $shadow-md;
    border-radius: 50%;
  }

  .dc-switch__input:checked + & {
    background: var(--dc-switch-accent-color);

    &::after {
      transform: translateX(#{calc(var(--dc-switch-w) - var(--dc-switch-h))});
    }
  }

  .dc-switch__input:focus + & {
    box-shadow: 0 0 0 2px #{$white}, 0 0 0 4px var(--dc-field-accent-color);
  }

  .dc-switch__input:disabled + & {
    cursor: default;
    opacity: var(--dc-disabled-state-opacity);
  }
}
