@use 'sass:math' as math;
@use '../abstracts' as dc;

.dc-tab {
  font-size: dc.$font-size-sm;
  line-height: dc.px-to-rem(40px);
  position: relative;
  display: inline-flex;
  align-items: baseline;
  height: dc.px-to-rem(40px);
  padding: 0 dc.$gap-2x;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  color: var(--dc-tab-text-color);
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: dc.$border-radius-md;
  background: none;
  appearance: none;
}

.dc-tab:focus {
  outline: none;
  @include dc.focus-ring-inset;
}

.dc-tab_selected {
  color: var(--dc-tab-selected-text-color);
  border-bottom-color: var(--dc-tab-pointer-color);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dc-tab__icon {
  flex: 0;
  margin-right: dc.$gap-3x;
}

.dc-tab__badge {
  $_size: dc.px-to-rem(20px);

  font-size: dc.$font-size-xs;
  line-height: $_size;
  display: inline-block;
  box-sizing: border-box;
  min-width: $_size;
  height: $_size;
  margin-left: dc.$gap-3x;
  padding: 0 dc.$gap-1x;
  color: var(--dc-tab-badge-text-color);
  border-radius: math.div($_size, 2);
  background: var(--dc-tab-badge-bg-color);
}

.dc-tab_selected .dc-tab__badge {
  color: var(--dc-tab-badge-selected-text-color);
  background: var(--dc-tab-selected-badge-bg-color);
}

.dc-tabs {
  font-family: var(--dc-font-base);
}

.dc-tabs__list {
  position: relative;
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid var(--dc-tabs-border-color);
}

.dc-tabs__list > .dc-tabs__tab + .dc-tabs__tab {
  margin-left: dc.$gap-2x;
}

.dc-tabs__tab-pointer {
}

.dc-tabs__panel {
}
