.dc-tag {
  --dc-tag-height: #{px-to-rem(26px)};
  --dc-tag-color: #{$gray-700};
  --dc-tag-fill-color: #{$gray-200};

  display: inline-flex;
  align-items: center;
  padding: 0 $gap-3x;
  min-height: var(--dc-tag-height);
  color: var(--dc-tag-color);
  border-radius: $border-radius-sm;
  background: var(--dc-tag-fill-color);
  font-family: var(--dc-font-base);
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  line-height: 1;
}

.dc-tag_size_sm {
  --dc-tag-height: #{px-to-rem(24px)};

  font-size: $font-size-xs;
}

.dc-tag_size_lg {
  --dc-tag-height: #{px-to-rem(28px)};

  border-radius: $border-radius-md;
  font-size: $font-size-base;
}

.dc-tag_rounded {
  border-radius: calc(var(--dc-tag-height) / 2);
  padding-right: calc(var(--dc-tag-height) / 2);
  padding-left: calc(var(--dc-tag-height) / 2);
}

.dc-tag__icon {
  margin-right: px-to-em(6px, 14px);
}

.dc-tag__text {
}

.dc-tag__btn {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0;
  margin-left: px-to-em(6px, 14px);
  transform: translateY(0.05em);
  transition: $transition-quick;
  transition-property: opacity;
  opacity: $opacity-60;
  cursor: pointer;
  color: inherit;
  border-radius: px-to-rem(1px);
  border: none;
  background: none;
  appearance: none;

  &:disabled {
    opacity: var(--dc-disabled-state-opacity);
    cursor: not-allowed;
  }

  &:enabled:hover {
    opacity: $opacity-100;
  }

  &:focus {
    outline: none;
    opacity: $opacity-100;
    box-shadow: 0 0 0 2px var(--dc-tag-fill-color), 0 0 0 4px currentColor;
  }
}

.dc-tag_color_blue {
  --dc-tag-color: #{$blue-800};
  --dc-tag-fill-color: #{$blue-100};
}

.dc-tag_color_cyan {
  --dc-tag-color: #{$cyan-900};
  --dc-tag-fill-color: #{$cyan-100};
}

.dc-tag_color_red {
  --dc-tag-color: #{$red-900};
  --dc-tag-fill-color: #{$red-100};
}

.dc-tag_color_green {
  --dc-tag-color: #{$green-800};
  --dc-tag-fill-color: #{$green-200};
}

.dc-tag_color_lime {
  --dc-tag-color: #{$lime-900};
  --dc-tag-fill-color: #{$lime-100};
}

.dc-tag_color_indigo {
  --dc-tag-color: #{$indigo-900};
  --dc-tag-fill-color: #{$indigo-100};
}

.dc-tag_color_yellow {
  --dc-tag-color: #{$yellow-900};
  --dc-tag-fill-color: #{$yellow-100};
}

.dc-tag_color_orange {
  --dc-tag-color: #{$orange-900};
  --dc-tag-fill-color: #{$orange-100};
}
