@use '../abstracts' as dc;

.dc-tag {
  --dc-tag-height: #{dc.px-to-rem(26px)};
  --dc-tag-color: #{dc.$gray-700};
  --dc-tag-fill-color: #{dc.$gray-200};
}

.dc-tag {
  font-family: var(--dc-font-base);
  font-size: dc.$font-size-sm;
  font-weight: dc.$font-weight-normal;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  min-height: var(--dc-tag-height);
  padding: 0 dc.$gap-3x;
  color: var(--dc-tag-color);
  border-radius: dc.$border-radius-sm;
  background: var(--dc-tag-fill-color);
}

.dc-tag_size_sm {
  font-size: dc.$font-size-xs;
  --dc-tag-height: #{dc.px-to-rem(24px)};
}

.dc-tag_size_lg {
  font-size: dc.$font-size-base;
  border-radius: dc.$border-radius-md;
  --dc-tag-height: #{dc.px-to-rem(28px)};
}

.dc-tag_rounded {
  padding-right: calc(var(--dc-tag-height) / 2);
  padding-left: calc(var(--dc-tag-height) / 2);
  border-radius: calc(var(--dc-tag-height) / 2);
}

.dc-tag__icon {
  margin-right: dc.px-to-em(6px, 14px);
}

.dc-tag__text {
}

.dc-tag__btn {
  display: inline-flex;
  box-sizing: border-box;
  margin-left: dc.px-to-em(6px, 14px);
  padding: 0;
  cursor: pointer;
  transition: dc.$transition-quick;
  transition-property: opacity;
  transform: translateY(0.05em);
  opacity: dc.$opacity-60;
  color: inherit;
  border: none;
  border-radius: dc.px-to-rem(1px);
  background: none;
  appearance: none;
}

.dc-tag__btn:disabled {
  cursor: not-allowed;
  opacity: var(--dc-disabled-state-opacity);
}

.dc-tag__btn:enabled:hover {
  opacity: dc.$opacity-100;
}

.dc-tag:focus {
  opacity: dc.$opacity-100;
  outline: none;
  box-shadow: 0 0 0 2px var(--dc-tag-fill-color), 0 0 0 4px currentColor;
}

.dc-tag_color_blue {
  --dc-tag-color: #{dc.$blue-800};
  --dc-tag-fill-color: #{dc.$blue-100};
}

.dc-tag_color_cyan {
  --dc-tag-color: #{dc.$cyan-900};
  --dc-tag-fill-color: #{dc.$cyan-100};
}

.dc-tag_color_red {
  --dc-tag-color: #{dc.$red-900};
  --dc-tag-fill-color: #{dc.$red-100};
}

.dc-tag_color_green {
  --dc-tag-color: #{dc.$green-800};
  --dc-tag-fill-color: #{dc.$green-200};
}

.dc-tag_color_lime {
  --dc-tag-color: #{dc.$lime-900};
  --dc-tag-fill-color: #{dc.$lime-100};
}

.dc-tag_color_indigo {
  --dc-tag-color: #{dc.$indigo-900};
  --dc-tag-fill-color: #{dc.$indigo-100};
}

.dc-tag_color_yellow {
  --dc-tag-color: #{dc.$yellow-900};
  --dc-tag-fill-color: #{dc.$yellow-100};
}

.dc-tag_color_orange {
  --dc-tag-color: #{dc.$orange-900};
  --dc-tag-fill-color: #{dc.$orange-100};
}
