.dc-text-field {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.dc-text-field__input {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: auto;
  height: inherit;
  min-width: 0;
  padding: 0 $control-gap;
  color: inherit;
  font: inherit;
  line-height: $control-height;
  border: none;
  background: none;

  .dc-base-control_size_sm & {
    line-height: $control-sm-height;
  }

  .dc-base-control_size_lg & {
    line-height: $control-lg-height;
  }

  &::placeholder {
    opacity: $opacity-40;
    color: inherit;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: inherit;
    -webkit-text-fill-color: inherit;
  }

  .dc-text-field_has_leading-add-on & {
    padding-left: $control-gap * 0.75;
  }

  .dc-text-field_has_trailing-add-on & {
    padding-right: $control-gap * 0.75;
  }
}

.dc-text-field__leading-add-on,
.dc-text-field__trailing-add-on {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0;
  color: var(--dc-control-add-on-color);
  border-radius: inherit;

  .dc-base-control_disabled & {
    color: var(--dc-control-disabled-add-on-color);
  }
}

.dc-text-field__leading-add-on {
  padding-left: $control-gap;
}

.dc-text-field__trailing-add-on {
  padding-right: $control-gap;
}
