.dc-text-field {
  display: inline-flex;
  align-items: center;
}

.dc-text-field__input {
  flex: auto;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  min-width: 0;
  padding: 0 calc(var(--dc-field-pad) * 0.75);
  color: inherit;
  border: none;
  background: none;
  font: inherit;
  line-height: var(--dc-field-h);

  &::placeholder {
    color: inherit;
    opacity: $opacity-40;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: inherit;
    -webkit-text-fill-color: inherit;
  }
}

.dc-text-field__add-on {
  display: inline-flex;
  flex: none;
  padding: 0;
  color: var(--dc-field-add-on-color);
  border-radius: inherit;

  .dc-field_disabled & {
    color: var(--dc-field-disabled-add-on-color);
  }
}

.dc-text-field > *:first-child {
  padding-left: var(--dc-field-pad);
}

.dc-text-field > *:last-child {
  padding-right: var(--dc-field-pad);
}
