.dc-text-input {
  display: inline-flex;
  align-items: center;
}

.dc-text-input__native-input {
  flex: auto;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  min-width: 0;
  padding: 0 calc(var(--dc-input-gap) * 0.75);
  color: inherit;
  border: none;
  background: none;
  font: inherit;
  line-height: var(--dc-input-height);
}

.dc-text-input__native-input::placeholder {
  color: inherit;
  opacity: $opacity-40;
}

.dc-text-input__native-input:focus {
  outline: none;
}

.dc-text-input__native-input:disabled {
  color: inherit;
  -webkit-text-fill-color: inherit;
}

.dc-text-input__add-on {
  display: inline-flex;
  flex: none;
  padding: 0;
  color: var(--dc-input-add-on-color);
  border-radius: inherit;
}

.dc-input_disabled .dc-text-input__add-on {
  color: var(--dc-input-disabled-add-on-color);
}

.dc-text-input > *:first-child {
  padding-left: var(--dc-input-gap);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.dc-text-input > *:last-child {
  padding-right: var(--dc-input-gap);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
