.toaster {
  position: fixed;
  z-index: $zindex-toast;
  right: $gap-2x;
  left: $gap-2x;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: none;
}

.toaster_position_top-left,
.toaster_position_top-center,
.toaster_position_top-right {
  top: $gap-2x;
}

.toaster_position_bottom-left,
.toaster_position_bottom-center,
.toaster_position_bottom-right {
  bottom: $gap-2x;
}

.toaster_position_top-left > *,
.toaster_position_bottom-left > * {
  text-align: left;
}

.toaster_position_top-center > *,
.toaster_position_bottom-center > * {
  text-align: center;
}

.toaster_position_top-right > *,
.toaster_position_bottom-right > * {
  text-align: right;
}

.toaster > * {
  position: absolute;
  right: 0;
  left: 0;
  transition: transform 250ms ease;
  transform: translateX(-50%, 0);
}

.toaster__item {
  animation: 250ms ease forwards;
  pointer-events: all;
  box-shadow: 0 0 0 1px $gray-600, $shadow-lg;
}

@keyframes dc-show-toast-from-top {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.75);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.toaster_position_top-left .toaster__item,
.toaster_position_top-center .toaster__item,
.toaster_position_top-right .toaster__item {
  animation-name: dc-show-toast-from-top;
}

@keyframes dc-show-toast-from-bottom {
  from {
    opacity: 0;
    transform: translateY(0) scale(0.75);
  }
  to {
    opacity: 1;
    transform: translateY(-100%) scale(1);
  }
}

.toaster_position_bottom-left .toaster__item,
.toaster_position_bottom-center .toaster__item,
.toaster_position_bottom-right .toaster__item {
  animation-name: dc-show-toast-from-bottom;
}

