@use '../abstracts' as dc;

.dc-vertical-nav {
  font-family: var(--dc-font-base);
}

.dc-vertical-nav__header {
  font-size: dc.$font-size-xs;
  font-weight: dc.$font-weight-medium;
  margin-bottom: dc.$gap-2x;
  padding-left: dc.$gap-2x;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: var(--dc-secondary-text-color);
}

.dc-vertical-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dc-vertical-nav__items > * + * {
  margin-top: dc.$gap-1x;
}

.dc-vertical-nav-item {
  font-size: dc.$font-size-base;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: dc.px-to-rem(36px);
  padding: 0 dc.$gap-2x;
  cursor: default;
  user-select: none;
  text-decoration: none;
  color: var(--dc-secondary-text-color);
  border-radius: dc.$border-radius-sm;
}

.dc-vertical-nav-item:focus {
  outline: none;
  @include dc.focus-ring;
}

.dc-vertical-nav-item:hover {
  background: rgba(black, dc.$opacity-5);
}

.dc-vertical-nav-item_selected {
  color: var(--dc-primary-text-color);
  background: rgba(black, dc.$opacity-5);
}

.dc-vertical-nav-item__icon {
  display: inline-flex;
  flex: none;
  padding-right: dc.$gap-2x;
}

.dc-vertical-nav-item__content {
  overflow: hidden;
  flex: auto;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dc-vertical-nav-item__badge {
  display: inline-flex;
  flex: none;
  padding-left: dc.$gap-1x;
}
