.dc-vertical-nav {
  font-family: var(--dc-font-base);
}

.dc-vertical-nav__header {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  margin-bottom: $gap-2x;
  padding-left: $gap-2x;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: var(--dc-secondary-text-color);
}

.dc-vertical-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dc-vertical-nav__items > * + * {
  margin-top: $gap-1x;
}

.dc-vertical-nav-item {
  font-size: $font-size-base;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: px-to-rem(36px);
  padding: 0 $gap-2x;
  cursor: default;
  user-select: none;
  text-decoration: none;
  color: var(--dc-secondary-text-color);
  border-radius: $border-radius-sm;
}

.dc-vertical-nav-item:focus {
  outline: none;
  @include focus-ring;
}

.dc-vertical-nav-item:hover {
  background: rgba($black, $opacity-5);
}

.dc-vertical-nav-item_selected {
  color: var(--dc-primary-text-color);
  background: rgba($black, $opacity-5);
}

.dc-vertical-nav-item__icon {
  display: inline-flex;
  flex: none;
  padding-right: $gap-2x;
}

.dc-vertical-nav-item__content {
  overflow: hidden;
  flex: auto;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dc-vertical-nav-item__badge {
  display: inline-flex;
  flex: none;
  padding-left: $gap-1x;
}
