.dc-radio {
  --size: 20px;
  --background: var(--dc-white);
  --background-checked: var(--dc-blue-500);
  --border-color: var(--dc-gray-300);
  --border-color-checked: rgb(var(--dc-black-rgb) / 10%);
  --icon-color: var(--dc-white);
  --focus-ring-color: var(--dc-focus-ring-color);

  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  text-align: left;
  color-scheme: light;
}

.dc-radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.dc-radio__check {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  vertical-align: middle;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: opacity 0.2s;
}

.dc-radio__icon {
  display: none;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
}

.dc-radio__input:checked + .dc-radio__check {
  background: var(--background-checked);
  border-color: var(--border-color-checked);
}

.dc-radio__input:checked + .dc-radio__check .dc-radio__icon {
  display: initial;
}

.dc-radio__input:disabled + .dc-radio__check {
  cursor: default;
  opacity: var(--dc-disabled-state-opacity);
}

.dc-radio__input:focus {
  outline: none;
}

.dc-radio__input:focus-visible + .dc-radio__check {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: 2px;
}

.dark .dc-radio,
.dark.dc-radio {
  --background: var(--dc-gray-800);
  --border-color: var(--dc-gray-600);
  --border-color-checked: rgb(var(--dc-white-rgb) / 10%);

  color-scheme: dark;
}
