.dc-radio {
  --dc-radio-size: 20px;
  --dc-radio-color-bg: var(--dc-control-bg);
  --dc-radio-color-bg-checked: var(--dc-control-primary-color);
  --dc-radio-color-border: var(--dc-control-border-color);
  --dc-radio-color-border-checked: var(--dc-control-primary-color);
  --dc-radio-color-icon: var(--dc-control-on-primary-color);
  --dc-radio-color-focus-ring: var(--dc-focus-ring-color);

  color-scheme: light;
  display: inline-flex;
}

.dc-radio__input {
  appearance: none;
  position: absolute;
}

.dc-radio__check {
  font-size: 16px;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  flex: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-radio-size);
  height: var(--dc-radio-size);
  transition: opacity 0.2s;
  vertical-align: middle;
  border: 1px solid var(--dc-radio-color-border);
  border-radius: 50%;
  background: var(--dc-radio-color-bg);
}

.dc-radio__icon {
  color: var(--dc-radio-color-icon);
  display: none;
}

.dc-radio__input:checked + .dc-radio__check {
  border-color: var(--dc-radio-color-border-checked);
  background: var(--dc-radio-color-bg-checked);
}

.dc-radio__input:checked + .dc-radio__check .dc-radio__icon {
  display: initial;
}

.dc-radio__input:disabled + .dc-radio__check {
  opacity: var(--dc-disabled-state-opacity);
  cursor: default;
}

.dc-radio__input:focus {
  outline: none;
}

.dc-radio__input:focus + .dc-radio__check::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -3px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--dc-radio-color-focus-ring);
}

.dc-radio__input:focus:not(:focus-visible) + .dc-radio__check::after {
  content: none;
}
