.dc-radio {
  --dc-radio-size: 1.25rem;
  --dc-radio-background-color: white;
  --dc-radio-background-color-checked: var(--dc-blue-500);
  --dc-radio-border-color: var(--dc-gray-300);
  --dc-radio-border-color-checked: var(--dc-blue-500);
  --dc-radio-icon-color: white;
  --dc-radio-focus-ring-color: var(--dc-focus-ring-color);
  --dc-radio-focus-ring-offset: 0.125rem;
  --dc-radio-focus-ring-width: 0.1875rem;
}

.dc-radio__input {
  appearance: none;
  position: absolute;
}

.dc-radio__check {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  flex: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-radio-size);
  height: var(--dc-radio-size);
  transition: opacity 0.2s;
  border: 1px solid var(--dc-radio-border-color);
  border-radius: 50%;
  background: var(--dc-radio-background-color);
}

.dc-radio__icon {
  color: var(--dc-radio-icon-color);
  display: none;
}

.dc-radio__input:checked + .dc-radio__check {
  border-color: var(--dc-radio-border-color-checked);
  background: var(--dc-radio-background-color-checked);
}

.dc-radio__input:checked + .dc-radio__check .dc-radio__icon {
  display: initial;
}

.dc-radio__input:disabled + .dc-radio__check {
  opacity: var(--dc-disabled-opacity);
  cursor: default;
}

.dc-radio__input:focus {
  outline: none;
}

.dc-radio__input:focus + .dc-radio__check::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-1px - var(--dc-radio-focus-ring-offset));
  right: calc(-1px - var(--dc-radio-focus-ring-offset));
  bottom: calc(-1px - var(--dc-radio-focus-ring-offset));
  left: calc(-1px - var(--dc-radio-focus-ring-offset));
  border-radius: 50%;
  box-shadow: 0 0 0 var(--dc-radio-focus-ring-width) var(--dc-radio-focus-ring-color);
}

.dc-radio__input:focus:not(:focus-visible) + .dc-radio__check::after {
  content: none;
}
