.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-transparent-1 {
  border: 1px solid var(--dc-border-color-transparent-1) !important;
}

.border-transparent-2 {
  border: 1px solid var(--dc-border-color-transparent-2) !important;
}

.border-transparent-3 {
  border: 1px solid var(--dc-border-color-transparent-3) !important;
}

/* Border top */

.border-top-transparent-1 {
  border-top: 1px solid var(--dc-border-color-transparent-1) !important;
}

.border-top-transparent-2 {
  border-top: 1px solid var(--dc-border-color-transparent-2) !important;
}

.border-top-transparent-3 {
  border-top: 1px solid var(--dc-border-color-transparent-3) !important;
}

/* Border right */

.border-right-transparent-1 {
  border-right: 1px solid var(--dc-border-color-transparent-1) !important;
}

.border-right-transparent-2 {
  border-right: 1px solid var(--dc-border-color-transparent-2) !important;
}

.border-right-transparent-3 {
  border-right: 1px solid var(--dc-border-color-transparent-3) !important;
}

/* Border bottom */

.border-bottom-transparent-1 {
  border-bottom: 1px solid var(--dc-border-color-transparent-1) !important;
}

.border-bottom-transparent-2 {
  border-bottom: 1px solid var(--dc-border-color-transparent-2) !important;
}

.border-bottom-transparent-3 {
  border-bottom: 1px solid var(--dc-border-color-transparent-3) !important;
}

/* Border left */

.border-left-transparent-1 {
  border-left: 1px solid var(--dc-border-color-transparent-1) !important;
}

.border-left-transparent-2 {
  border-left: 1px solid var(--dc-border-color-transparent-2) !important;
}

.border-left-transparent-3 {
  border-left: 1px solid var(--dc-border-color-transparent-3) !important;
}

/* Rounded corners */

.rounded-none {
  border-radius: 0 !important;
}

.rounded-sm {
  border-radius: 2px !important;
}

.rounded {
  border-radius: 4px !important;
}

.rounded-md {
  border-radius: 6px !important;
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-xl {
  border-radius: 12px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
