.color-inherit {
  color: inherit !important;
}

.color-primary {
  color: var(--dc-text-color-primary) !important;
}

.color-secondary {
  color: var(--dc-text-color-secondary) !important;
}

.color-tertiary {
  color: var(--dc-text-color-tertiary) !important;
}

.color-info {
  color: var(--dc-text-color-info) !important;
}

.color-success {
  color: var(--dc-text-color-success) !important;
}

.color-error {
  color: var(--dc-text-color-error) !important;
}

.color-warning {
  color: var(--dc-text-color-warning) !important;
}
