.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 4px !important;
}

.gap-2 {
  gap: 8px !important;
}

.gap-3 {
  gap: 12px !important;
}

.gap-4 {
  gap: 16px !important;
}

.gap-5 {
  gap: 20px !important;
}

.gap-6 {
  gap: 24px !important;
}

.gap-7 {
  gap: 28px !important;
}

.gap-8 {
  gap: 32px !important;
}

.row-gap-0 {
  row-gap: 0 !important;
}

.row-gap-1 {
  row-gap: 4px !important;
}

.row-gap-2 {
  row-gap: 8px !important;
}

.row-gap-3 {
  row-gap: 12px !important;
}

.row-gap-4 {
  row-gap: 16px !important;
}

.row-gap-5 {
  row-gap: 20px !important;
}

.row-gap-6 {
  row-gap: 24px !important;
}

.row-gap-7 {
  row-gap: 28px !important;
}

.row-gap-8 {
  row-gap: 32px !important;
}

.column-gap-0 {
  column-gap: 0 !important;
}

.column-gap-1 {
  column-gap: 4px !important;
}

.column-gap-2 {
  column-gap: 8px !important;
}

.column-gap-3 {
  column-gap: 12px !important;
}

.column-gap-4 {
  column-gap: 16px !important;
}

.column-gap-5 {
  column-gap: 20px !important;
}

.column-gap-6 {
  column-gap: 24px !important;
}

.column-gap-7 {
  column-gap: 28px !important;
}

.column-gap-8 {
  column-gap: 32px !important;
}
