.dc-multi-select {
  /* Button props */
  --button-color: var(--dc-text-color-primary);
  --button-background: none;
  --button-background-hover: var(--dc-neutral-100);
  --button-focus-ring-color: var(--dc-focus-ring-color);

  /* Checkbox props */
  --checkbox-size: 20px;
  --checkbox-border-radius: 6px;
  --checkbox-color: var(--dc-text-color-primary);
  --checkbox-color-checked: var(--dc-white);
  --checkbox-background: var(--dc-white);
  --checkbox-background-checked: var(--dc-blue-500);
  --checkbox-border-color: var(--dc-neutral-300);
  --checkbox-border-color-checked: rgb(var(--dc-black-rgb) / 10%);
  --checkbox-border: 1px solid var(--checkbox-border-color);
  --checkbox-border-checked: 1px solid var(--checkbox-border-color-checked);

  /* Option props */
  --option-font: var(--dc-text-sm);
  --option-caption-font: var(--dc-text-xs);
  --option-color: var(--dc-text-color-primary);
  --option-color-selected: var(--dc-text-color-primary);
  --option-caption-color: var(--dc-text-color-secondary);
  --option-caption-color-selected: var(--dc-text-color-secondary);
  --option-background: none;
  --option-background-selected: var(--dc-background-color-3);
  --option-border-radius: 4px;

  /* Listbox props */
  --listbox-border-radius: 7px;
  --listbox-background: var(--dc-white);
  --listbox-shadow: 0 0 0 1px rgb(var(--dc-black-rgb) / 8%),
    0 -1px 0 0 rgb(var(--dc-black-rgb) / 5%), var(--dc-shadow-lg);

  /* Empty state props */
  --empty-state-font-message-font: var(--dc-text-sm);
  --empty-state-font-message-color: var(--dc-text-color-secondary);
  --error-state-font-message-color: var(--dc-text-color-error);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  color-scheme: light;
}

.dc-multi-select__input-container {
  position: relative;
}

.dc-multi-select__chips {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  margin-top: 8px;
}

.dc-multi-select__chip {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.dc-multi-select__chip-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 4px;
  color: inherit;
  appearance: none;
  cursor: default;
  background: none;
  border: none;
  border-radius: inherit;
}

.dc-multi-select__button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  font: inherit;
  color: var(--button-color);
  appearance: none;
  background: var(--button-background);
  border: none;
  border-radius: inherit;
}

.dc-multi-select__button:hover {
  background: var(--button-background-hover);
}

.dc-multi-select__button:focus {
  outline: none;
}

.dc-multi-select__button:focus-visible {
  outline: 2px solid var(--button-focus-ring-color);
  outline-offset: 2px;
}

.dc-multi-select__button [data-icon="chevron-down"] {
  transform-origin: center;
}

.dc-multi-select__button[aria-expanded="true"] [data-icon="chevron-down"] {
  transform: rotate(180deg);
}

.dc-multi-select__empty-state {
  padding: 8px;
  font: var(--empty-state-font-message-font);
  color: var(--empty-state-font-message-color);
}

.dc-multi-select__empty-state_error {
  color: var(--error-state-font-message-color);
}

.dc-multi-select__empty-state_loading {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dc-multi-select__option {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 8px;
  font: var(--option-font);
  cursor: default;
  scroll-margin-top: 4px;
  scroll-margin-bottom: 4px;
  border-radius: var(--option-border-radius);
}

.dc-multi-select__option[aria-selected="true"] {
  color: var(--option-color-selected);
  background: var(--option-background-selected);
}

.dc-multi-select__option [data-icon="check"] {
  display: none;
}

.dc-multi-select__option[aria-checked="true"] [data-icon="check"] {
  display: initial;
}

.dc-multi-select__option-checkbox {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  color: var(--checkbox-color);
  background: var(--checkbox-background);
  border: var(--checkbox-border);
  border-radius: var(--checkbox-border-radius);
}

.dc-multi-select__option[aria-checked="true"]
  .dc-multi-select__option-checkbox {
  color: var(--checkbox-color-checked);
  background: var(--checkbox-background-checked);
  border: var(--checkbox-border-checked);
}

.dc-multi-select__option-label,
.dc-multi-select__option-caption {
  display: block;
  width: 100%;
}

.dc-multi-select__option-label {
  font-weight: 500;
}

.dc-multi-select__option-caption {
  font: var(--option-caption-font);
  color: var(--option-caption-color);
}

.dc-multi-select__option[aria-checked="true"] .dc-multi-select__option-caption {
  color: var(--option-caption-color-selected);
}

.dc-multi-select__list-box {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  width: 100%;
  max-height: 296px;
  padding: 4px;
  margin: 0;
  overflow: auto;
  overscroll-behavior: contain;
  font-size: var(--font-size);
  list-style: none;
  background: var(--listbox-background);
  border-radius: var(--listbox-border-radius);
  box-shadow: var(--listbox-shadow);
}

.dark .dc-multi-select,
.dark.dc-multi-select {
  /* Button props */
  --button-background-hover: var(--dc-neutral-700);

  /* Checkbox props */
  --checkbox-background: var(--dc-neutral-800);
  --checkbox-border-color: var(--dc-neutral-600);
  --checkbox-border-color-checked: rgb(var(--dc-white-rgb) / 10%);

  /* Listbox props */
  --listbox-background: var(--dc-neutral-800);
  --listbox-shadow: 0 0 0 1px var(--dc-neutral-700), var(--dc-shadow-lg);

  color-scheme: dark;
}
