node_modules
coverage
*.log
.*
!.gitignore
!.github
!.nvmrc
!.npmrc
!.husky
!.editorconfig
!.eslintrc.cjs
!.eslintignore
!.stylelintrc.cjs
!.storybook
!.browserslistrc

# Build artifacts
/dist
/storybook-static
/*.tgz
