node_modules
coverage
*.log
.*
!.gitignore
!.github
!.nvmrc
!.npmrc
!.husky
!.editorconfig
!.eslintrc.json
!.eslintignore
!.stylelintrc.json
!.stylelintignore
!.storybook
!.browserslistrc

# Build artifacts
/dist
/css
/storybook-static
/*.tgz
