node_modules
coverage
*.log
.*
!.gitignore
!.github
!.nvmrc
!.npmrc
!.husky
!.editorconfig
!.eslintrc.js
!.eslintignore
!.stylelintrc.js
!.storybook
!.browserslistrc

# Build artifacts
/css
/cjs
/esm
/*.tgz
