.dark .dc-button,
.dark.dc-button {
  --dc-button-text-color: var(--dc-primary-text-color-dark);
  --dc-button-border-color: rgb(249 250 251 / 10%);
  --dc-button-background: var(--dc-gray-700);
  --dc-button-background-hover: var(--dc-gray-600);
  --dc-button-focus-ring-color: var(--dc-focus-ring-color-dark);
  --dc-button-shadow: 0 1px 1px rgb(249 250 251 / 5%);
}

.dark .dc-button_appearance_default.dc-button_variant_tinted,
.dark.dc-button_appearance_default.dc-button_variant_tinted {
  --dc-button-text-color: var(--dc-primary-text-color-dark);
  --dc-button-border-color: rgb(225 231 239 / 0%);
  --dc-button-background: rgb(225 231 239 / 15%);
  --dc-button-background-hover: rgb(225 231 239 / 25%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_default.dc-button_variant_plain,
.dark.dc-button_appearance_default.dc-button_variant_plain {
  --dc-button-text-color: var(--dc-primary-text-color-dark);
  --dc-button-border-color: rgb(225 231 239 / 0%);
  --dc-button-background: rgb(225 231 239 / 0%);
  --dc-button-background-hover: rgb(225 231 239 / 15%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_primary,
.dark.dc-button_appearance_primary {
  --dc-button-text-color: white;
  --dc-button-border-color: rgb(37 99 235 / 0%);
  --dc-button-background: var(--dc-blue-600);
  --dc-button-background-hover: var(--dc-blue-500);
  --dc-button-shadow:
    0 1px 3px 0 rgb(59 130 246 / 12%),
    0 1px 2px 0 rgb(59 130 246 / 12%),
    0 0 1px 0 rgb(59 130 246 / 24%);
}

.dark .dc-button_appearance_primary.dc-button_variant_tinted,
.dark.dc-button_appearance_primary.dc-button_variant_tinted {
  --dc-button-text-color: var(--dc-blue-400);
  --dc-button-border-color: rgb(96 165 250 / 0%);
  --dc-button-background: rgb(96 165 250 / 15%);
  --dc-button-background-hover: rgb(96 165 250 / 25%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_primary.dc-button_variant_plain,
.dark.dc-button_appearance_primary.dc-button_variant_plain {
  --dc-button-text-color: var(--dc-blue-400);
  --dc-button-border-color: rgb(96 165 250 / 0%);
  --dc-button-background: rgb(96 165 250 / 0%);
  --dc-button-background-hover: rgb(96 165 250 / 15%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_danger,
.dark.dc-button_appearance_danger {
  --dc-button-text-color: white;
  --dc-button-border-color: rgb(220 38 38 / 0%);
  --dc-button-background: var(--dc-red-600);
  --dc-button-background-hover: var(--dc-red-500);
  --dc-button-shadow:
    0 1px 3px 0 rgb(239 68 68 / 12%),
    0 1px 2px 0 rgb(239 68 68 / 12%),
    0 0 1px 0 rgb(239 68 68 / 24%);
}

.dark .dc-button_appearance_danger.dc-button_variant_tinted,
.dark.dc-button_appearance_danger.dc-button_variant_tinted {
  --dc-button-text-color: var(--dc-red-400);
  --dc-button-border-color: rgb(248 113 113 / 0%);
  --dc-button-background: rgb(248 113 113 / 15%);
  --dc-button-background-hover: rgb(248 113 113 / 25%);
  --dc-button-shadow: none;
}

.dark.dc-button_appearance_danger.dc-button_variant_plain,
.dark .dc-button_appearance_danger.dc-button_variant_plain {
  --dc-button-text-color: var(--dc-red-400);
  --dc-button-border-color: rgb(248 113 113 / 0%);
  --dc-button-background: rgb(248 113 113 / 0%);
  --dc-button-background-hover: rgb(248 113 113 / 15%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_success,
.dark.dc-button_appearance_success {
  --dc-button-text-color: white;
  --dc-button-border-color: rgb(22 163 74 / 0%);
  --dc-button-background: var(--dc-green-600);
  --dc-button-background-hover: var(--dc-green-500);
  --dc-button-shadow:
    0 1px 3px 0 rgb(34 197 94 / 12%),
    0 1px 2px 0 rgb(34 197 94 / 12%),
    0 0 1px 0 rgb(34 197 94 / 24%);
}

.dark .dc-button_appearance_success.dc-button_variant_tinted,
.dark.dc-button_appearance_success.dc-button_variant_tinted {
  --dc-button-text-color: var(--dc-green-400);
  --dc-button-border-color: rgb(74 222 128 / 0%);
  --dc-button-background: rgb(74 222 128 / 10%);
  --dc-button-background-hover: rgb(74 222 128 / 20%);
  --dc-button-shadow: none;
}

.dark .dc-button_appearance_success.dc-button_variant_plain,
.dark.dc-button_appearance_success.dc-button_variant_plain {
  --dc-button-text-color: var(--dc-green-400);
  --dc-button-border-color: rgb(74 222 128 / 0%);
  --dc-button-background: rgb(74 222 128 / 0%);
  --dc-button-background-hover: rgb(74 222 128 / 10%);
  --dc-button-shadow: none;
}
