.dc-menu {
  --item-icon-gap: 8px;
  --item-color: var(--dc-gray-950);
  --item-background-focus: rgb(var(--dc-gray-500-rgb) / 15%);
  --item-color-destructive: var(--dc-red-600);
  --item-background-focus-destructive: rgb(var(--dc-red-600-rgb) / 15%);
  --separator-color: rgb(var(--dc-gray-500-rgb) / 15%);

  position: fixed;
  box-sizing: border-box;
  min-width: 160px;
  max-width: 288px;
  padding: 4px;
  margin: 0;
  color-scheme: light;
}

.dc-menu-separator {
  box-sizing: border-box;
  height: 1px;
  margin: 4px 8px;
  background: var(--separator-color);
  border: none;
}

.dc-menu-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 12px;
  font: var(--dc-text-sm);
  color: var(--item-color);
  text-align: left;
  white-space: nowrap;
  appearance: none;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: 6px;
}

.dc-menu-btn:focus {
  outline: none;
  background: var(--item-background-focus);
}

.dc-menu-btn:disabled {
  cursor: default;
  opacity: var(--dc-disabled-state-opacity);
}

.dc-menu-btn__label {
  flex-grow: 1;
}

.dc-menu-btn_has-icon {
  gap: var(--item-icon-gap);
}

.dc-menu-btn_destructive {
  color: var(--item-color-destructive);
}

.dc-menu-btn_destructive:focus {
  background: var(--item-background-focus-destructive);
}

.dark .dc-menu,
.dark.dc-menu {
  --item-color: var(--dc-white);
  --item-background-focus: rgb(var(--dc-gray-100-rgb) / 15%);
  --item-color-destructive: var(--dc-red-400);
  --item-background-focus-destructive: rgb(var(--dc-red-500-rgb) / 25%);
  --separator-color: rgb(var(--dc-gray-100-rgb) / 15%);

  color-scheme: dark;
}
