.dc-color-picker {
  --dc-color-picker-btn-size: 24px;
  --dc-color-picker-btn-color: var(--dc-control-on-primary-color);
  --dc-color-picker-btn-check-color: white;
  --dc-color-picker-btn-inner-border-color: rgb(var(--dc-black-rgb) / 5%);
  --dc-color-picker-btn-focus-ring-color: var(--dc-focus-ring-color);

  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  color-scheme: light;
  border: none;
}

.dc-color-picker_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-color-picker__btn {
  position: relative;
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: var(--dc-color-picker-btn-size);
  height: var(--dc-color-picker-btn-size);
  font-size: 0;
  color: transparent;
  cursor: pointer;
  background: var(--dc-color-picker-btn-color);
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px var(--dc-color-picker-btn-inner-border-color);
}

.dc-color-picker_disabled .dc-color-picker__btn {
  cursor: default;
}

.dc-color-picker__btn > input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.dc-color-picker__btn > input + .dc-color-picker__btn-check {
  display: none;
}

.dc-color-picker__btn > input:checked + .dc-color-picker__btn-check {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 38%;
  height: 38%;
  background: var(--dc-color-picker-btn-check-color);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgb(var(--dc-black-rgb) / 5%);
  transform: translate(-50%, -50%);
}

.dc-color-picker__btn:focus-within::before {
  position: absolute;
  inset: -2px;
  z-index: -1;
  display: inline-block;
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--dc-color-picker-btn-focus-ring-color);
}

.dark .dc-color-picker,
.dark.dc-color-picker {
  --dc-color-picker-btn-inner-border-color: rgb(255 255 255 / 10%);

  color-scheme: dark;
}
