.dc-filter-value-list {
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
  max-height: 192px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dc-filter-value-list > li {
  display: flex;
  scroll-snap-align: start;
  align-items: center;
  min-height: 32px;
}
