@import url("filter-token.css");
@import url("filter-operator-select.css");
@import url("string-filter-input.css");
@import url("filter-value-list.css");
@import url("filter-item.css");

.dc-filtered-search {
  --font-size: 14px;
  --height: 36px;
  --padding-x: 12px;
  --border-radius: 7px;
  --color: var(--dc-neutral-900);
  --border-color: var(--dc-neutral-300);
  --background: var(--dc-white);
  --icon-color: var(--dc-neutral-500);
  --focus-ring-color: var(--dc-focus-ring-color);
  --option-color: var(--dc-neutral-900);
  --option-background: none;
  --selected-option-color: var(--dc-white);
  --selected-option-background: var(--dc-blue-500);
  --listbox-background: var(--dc-white);
  --listbox-shadow: 0 0 0 1px rgb(var(--dc-black-rgb) / 8%),
    0 -1px 0 0 rgb(var(--dc-black-rgb) / 5%),
    var(--dc-shadow-lg);
  --token-color: var(--dc-neutral-900);
  --token-color-selected: var(--dc-white);
  --token-background: var(--dc-neutral-200);
  --token-background-hover: rgb(var(--dc-black-rgb) / 10%);
  --token-background-selected: var(--dc-blue-500);

  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-family: var(--dc-primary-font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--color);
  cursor: text;
  color-scheme: light;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.dc-filtered-search_has_focus {
  border-color: var(--focus-ring-color);
  box-shadow: 0 0 0 1px var(--focus-ring-color);
}

.dc-filtered-search__icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-top: 8px;
  margin-left: 8px;
  pointer-events: none;
}

.dc-filtered-search__clear-button {
  flex-shrink: 0;
  margin-top: 1px;
  margin-right: 1px;
  white-space: nowrap;
  border-radius: calc(var(--border-radius) - 1px);
}

.dc-filtered-search__clear-button:focus::after {
  border-radius: inherit;
}

.dc-filtered-search__filters {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0;
  padding: 0 4px;
  pointer-events: none;
}

.dc-filtered-search__filters > * {
  margin: 3px 2px;
  pointer-events: all;
}

.dc-filtered-search__input {
  flex-grow: 1;
  min-width: 0;
  height: 28px;
  padding: 0 8px;
  font: inherit;
  color: inherit;
  appearance: none;
  background: none;
  border: none;
  border-radius: inherit;
}

.dc-filtered-search__input::placeholder {
  color: inherit;
  opacity: 0.4;
}

.dc-filtered-search__input:focus {
  outline: none;
}

.dc-filtered-search__list-box {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  margin: 0;
  font-size: var(--font-size);
  list-style: none;
  background: var(--listbox-background);
  border-radius: var(--border-radius);
  box-shadow: var(--listbox-shadow);
}

.dc-filtered-search__list-box > [role="option"] {
  box-sizing: border-box;
  padding: 6px 8px;
  color: var(--option-color);
  cursor: default;
  border-radius: 5px;
}

.dc-filtered-search__list-box > [role="option"][aria-selected="true"] {
  color: var(--selected-option-color);
  background: var(--selected-option-background);
}

.dark .dc-filtered-search,
.dark.dc-filtered-search {
  --color: var(--dc-white);
  --border-color: var(--dc-neutral-600);
  --background: var(--dc-neutral-800);
  --icon-color: var(--dc-neutral-400);
  --option-color: var(--dc-white);
  --listbox-background: var(--dc-neutral-800);
  --listbox-shadow: 0 0 0 1px var(--dc-neutral-700), var(--dc-shadow-lg);
  --token-color: var(--dc-white);
  --token-background: var(--dc-neutral-600);
  --token-background-hover: rgb(var(--dc-white-rgb) / 10%);

  color-scheme: dark;
}
