.dc-filter-token {
  color: var(--dc-filtered-search-token-color);
  display: inline-flex;
  align-items: center;
  min-width: 0;
  border-radius: 6px;
  background: var(--dc-filtered-search-token-bg);
}

.dc-filter-token_highlighted {
  color: var(--dc-filtered-search-token-color-selected);
  background: var(--dc-filtered-search-token-bg-selected);
}

.dc-filter-token__label,
.dc-filter-token__button {
  font-size: 14px;
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  height: 28px;
  padding: 0;
  border: none;
  background: none;
}

.dc-filter-token__label {
  line-height: 28px;
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
  padding: 0 4px 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.dc-filter-token__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;

}

.dc-filter-token__label:focus,
.dc-filter-token__button:focus {
  outline: none;
  background: var(--dc-filtered-search-token-bg-hover);
}

.dc-filter-token__label:hover,
.dc-filter-token__button:hover {
  background: var(--dc-filtered-search-token-bg-hover) !important;
}

.dc-filter-token__label:focus:not(:focus-visible),
.dc-filter-token__button:focus:not(:focus-visible) {
  background: none;
}
