.dc-filter-radio-group {
  box-sizing: border-box;
  max-height: 192px;
  padding: 0;
  margin: 0;
  overflow: auto;
  list-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.dc-filter-radio-group > li {
  padding-top: 6px;
  padding-bottom: 6px;
  scroll-snap-align: start;
}

.dc-filter-radio-group_has_scroll {
  border-top: 1px solid var(--dc-border-color-1);
  border-bottom: 1px solid var(--dc-border-color-1);
}
