.dark .dc-toast,
.dark.dc-toast {
  --dc-toast-text-color: var(--dc-gray-800);
  --dc-toast-secondary-text-color: var(--dc-gray-600);
  --dc-toast-icon-color: var(--dc-gray-700);
  --dc-toast-bg: var(--dc-gray-100);
  --dc-toast-btn-text-color: var(--dc-gray-800);
  --dc-toast-btn-bg: rgba(17, 24, 39, 0.1); /* gray-900 */
  --dc-toast-btn-bg-hover: rgba(17, 24, 39, 0.2); /* gray-900 */
  --dc-toast-btn-focus-ring-color: var(--dc-gray-700);
}
