.dc-toast {
  --dc-toast-text-color: var(--dc-gray-100);
  --dc-toast-secondary-text-color: var(--dc-gray-300);
  --dc-toast-icon-color: var(--dc-gray-200);
  --dc-toast-bg: var(--dc-gray-700);
  --dc-toast-padding: 16px;
  --dc-toast-close-btn-color: var(--dc-gray-50);
  --dc-toast-close-btn-bg: var(--dc-gray-500);
  --dc-toast-btn-text-color: var(--dc-gray-100);
  --dc-toast-btn-bg: rgb(var(--dc-gray-50-rgb) / 15%);
  --dc-toast-btn-bg-hover: rgb(var(--dc-gray-50-rgb) / 30%);
  --dc-toast-btn-focus-ring-color: var(--dc-gray-200);

  position: relative;
  display: inline-flex;
  min-width: 256px;
  font: var(--dc-text-sm);
  color: var(--dc-toast-text-color);
  text-align: left;
  color-scheme: light;
  background: var(--dc-toast-bg);
  border-radius: 10px;
  box-shadow: var(--dc-shadow-lg);
}

.dc-toast__close-btn {
  position: absolute;
  top: -8px;
  left: -8px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  color: var(--dc-toast-close-btn-color);
  appearance: none;
  pointer-events: none;
  background: var(--dc-toast-close-btn-bg);
  border: none;
  border-radius: 50%;
  box-shadow:
    var(--dc-shadow-sm),
    var(--dc-shadow-md);
  opacity: 0;
  transition: opacity 150ms ease;
}

.dc-toast:hover .dc-toast__close-btn {
  pointer-events: all;
  opacity: 1;
}

.dc-toast__btn {
  box-sizing: border-box;
  padding: 4px 12px;
  font: var(--dc-text-xs);
  color: var(--dc-toast-btn-text-color);
  appearance: none;
  background: var(--dc-toast-btn-bg);
  border: none;
  border-radius: 6px;
  transition: 100ms ease;
  transition-property: background-color, box-shadow;
}

.dc-toast__btn:hover {
  background: var(--dc-toast-btn-bg-hover);
}

.dc-toast__btn:focus {
  background: var(--dc-toast-btn-bg-hover);
  outline: none;
  box-shadow: 0 0 0 1px var(--dc-toast-btn-focus-ring-color);
}

.dc-toast__btn:focus:not(:focus-visible) {
  box-shadow: none;
}

.dc-toast__btn:focus:not(:focus-visible, :hover) {
  background: var(--dc-toast-btn-bg);
}

.dc-toast__body {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  padding: 12px 16px;
}

.dc-toast__actions {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.dc-toast__actions > * + * {
  margin-top: 2px;
}

.dc-toast__content {
  box-sizing: border-box;
}

.dc-toast__icon {
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 12px;
  color: var(--dc-toast-icon-color);
}

.dc-toast__title {
  margin: 0;
  font: inherit;
  font-weight: 500;
}

.dc-toast__message {
  margin-top: 0.25em;
  color: var(--dc-toast-secondary-text-color);
}

.dark .dc-toast,
.dark.dc-toast {
  --dc-toast-text-color: var(--dc-gray-800);
  --dc-toast-secondary-text-color: var(--dc-gray-600);
  --dc-toast-icon-color: var(--dc-gray-700);
  --dc-toast-bg: var(--dc-gray-100);
  --dc-toast-close-btn-color: var(--dc-gray-800);
  --dc-toast-close-btn-bg: var(--dc-gray-100);
  --dc-toast-btn-text-color: var(--dc-gray-800);
  --dc-toast-btn-bg: rgb(var(--dc-gray-900-rgb) / 10%);
  --dc-toast-btn-bg-hover: rgb(var(--dc-gray-900-rgb) / 20%);
  --dc-toast-btn-focus-ring-color: var(--dc-gray-700);

  color-scheme: dark;
}

.dark .dc-toast .dc-toast__close-btn,
.dark.dc-toast .dc-toast__close-btn {
  box-shadow:
    0 0 0 1px rgb(var(--dc-black-rgb) / 10%),
    var(--dc-shadow-sm),
    var(--dc-shadow-md);
}
