.dc-caption {
  font: var(--dc-text-sm);
  color: var(--dc-secondary-text-color);
  display: block;
  align-items: center;
  text-align: left;
}

.dc-caption_appearance_info {
  color: var(--dc-info-text-color);
}

.dc-caption_appearance_success {
  color: var(--dc-success-text-color);
}

.dc-caption_appearance_error {
  color: var(--dc-error-text-color);
}

.dc-caption_appearance_warning {
  color: var(--dc-warning-text-color);
}

.dc-caption__icon {
  color: inherit;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
