.dark .dc-caption,
.dark.dc-caption {
  --dc-caption-text-color: var(--dc-secondary-text-color-dark);
}

.dark .dc-caption_appearance_info,
.dark.dc-caption_appearance_info {
  --dc-caption-text-color: var(--dc-blue-400);
}

.dark .dc-caption_appearance_success,
.dark.dc-caption_appearance_success {
  --dc-caption-text-color: var(--dc-green-400);
}

.dark .dc-caption_appearance_error,
.dark.dc-caption_appearance_error {
  --dc-caption-text-color: var(--dc-red-400);
}

.dark .dc-caption_appearance_warning,
.dark.dc-caption_appearance_warning {
  --dc-caption-text-color: var(--dc-amber-400);
}
