.dc-caption {
  display: block;
  align-items: center;
  font: var(--dc-text-sm);
  color: var(--dc-text-color-secondary);
  text-align: left;
  color-scheme: light;
}

.dc-caption_color_blue {
  color: var(--dc-text-color-info);
}

.dc-caption_color_green {
  color: var(--dc-text-color-success);
}

.dc-caption_color_orange {
  color: var(--dc-text-color-warning);
}

.dc-caption_color_red {
  color: var(--dc-text-color-error);
}

.dc-caption__icon {
  float: left;
  display: inline-flex;
  margin-right: 0.5em;
  color: inherit;
}

.dark .dc-caption,
.dark.dc-caption {
  color-scheme: dark;
}
