.dc-caption {
  display: block;
  align-items: center;
  font: var(--dc-text-sm);
  color: var(--dc-secondary-text-color);
  text-align: left;
  color-scheme: light;
}

.dc-caption_color_blue {
  color: var(--dc-info-text-color);
}

.dc-caption_color_green {
  color: var(--dc-success-text-color);
}

.dc-caption_color_orange {
  color: var(--dc-warning-text-color);
}

.dc-caption_color_red {
  color: var(--dc-error-text-color);
}

.dc-caption__icon {
  display: inline-flex;
  float: left;
  margin-right: 0.5em;
  color: inherit;
}

.dark .dc-caption,
.dark.dc-caption {
  color-scheme: dark;
}
