.dc-switch {
  --dc-switch-width: 38px;
  --dc-switch-height: 24px;
  --dc-switch-radius: calc(var(--dc-switch-height) / 2);
  --dc-switch-track-bg: var(--dc-control-bg-inset);
  --dc-switch-track-bg-checked: var(--dc-control-primary-color);
  --dc-switch-thumb-size: calc(var(--dc-switch-height) - var(--dc-switch-thumb-offset) * 2);
  --dc-switch-thumb-offset: 2px;
  --dc-switch-thumb-bg: var(--dc-control-on-primary-color);
  --dc-switch-icon-color: var(--dc-control-primary-color);
  --dc-switch-focus-ring-color: var(--dc-focus-ring-color);

  color-scheme: light;
  display: inline-flex;
}

.dc-switch__input {
  appearance: none;
  position: absolute;
}

.dc-switch__track {
  font-size: 16px;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  flex: none;
  box-sizing: border-box;
  width: var(--dc-switch-width);
  height: var(--dc-switch-height);
  transition-duration: 0.2s;
  transition-property: opacity, background-color;
  vertical-align: middle;
  border-radius: var(--dc-switch-radius);
  background: var(--dc-switch-track-bg);
}

.dc-switch__thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--dc-switch-thumb-size);
  height: var(--dc-switch-thumb-size);
  transform:
    translateX(var(--dc-switch-thumb-offset))
    translateY(var(--dc-switch-thumb-offset));
  transition: transform 0.2s;
  border-radius: 50%;
  background: var(--dc-switch-thumb-bg);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dc-switch__icon {
  color: var(--dc-switch-icon-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.dc-switch__input:checked + .dc-switch__track {
  background: var(--dc-switch-track-bg-checked);
}

.dc-switch__input:checked + .dc-switch__track .dc-switch__thumb {
  transform:
    translateX(
      calc(
        var(--dc-switch-width) -
        var(--dc-switch-thumb-size) -
        var(--dc-switch-thumb-offset)
      )
    )
    translateY(var(--dc-switch-thumb-offset));
}

.dc-switch__input:checked + .dc-switch__track .dc-switch__icon {
  opacity: 1;
}

.dc-switch__input:disabled + .dc-switch__track {
  opacity: var(--dc-disabled-state-opacity);
  cursor: default;
}

.dc-switch__input:focus {
  outline: none;
}

.dc-switch__input:focus + .dc-switch__track::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -3px;
  border-radius: calc(3px + var(--dc-switch-radius));
  box-shadow: 0 0 0 3px var(--dc-switch-focus-ring-color);
}

.dc-switch__input:focus:not(:focus-visible) + .dc-switch__track::after {
  content: none;
}
