.dark .dc-text-input__container,
.dark.dc-text-input__container {
  --dc-input-text-color: var(--dc-gray-100);
  --dc-input-border-color: var(--dc-gray-700);
  --dc-input-border-color-invalid: var(--dc-red-500);
  --dc-input-background: var(--dc-gray-800);
  --dc-input-prefix-text-color: var(--dc-gray-400);
  --dc-input-suffix-text-color: var(--dc-gray-400);
  --dc-input-focus-ring-color: var(--dc-focus-ring-color);
}
