.dc-text-input__container {
  --dc-input-font-size: 14px;
  --dc-input-height: 36px;
  --dc-input-padding-x: 12px;
  --dc-input-border-radius: 6px;
  --dc-input-text-color: var(--dc-control-primary-text-color);
  --dc-input-border-color: var(--dc-control-border-color);
  --dc-input-border-color-error: var(--dc-control-error-color);
  --dc-input-bg: var(--dc-control-bg);
  --dc-input-prefix-color: var(--dc-control-secondary-text-color);
  --dc-input-suffix-color: var(--dc-control-secondary-text-color);
  --dc-input-focus-ring-color: var(--dc-control-primary-color);

  color-scheme: light;
  font-family: var(--dc-primary-font);
  font-size: var(--dc-input-font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--dc-input-text-color);
  display: inline-flex;
  align-items: stretch;
  box-sizing: border-box;
  height: var(--dc-input-height);
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid var(--dc-input-border-color);
  border-radius: var(--dc-input-border-radius);
  background: var(--dc-input-bg);
}

.dc-text-input__container:focus-within {
  border-color: var(--dc-input-focus-ring-color);
  box-shadow: 0 0 0 1px var(--dc-input-focus-ring-color);
}

.dc-text-input__container_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-text-input__container_has_error {
  border-color: var(--dc-input-border-color-error);
}

.dc-text-input__container_block {
  display: flex;
}

.dc-text-input__container_sm {
  --dc-input-font-size: 13px;
  --dc-input-height: 32px;
  --dc-input-padding-x: 8px;
  --dc-input-border-radius: 5px;
}

.dc-text-input__container_lg {
  --dc-input-font-size: 15px;
  --dc-input-height: 40px;
  --dc-input-padding-x: 16px;
  --dc-input-border-radius: 7px;
}

.dc-text-input {
  appearance: none;
  font: inherit;
  color: inherit;
  flex: auto;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0 var(--dc-input-padding-x);
  border: none;
  background: none;
}

.dc-text-input::placeholder {
  color: inherit;
  opacity: 0.4;
}

.dc-text-input:focus {
  outline: none;
}

.dc-text-input_width_2ch {
  width: 2.5ch;
}

.dc-text-input_width_3ch {
  width: 3.5ch;
}

.dc-text-input_width_4ch {
  width: 4.5ch;
}

.dc-text-input_width_5ch {
  width: 5.5ch;
}

.dc-text-input_width_10ch {
  width: 10.5ch;
}

.dc-text-input_width_20ch {
  width: 20.5ch;
}

.dc-text-input_width_40ch {
  width: 40.5ch;
}

.dc-text-input__prefix,
.dc-text-input__suffix {
  display: inline-flex;
  flex: none;
  align-items: center;
  box-sizing: border-box;
}

.dc-text-input__prefix {
  color: var(--dc-input-prefix-color);
}

.dc-text-input__suffix {
  color: var(--dc-input-suffix-color);
}

.dc-text-input__container_has_prefix {
  padding-left: var(--dc-input-padding-x);
}

.dc-text-input__container_has_prefix .dc-text-input {
  padding-left: calc(var(--dc-input-padding-x) * 0.5);
}

.dc-text-input__container_has_suffix {
  padding-right: var(--dc-input-padding-x);
}

.dc-text-input__container_has_suffix .dc-text-input {
  padding-right: calc(var(--dc-input-padding-x) * 0.5);
}
