.dc-text-input {
  --dc-input-font-size: 14px;
  --dc-input-height: 36px;
  --dc-input-padding-x: 12px;
  --dc-input-border-radius: 7px;
  --dc-input-text-color: var(--dc-control-primary-text-color);
  --dc-input-border-color: var(--dc-control-border-color);
  --dc-input-border-color-error: var(--dc-control-error-color);
  --dc-input-bg: var(--dc-control-bg);
  --dc-input-add-on-color: var(--dc-control-secondary-text-color);
  --dc-input-add-on-bg: none;
  --dc-input-focus-ring-color: var(--dc-control-primary-color);

  color-scheme: light;
  font-family: var(--dc-primary-font);
  font-size: var(--dc-input-font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--dc-input-text-color);
  display: inline-flex;
  align-items: stretch;
  box-sizing: border-box;
  height: var(--dc-input-height);
  min-width: 0;
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid var(--dc-input-border-color);
  border-radius: var(--dc-input-border-radius);
  background: var(--dc-input-bg);
}

.dc-text-input > :first-child {
  border-top-left-radius: calc(var(--dc-input-border-radius) - 1px);
  border-bottom-left-radius: calc(var(--dc-input-border-radius) - 1px);
}

.dc-text-input > :last-child {
  border-top-right-radius: calc(var(--dc-input-border-radius) - 1px);
  border-bottom-right-radius: calc(var(--dc-input-border-radius) - 1px);
}

.dc-text-input:focus-within {
  border-color: var(--dc-input-focus-ring-color);
  box-shadow: 0 0 0 1px var(--dc-input-focus-ring-color);
}

.dc-text-input_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-text-input_invalid {
  border-color: var(--dc-input-border-color-error);
}

.dc-text-input_full-width {
  display: flex;
  width: 100%;
}

.dc-text-input_sm {
  --dc-input-font-size: 13px;
  --dc-input-height: 32px;
  --dc-input-padding-x: 8px;
  --dc-input-border-radius: 6px;
}

.dc-text-input_lg {
  --dc-input-font-size: 15px;
  --dc-input-height: 40px;
  --dc-input-padding-x: 16px;
  --dc-input-border-radius: 8px;
}

.dc-text-input__native {
  appearance: none;
  font: inherit;
  color: inherit;
  flex: auto;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0 var(--dc-input-padding-x);
  border: none;
  background: none;
}

.dc-text-input__native::placeholder {
  color: inherit;
  opacity: 0.4;
}

.dc-text-input__native:focus {
  outline: none;
}

.dc-text-input__slot-left,
.dc-text-input__slot-right {
  color: var(--dc-input-add-on-color);
  display: inline-flex;
  flex: none;
  align-items: center;
  box-sizing: border-box;
  background: var(--dc-input-add-on-bg);
}

.dc-text-input__slot-left {
  padding-left: var(--dc-input-padding-x);
}

.dc-text-input__slot-right {
  padding-right: var(--dc-input-padding-x);
}

.dc-text-input_has_slot-left:not(.dc-text-input_slot_tinted) .dc-text-input__native {
  padding-left: calc(var(--dc-input-padding-x) / 2);
}

.dc-text-input_has_slot-right:not(.dc-text-input_slot_tinted) .dc-text-input__native {
  padding-right: calc(var(--dc-input-padding-x) / 2);
}

.dc-text-input_slot_tinted {
  --dc-input-add-on-bg: rgb(var(--dc-gray-400-rgb) / 0.1);
}

.dc-text-input_slot_tinted .dc-text-input__slot-left {
  padding-right: var(--dc-input-padding-x);
  border-right: 1px solid var(--dc-input-border-color);
}

.dc-text-input_slot_tinted .dc-text-input__slot-right {
  padding-left: var(--dc-input-padding-x);
  border-left: 1px solid var(--dc-input-border-color);
}

.dark .dc-text-input,
.dark.dc-text-input {
  color-scheme: dark;
}
