:root {
  /*------------------------------------*\
   #COMMON
  \*------------------------------------*/
  --dc-font-base: #{$font-sans-serif};
  --dc-font-code: #{$font-mono};

  --dc-primary-text-color: #{$gray-800};
  --dc-secondary-text-color: #{$gray-500};
  --dc-tertiary-text-color: #{$gray-400};
  --dc-link-text-color: #{$blue-500};
  --dc-error-text-color: #{$red-500};
  --dc-warning-text-color: #{$orange-500};
  --dc-info-text-color: #{$blue-500};
  --dc-success-text-color: #{$green-500};

  --dc-primary-border-color: #{$gray-300};
  --dc-secondary-border-color: #{$gray-200};

  --dc-primary-bg-color: #{$white};
  --dc-secondary-bg-color: #{$gray-50};
  --dc-tertiary-bg-color: #{$gray-100};

  --dc-skeleton-color: #{$gray-100};
  --dc-skeleton-bg-color: #{$gray-200};

  --dc-focus-border-color: #{$blue-500};
  --dc-focus-ring-color: #{rgba($blue-500, $opacity-45)};
  --dc-focus-ring-secondary-color: #{$white};
  --dc-focus-danger-border-color: #{$red-500};
  --dc-focus-danger-ring-color: #{rgba($red-500, $opacity-40)};

  --dc-zindex-base: #{$zindex-base};
  --dc-zindex-sticky: #{$zindex-sticky};
  --dc-zindex-fixed: #{$zindex-fixed};
  --dc-zindex-overlay: #{$zindex-overlay};

  --dc-disabled-state-opacity: #{$opacity-50};

  --dc-control-xs-h: #{px-to-rem(22px)};
  --dc-control-sm-h: #{px-to-rem(28px)};
  --dc-control-md-h: #{px-to-rem(32px)};
  --dc-control-lg-h: #{px-to-rem(36px)};

  /*------------------------------------*\
   #SCROLL BAR
  \*------------------------------------*/
  --dc-scrollbar-track-bg-color: #{$gray-100};
  --dc-scrollbar-track-bg-hover-color: #{$gray-200};
  --dc-scrollbar-thumb-bg-color: #{$gray-300};
  --dc-scrollbar-thumb-bg-hover-color: #{$gray-500};

  /*------------------------------------*\
   #BUTTONS
  \*------------------------------------*/
  --dc-btn-height: var(--dc-control-md-h);
  --dc-btn-text-color: #{$gray-700};
  --dc-btn-bg: #{$white};
  --dc-btn-bg-hover: #{$gray-100};
  --dc-btn-bg-active: #{$gray-200};
  --dc-btn-border-color: #{$gray-200};
  --dc-btn-border-color-focus: #{$gray-200};
  --dc-btn-focus-ring-color: var(--dc-focus-ring-color);

  --dc-btn-secondary-text-color: #{$gray-700};
  --dc-btn-secondary-bg: #{rgba($gray-500, $opacity-10)};
  --dc-btn-secondary-bg-hover: #{rgba($gray-500, $opacity-15)};
  --dc-btn-secondary-bg-active: #{rgba($gray-500, $opacity-20)};
  --dc-btn-secondary-border-color: #{rgba($gray-500, $opacity-10)};
  --dc-btn-secondary-border-color-focus: #{rgba($gray-500, $opacity-10)};
  --dc-btn-secondary-focus-ring-color: var(--dc-focus-ring-color);

  --dc-btn-minimal-text-color: #{$gray-700};
  --dc-btn-minimal-bg: #{rgba($gray-500, $opacity-0)};
  --dc-btn-minimal-bg-hover: #{rgba($gray-500, $opacity-10)};
  --dc-btn-minimal-bg-active: #{rgba($gray-500, $opacity-15)};
  --dc-btn-minimal-border-color: #{rgba($gray-500, $opacity-0)};
  --dc-btn-minimal-border-color-focus: #{rgba($gray-500, $opacity-0)};
  --dc-btn-minimal-focus-ring-color: var(--dc-focus-ring-color);

  --dc-btn-primary-text-color: #{$white};
  --dc-btn-primary-bg: #{$blue-500};
  --dc-btn-primary-bg-hover: #{$blue-600};
  --dc-btn-primary-bg-active: #{$blue-700};
  --dc-btn-primary-border-color: #{$blue-500};
  --dc-btn-primary-border-color-focus: #{$blue-600};
  --dc-btn-primary-focus-ring-color: var(--dc-focus-ring-color);

  --dc-btn-danger-text-color: #{$white};
  --dc-btn-danger-bg: #{$red-600};
  --dc-btn-danger-bg-hover: #{$red-700};
  --dc-btn-danger-bg-active: #{$red-800};
  --dc-btn-danger-border-color: #{$red-600};
  --dc-btn-danger-border-color-focus: #{$red-800};
  --dc-btn-danger-focus-ring-color: #{rgba($red-600, $opacity-50)};

  --dc-btn-success-text-color: #{$white};
  --dc-btn-success-bg: #{$green-500};
  --dc-btn-success-bg-hover: #{$green-600};
  --dc-btn-success-bg-active: #{$green-700};
  --dc-btn-success-border-color: #{$green-500};
  --dc-btn-success-border-color-focus: #{$green-600};
  --dc-btn-success-focus-ring-color: #{rgba($green-500, $opacity-50)};

  /*------------------------------------*\
   #FORM FIELDS
  \*------------------------------------*/
  --dc-field-text-color: #{$gray-800};
  --dc-field-add-on-color: #{$gray-600};
  --dc-field-border-color: #{$gray-300};
  --dc-field-bg-color: #{$white};

  --dc-field-disabled-text-color: #{$gray-400};
  --dc-field-disabled-add-on-color: #{$gray-400};
  --dc-field-disabled-border-color: #{$gray-200};
  --dc-field-disabled-bg-color: #{$gray-50};

  --dc-field-accent-color: #{$blue-500};
  --dc-field-accent-text-color: #{$white};
  --dc-field-error-color: #{$red-600};
  --dc-field-error-text-color: #{$white};

  --dc-field-w: #{px-to-rem(288px)};
  --dc-field-h: var(--dc-control-md-h);
  --dc-field-pad: #{px-to-em(12px)};
  --dc-field-br: #{$border-radius-xs};
  --dc-field-fs: #{$font-size-sm};

  --dc-textarea-lh: #{$leading-normal};

  /*------------------------------------*\
   #SELECTION CONTROLS
  \*------------------------------------*/
  --dc-checkbox-size: #{px-to-rem(18px)};

  --dc-radio-button-size: #{px-to-rem(18px)};

  --dc-switch-check-size: #{px-to-rem(16px)};
  --dc-switch-bg-color: #{$gray-200};
  --dc-switch-check-color: #{$white};
  --dc-switch-accent-color: #{$blue-500};
  --dc-switch-w: #{px-to-rem(32px)};
  --dc-switch-h: #{px-to-rem(20px)};

  /*------------------------------------*\
   #RADIO GROUP
  \*------------------------------------*/
  --dc-radio-group-selection-color: #{$blue-500};
  --dc-radio-group-border-color: #{rgba($black, $opacity-10)};

  /*------------------------------------*\
   #SLIDER
  \*------------------------------------*/
  --dc-slider-thumb-gb-color: #{$white};
  --dc-slider-track-gb-color: #{$gray-400};
  --dc-slider-fill-track-gb-color: #{$blue-500};

  /*------------------------------------*\
   #ACTIONS GROUP
  \*------------------------------------*/
  --dc-actions-group-border: #{$gray-300};
  --dc-actions-group-bg: #{$white};

  /*------------------------------------*\
   #NON IDEAL STATE VIEW
  \*------------------------------------*/
  --dc-non-ideal-state-text-color: var(--dc-primary-text-color);
  --dc-non-ideal-state-icon-color: var(--dc-tertiary-text-color);

  /*------------------------------------*\
   #TOAST
  \*------------------------------------*/
  --dc-toast-bg: #{$gray-800};
  --dc-toast-text-color: #{$white};
  --dc-toast-btn-bg: #{rgba($white, $opacity-10)};
  --dc-toast-btn-text-color: #{$white};

  @supports (backdrop-filter: blur()) {
    --dc-toast-bg: #{rgba($gray-800, $opacity-90)};
  }

  /*------------------------------------*\
   #BREADCRUMBS
  \*------------------------------------*/
  --dc-breadcrumbs-item-color: var(--dc-secondary-text-color);
  --dc-breadcrumbs-item-hover-color: var(--dc-primary-text-color);
  --dc-breadcrumbs-selected-item-color: var(--dc-primary-text-color);
  --dc-breadcrumbs-delimiter-color: #{$gray-400};

  /*------------------------------------*\
   #SEGMENTED CONTROL
  \*------------------------------------*/
  --dc-segmented-control-text-color: #{$gray-700};
  --dc-segmented-control-text-color-active: #{$white};
  --dc-segmented-control-border-color: #{rgba($gray-900, $opacity-15)};
  --dc-segmented-control-border-focus: #{$blue-500};
  --dc-segmented-control-separator-color: #{rgba($gray-900, $opacity-20)};
  --dc-segmented-control-bg: #{rgba($gray-500, $opacity-5)};
  --dc-segmented-control-bg-active: #{$blue-500};

  /*------------------------------------*\
   #LABEL
  \*------------------------------------*/
  --dc-label-text-color: var(--dc-primary-text-color);
  --dc-label-required-mark-color: #{$red-600};

  /*------------------------------------*\
   #TOOLTIP
  \*------------------------------------*/
  --dc-tooltip-bg-color: #{$gray-800};
  --dc-tooltip-text-color: #{$gray-100};

  /*------------------------------------*\
   #TABLE
  \*------------------------------------*/
  --dc-table-border-color: #{rgba($gray-500, $opacity-25)};
  --dc-table-border: 1px solid var(--dc-table-border-color);
  --dc-table-cell-bg: var(--dc-primary-bg-color);
  --dc-table-header-cell-bg: var(--dc-tertiary-bg-color);
  --dc-table-hover-row-bg: var(--dc-tertiary-bg-color);
  --dc-table-striped-row-bg: var(--dc-secondary-bg-color);
  --dc-table-selected-row-bg: #{blue-100};
  --dc-table-selected-stiped-row-bg: #{blue-50};

  /*------------------------------------*\
   #AVATAR
  \*------------------------------------*/
  --dc-avatar-color: #{$white};
  --dc-avatar-bg1-color: #{$gray-400};
  --dc-avatar-bg2-color: #{$gray-500};
  --dc-avatar-icon-color: #{$white};
  --dc-avatar-icon-bg: linear-gradient(#{$gray-400}, #{$gray-500});
}
