.dc-filter-buttons {
  --color: var(--dc-gray-950);
  --color-active: var(--dc-white);
  --background: rgb(var(--dc-gray-950-rgb) / 5%);
  --background-hover: rgb(var(--dc-gray-950-rgb) / 10%);
  --background-active: var(--dc-blue-500);
  --background-active-hover: var(--dc-blue-600);
  --focus-ring-color: var(--dc-gray-950);
  --focus-ring-color-active: var(--dc-white);

  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-bottom: 4px;
  overflow: auto;
  color-scheme: light;
}

.dc-filter-buttons > * + * {
  margin-left: 8px;
}

.dc-filter-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  font: var(--dc-text-sm);
  color: var(--color);
  white-space: nowrap;
  user-select: none;
  background: var(--background);
  border: 1px solid transparent;
  border-radius: 7px;
  transition-duration: 0.2s;
  transition-property: color, background-color;
}

.dc-filter-button:focus {
  outline: none;
}

.dc-filter-button:focus-visible {
  outline: 1px solid var(--focus-ring-color);
  outline-offset: -2px;
}

.dc-filter-button:hover {
  background: var(--background-hover);
}

.dc-filter-button.active,
.dc-filter-button[aria-pressed="true"] {
  color: var(--color-active);
  background: var(--background-active);
}

.dc-filter-button.active:hover,
.dc-filter-button[aria-pressed="true"]:hover {
  background: var(--background-active-hover);
}

.dc-filter-button.active:focus-visible,
.dc-filter-button[aria-pressed="true"]:focus-visible {
  outline-color: var(--focus-ring-color-active);
}

.dark .dc-filter-buttons,
.dark.dc-filter-buttons {
  --color: var(--dc-white);
  --color-active: var(--dc-white);
  --background: rgb(var(--dc-gray-50-rgb) / 20%);
  --background-hover: rgb(var(--dc-gray-50-rgb) / 30%);
  --background-active: var(--dc-blue-500);
  --background-active-hover: var(--dc-blue-400);
  --focus-ring-color: var(--dc-white);
  --focus-ring-color-active: var(--dc-white);

  color-scheme: dark;
}
