.dc-filter-buttons {
  --dc-filter-button-text-color: var(--dc-button-gray-tinted-text-color);
  --dc-filter-button-bg: var(--dc-button-gray-tinted-bg);
  --dc-filter-button-bg-hover: var(--dc-button-gray-tinted-bg-hover);
  --dc-filter-button-text-color-active: var(--dc-button-blue-text-color);
  --dc-filter-button-bg-active: var(--dc-button-blue-bg);
  --dc-filter-button-bg-active-hover: var(--dc-button-blue-bg-hover);

  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-bottom: 4px;
  overflow: auto;
  color-scheme: light;
}

.dc-filter-buttons > * + * {
  margin-left: 8px;
}

.dc-filter-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 28px;
  padding: 0 8px;
  font: var(--dc-text-sm);
  color: var(--dc-filter-button-text-color);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background: var(--dc-filter-button-bg);
  border: 1px solid transparent;
  border-radius: 7px;
  transition-duration: 0.2s;
  transition-property: color, background-color;
}

.dc-filter-button:hover {
  background: var(--dc-filter-button-bg-hover);
}

.dc-filter-button.active,
.dc-filter-button[aria-pressed="true"] {
  color: var(--dc-filter-button-text-color-active);
  background: var(--dc-filter-button-bg-active);
}

.dc-filter-button.active:hover,
.dc-filter-button[aria-pressed="true"]:hover {
  background: var(--dc-filter-button-bg-active-hover);
}

.dark .dc-filter-buttons,
.dark.dc-filter-buttons {
  color-scheme: dark;
}
