.dc-label {
  --color: var(--dc-primary-text-color);
  --required-mark-color: var(--dc-red-600);

  display: inline-block;
  font: var(--dc-text-sm);
  font-weight: 500;
  color: var(--color);
  color-scheme: light;
}

.dc-label_required::after {
  padding-left: 0.25em;
  color: var(--required-mark-color);
  content: "*";
}

.dark .dc-label,
.dark.dc-label {
  --required-mark-color: var(--dc-red-400);

  color-scheme: dark;
}
