.dc-label {
  --dc-label-text-color: var(--dc-primary-text-color);
  --dc-label-required-mark-color: var(--dc-red-500);

  font-family: var(--dc-primary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--dc-label-text-color);
}

.dc-label_required::after {
  content: "*";
  color: var(--dc-label-required-mark-color);
  padding-left: 0.25em;
}
