.dc-label {
  --dc-label-text-color: var(--dc-primary-text-color);
  --dc-label-required-mark-color: #dc2626;

  color-scheme: light;
  font: var(--dc-text-sm);
  font-weight: 500;
  color: var(--dc-label-text-color);
  display: inline-block;
}

.dc-label_required::after {
  content: "*";
  color: var(--dc-label-required-mark-color);
  padding-left: 0.25em;
}

.dark .dc-label,
.dark.dc-label {
  --dc-label-required-mark-color: #f87171;

  color-scheme: dark;
}
