.dark .dc-select__container,
.dark.dc-select__container {
  --dc-select-text-color: var(--dc-primary-text-color-dark);
  --dc-select-border-color: var(--dc-gray-700);
  --dc-select-border-color-error: var(--dc-red-500);
  --dc-select-background: var(--dc-gray-800);
  --dc-select-focus-ring-color: var(--dc-blue-500);
}
