.dc-select {
  --font-size: 14px;
  --color: var(--dc-gray-950);
  --height: 36px;
  --padding-x: 12px;
  --radius: 7px;
  --border-color: var(--dc-gray-300);
  --border-color-error: var(--dc-red-500);
  --background: var(--dc-white);
  --focus-ring-color: var(--dc-focus-ring-color);

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  max-width: 100%;
  height: var(--height);
  font-family: var(--dc-primary-font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.25;
  vertical-align: middle;
  color: var(--color);
  color-scheme: light;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

.dc-select:focus-within {
  border-color: var(--focus-ring-color);
  box-shadow: 0 0 0 1px var(--focus-ring-color);
}

.dc-select_multiple {
  height: initial;
  overflow: hidden;
}

.dc-select_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-select_invalid {
  border-color: var(--border-color-error);
}

.dc-select_full-width {
  display: flex;
  width: 100%;
}

.dc-select_sm {
  --font-size: 13px;
  --height: 32px;
  --padding-x: 8px;
  --radius: 6px;
}

.dc-select_lg {
  --font-size: 15px;
  --height: 40px;
  --padding-x: 16px;
  --radius: 8px;
}

.dc-select__native {
  flex-grow: 1;
  max-width: 100%;
  padding-right: calc(var(--height) + 0.5em);
  padding-left: var(--padding-x);
  font: inherit;
  color: inherit;
  text-transform: none;
  appearance: none;
  background: none;
  border: none;
}

.dc-select__native:focus {
  outline: none;
}

.dc-select__native:disabled {
  opacity: 1;
}

.dc-select__native:disabled > option {
  color: inherit;
}

.dc-select_multiple .dc-select__native {
  padding: 0;
  margin-top: var(--radius);
  margin-bottom: var(--radius);
}

.dc-select__slot-left {
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--height);
  height: var(--height);
  pointer-events: none;
  background: none;
}

.dc-select_multiple .dc-select__slot-left {
  display: none;
}

.dark .dc-select,
.dark.dc-select {
  --color: var(--dc-white);
  --border-color: var(--dc-gray-600);
  --border-color-error: var(--dc-red-400);
  --background: var(--dc-gray-800);

  color-scheme: dark;
}
