.dc-select__container {
  --dc-select-font-size: 14px;
  --dc-select-text-color: var(--dc-control-primary-text-color);
  --dc-select-height: 36px;
  --dc-select-padding-x: 12px;
  --dc-select-radius: 7px;
  --dc-select-border-color: var(--dc-control-border-color);
  --dc-select-border-color-error: var(--dc-control-error-color);
  --dc-select-bg: var(--dc-control-bg);
  --dc-select-focus-ring-color: var(--dc-control-primary-color);

  color-scheme: light;
  font-family: var(--dc-primary-font);
  font-size: var(--dc-select-font-size);
  font-weight: 400;
  line-height: 1.25;
  color: var(--dc-select-text-color);
  position: relative;
  display: inline-flex;
  align-items: stretch;
  box-sizing: border-box;
  height: var(--dc-select-height);
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid var(--dc-select-border-color);
  border-radius: var(--dc-select-radius);
  background: var(--dc-select-bg);
}

.dc-select__container:focus-within {
  border-color: var(--dc-select-focus-ring-color);
  box-shadow: 0 0 0 1px var(--dc-select-focus-ring-color);
}

.dc-select__container_multiple {
  overflow: hidden;
  height: initial;
}

.dc-select__container_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-select__container_has_error {
  border-color: var(--dc-select-border-color-error);
}

.dc-select__container_block {
  width: 100%;
}

.dc-select__container_sm {
  --dc-select-font-size: 13px;
  --dc-select-height: 32px;
  --dc-select-padding-x: 8px;
  --dc-select-radius: 6px;
}

.dc-select__container_lg {
  --dc-select-font-size: 15px;
  --dc-select-height: 40px;
  --dc-select-padding-x: 16px;
  --dc-select-radius: 8px;
}

.dc-select {
  appearance: none;
  font: inherit;
  color: inherit;
  width: 100%;
  padding-right: calc(var(--dc-select-height) + 0.5em);
  padding-left: var(--dc-select-padding-x);
  text-transform: none;
  border: none;
  background: none;
}

.dc-select__container_multiple .dc-select {
  margin-top: var(--dc-select-radius);
  margin-bottom: var(--dc-select-radius);
  padding: 0;
}

.dc-select:focus {
  outline: none;
}

.dc-select:disabled {
  opacity: 1;
}

.dc-select:disabled > option {
  color: inherit;
}

.dc-select:not(:disabled):hover {
  cursor: pointer;
}

.dc-select__add-on {
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--dc-select-height);
  height: var(--dc-select-height);
  pointer-events: none;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.dc-select__arrow {
  width: auto;
  height: 55%;
}

.dc-select__spinner {
  width: auto;
  height: 45%;
}

.dc-select__container_multiple .dc-select__arrow,
.dc-select__container_multiple .dc-select__spinner {
  display: none;
}
