.dc-select {
  --dc-select-font-size: 14px;
  --dc-select-text-color: var(--dc-control-primary-text-color);
  --dc-select-height: 36px;
  --dc-select-padding-x: 12px;
  --dc-select-radius: 7px;
  --dc-select-border-color: var(--dc-control-border-color);
  --dc-select-border-color-error: var(--dc-control-error-color);
  --dc-select-bg: var(--dc-control-bg);
  --dc-select-focus-ring-color: var(--dc-control-primary-color);

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  max-width: 100%;
  height: var(--dc-select-height);
  font-family: var(--dc-primary-font);
  font-size: var(--dc-select-font-size);
  font-weight: 400;
  line-height: 1.25;
  color: var(--dc-select-text-color);
  vertical-align: middle;
  color-scheme: light;
  background: var(--dc-select-bg);
  border: 1px solid var(--dc-select-border-color);
  border-radius: var(--dc-select-radius);
}

.dc-select:focus-within {
  border-color: var(--dc-select-focus-ring-color);
  box-shadow: 0 0 0 1px var(--dc-select-focus-ring-color);
}

.dc-select_multiple {
  height: initial;
  overflow: hidden;
}

.dc-select_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-select_invalid {
  border-color: var(--dc-select-border-color-error);
}

.dc-select_full-width {
  display: flex;
  width: 100%;
}

.dc-select_sm {
  --dc-select-font-size: 13px;
  --dc-select-height: 32px;
  --dc-select-padding-x: 8px;
  --dc-select-radius: 6px;
}

.dc-select_lg {
  --dc-select-font-size: 15px;
  --dc-select-height: 40px;
  --dc-select-padding-x: 16px;
  --dc-select-radius: 8px;
}

.dc-select__native {
  width: 100%;
  padding-right: calc(var(--dc-select-height) + 0.5em);
  padding-left: var(--dc-select-padding-x);
  font: inherit;
  color: inherit;
  text-transform: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
}

.dc-select__native:focus {
  outline: none;
}

.dc-select__native:disabled {
  cursor: default;
  opacity: 1;
}

.dc-select__native:disabled > option {
  color: inherit;
}

.dc-select_multiple .dc-select__native {
  padding: 0;
  margin-top: var(--dc-select-radius);
  margin-bottom: var(--dc-select-radius);
}

.dc-select__slot-left {
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--dc-select-height);
  height: var(--dc-select-height);
  pointer-events: none;
  background: none;
}

.dc-select_multiple .dc-select__slot-left {
  display: none;
}

.dark .dc-select,
.dark.dc-select {
  color-scheme: dark;
}
