@import url("slide-over-header.css");
@import url("slide-over-body.css");

.dc-slide-over {
  --dc-slide-over-text-color: var(--dc-primary-text-color);
  --dc-slide-over-secondary-text-color: var(--dc-secondary-text-color);
  --dc-slide-over-panel-max-width: 512px;
  --dc-slide-over-panel-bg: var(--dc-primary-bg);
  --dc-slide-over-backdrop-color: rgb(var(--dc-gray-900-rgb) / 40%);

  position: relative;
  z-index: var(--dc-overlay-z-index);
  color-scheme: light;
}

.dc-slide-over__backdrop,
.dc-slide-over__panel {
  position: fixed;
  top: 0;
  height: 100%;
}

.dc-slide-over__backdrop {
  left: 0;
  width: 100%;
  background: var(--dc-slide-over-backdrop-color);
}

.dc-slide-over__panel {
  right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--dc-slide-over-panel-max-width);
  color: var(--dc-primary-text-color);
  background: var(--dc-slide-over-panel-bg);
  box-shadow: var(--dc-shadow-md);
}

.dark .dc-slide-over,
.dark.dc-slide-over {
  --dc-slide-over-panel-bg: var(--dc-gray-800);

  color-scheme: dark;
}

.dark .dc-slide-over__panel {
  box-shadow: 0 0 0 1px var(--dc-border-color-transparent-1), var(--dc-shadow-md);
}
