.dark .dc-slide-over,
.dark.dc-slide-over {
  --dc-slide-over-panel-bg: var(--dc-gray-800);

  color-scheme: dark;
}

.dark .dc-slide-over__panel {
  box-shadow: 0 0 0 1px var(--dc-border-color-transparent-1), var(--dc-shadow-md);
}
