.dc-alert {
  --dc-alert-text-color: var(--dc-gray-700);
  --dc-alert-icon-color: var(--dc-gray-500);
  --dc-alert-bg: rgba(229, 231, 235, 0.25); /* gray-200 */
  --dc-alert-border-color: rgba(156, 163, 175, 0.25); /* gray-400 */
  --dc-alert-accent-border-color: var(--dc-gray-500);
  --dc-alert-icon-size: 20px;

  font: var(--dc-text-sm);
  color: var(--dc-alert-text-color);
  display: grid;
  grid-template-areas: "icon content";
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding: 12px 16px;
  text-align: left;
  border: 1px solid var(--dc-alert-border-color);
  border-radius: 8px;
  background: var(--dc-alert-bg);
}

.dc-alert_has_icon {
  grid-column-gap: 12px;
  padding-left: 12px;
}

.dc-alert__icon {
  color: var(--dc-alert-icon-color);
  grid-area: icon;
}

.dc-alert__body {
  grid-area: content;
}

.dc-alert__title {
  font: inherit;
  font-weight: 600;
  margin: 0 0 0.5em;
}

.dc-alert_variant_full-width {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.dc-alert_variant_accent-border {
  border: none;
  border-left: 4px solid var(--dc-alert-accent-border-color);
  border-radius: 0;
}

.dc-alert_appearance_warning {
  --dc-alert-text-color: var(--dc-orange-700);
  --dc-alert-icon-color: var(--dc-orange-600);
  --dc-alert-bg: rgba(254, 215, 170, 0.2); /* orange-200 */
  --dc-alert-border-color: rgba(249, 115, 22, 0.25); /* orange-500 */
  --dc-alert-accent-border-color: var(--dc-orange-500);
}

.dc-alert_appearance_error {
  --dc-alert-text-color: var(--dc-red-700);
  --dc-alert-icon-color: var(--dc-red-600);
  --dc-alert-bg: rgba(254, 202, 202, 0.2); /* red-200 */
  --dc-alert-border-color: rgba(239, 68, 68, 0.25); /* red-500 */
  --dc-alert-accent-border-color: var(--dc-red-500);
}

.dc-alert_appearance_info {
  --dc-alert-text-color: var(--dc-blue-700);
  --dc-alert-icon-color: var(--dc-blue-600);
  --dc-alert-bg: rgba(191, 219, 254, 0.2); /* blue-200 */
  --dc-alert-border-color: rgba(59, 130, 246, 0.25); /* blue-500 */
  --dc-alert-accent-border-color: var(--dc-blue-500);
}

.dc-alert_appearance_success {
  --dc-alert-text-color: var(--dc-green-700);
  --dc-alert-icon-color: var(--dc-green-600);
  --dc-alert-bg: rgba(187, 247, 208, 0.2); /* green-200 */
  --dc-alert-border-color: rgba(22, 163, 74, 0.25); /* green-500 */
  --dc-alert-accent-border-color: var(--dc-green-500);
}
