.dc-alert {
  --dc-alert-text-color: var(--dc-gray-700);
  --dc-alert-icon-color: var(--dc-gray-500);
  --dc-alert-bg: rgb(var(--dc-gray-200-rgb) / 25%);
  --dc-alert-border-color: rgb(var(--dc-gray-400-rgb) / 25%);
  --dc-alert-accent-border-color: var(--dc-gray-500);
  --dc-alert-icon-size: 20px;

  box-sizing: border-box;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 12px 16px;
  font: var(--dc-text-sm);
  color: var(--dc-alert-text-color);
  text-align: left;
  color-scheme: light;
  background: var(--dc-alert-bg);
  border: 1px solid var(--dc-alert-border-color);
  border-radius: 8px;
}

.dc-alert_has_icon {
  padding-left: 12px;
}

.dc-alert_has_dismiss-button {
  padding-right: 12px;
}

.dc-alert__icon {
  display: inline-flex;
  color: var(--dc-alert-icon-color);
}

.dc-alert__body {
  flex-grow: 1;
}

.dc-alert__title {
  display: block;
  width: 100%;
  margin: 0 0 8px;
  font: 600 var(--dc-text-sm);
}

.dc-alert__dismiss-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  color: inherit;
  appearance: none;
  background: none;
  border: none;
  border-radius: 4px;
}

.dc-alert__dismiss-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px currentcolor;
}

.dc-alert__dismiss-button:focus:not(:focus-visible) {
  box-shadow: none;
}

.dc-alert_style_full-width {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.dc-alert_style_accent-left {
  border: none;
  border-left: 4px solid var(--dc-alert-accent-border-color);
  border-radius: 0;
}

.dc-alert_tint_orange {
  --dc-alert-text-color: var(--dc-orange-700);
  --dc-alert-icon-color: var(--dc-orange-600);
  --dc-alert-bg: rgb(var(--dc-orange-200-rgb) / 20%);
  --dc-alert-border-color: rgb(var(--dc-orange-500-rgb) / 25%);
  --dc-alert-accent-border-color: var(--dc-orange-500);
}

.dc-alert_tint_red {
  --dc-alert-text-color: var(--dc-red-700);
  --dc-alert-icon-color: var(--dc-red-600);
  --dc-alert-bg: rgb(var(--dc-red-200-rgb) / 20%);
  --dc-alert-border-color: rgb(var(--dc-red-500-rgb) / 25%);
  --dc-alert-accent-border-color: var(--dc-red-500);
}

.dc-alert_tint_blue {
  --dc-alert-text-color: var(--dc-blue-700);
  --dc-alert-icon-color: var(--dc-blue-600);
  --dc-alert-bg: rgb(var(--dc-blue-200-rgb) / 20%);
  --dc-alert-border-color: rgb(var(--dc-blue-500-rgb) / 25%);
  --dc-alert-accent-border-color: var(--dc-blue-500);
}

.dc-alert_tint_green {
  --dc-alert-text-color: var(--dc-green-700);
  --dc-alert-icon-color: var(--dc-green-600);
  --dc-alert-bg: rgb(var(--dc-green-200-rgb) / 20%);
  --dc-alert-border-color: rgb(var(--dc-green-600-rgb) / 25%);
  --dc-alert-accent-border-color: var(--dc-green-500);
}

.dark .dc-alert,
.dark.dc-alert {
  --dc-alert-text-color: var(--dc-gray-300);
  --dc-alert-icon-color: var(--dc-gray-300);
  --dc-alert-bg: rgb(var(--dc-gray-200-rgb) / 10%);
  --dc-alert-border-color: rgb(var(--dc-gray-400-rgb) / 20%);
  --dc-alert-accent-border-color: var(--dc-gray-400);

  color-scheme: dark;
}

.dark .dc-alert_tint_orange,
.dark.dc-alert_tint_orange {
  --dc-alert-text-color: var(--dc-orange-400);
  --dc-alert-icon-color: var(--dc-orange-400);
  --dc-alert-bg: rgb(var(--dc-orange-200-rgb) / 10%);
  --dc-alert-border-color: rgb(var(--dc-orange-400-rgb) / 30%);
  --dc-alert-accent-border-color: var(--dc-orange-500);
}

.dark .dc-alert_tint_red,
.dark.dc-alert_tint_red {
  --dc-alert-text-color: var(--dc-red-400);
  --dc-alert-icon-color: var(--dc-red-400);
  --dc-alert-bg: rgb(var(--dc-red-300-rgb) / 10%);
  --dc-alert-border-color: rgb(var(--dc-red-400-rgb) / 30%);
  --dc-alert-accent-border-color: var(--dc-red-500);
}

.dark .dc-alert_tint_blue,
.dark.dc-alert_tint_blue {
  --dc-alert-text-color: var(--dc-blue-300);
  --dc-alert-icon-color: var(--dc-blue-300);
  --dc-alert-bg: rgb(var(--dc-blue-200-rgb) / 10%);
  --dc-alert-border-color: rgb(var(--dc-blue-400-rgb) / 30%);
  --dc-alert-accent-border-color: var(--dc-blue-400);
}

.dark .dc-alert_tint_green,
.dark.dc-alert_tint_green {
  --dc-alert-text-color: var(--dc-green-400);
  --dc-alert-icon-color: var(--dc-green-400);
  --dc-alert-bg: rgb(var(--dc-green-200-rgb) / 10%);
  --dc-alert-border-color: rgb(var(--dc-green-400-rgb) / 30%);
  --dc-alert-accent-border-color: var(--dc-green-500);
}
