.dark .dc-alert,
.dark.dc-alert {
  --dc-alert-text-color: var(--dc-gray-300);
  --dc-alert-icon-color: var(--dc-gray-300);
  --dc-alert-bg: rgb(var(--dc-gray-200-rgb) / 0.1);
  --dc-alert-border-color: rgb(var(--dc-gray-400-rgb) / 0.2);
  --dc-alert-accent-border-color: var(--dc-gray-400);

  color-scheme: dark;
}

.dark .dc-alert_appearance_warning,
.dark.dc-alert_appearance_warning {
  --dc-alert-text-color: var(--dc-orange-400);
  --dc-alert-icon-color: var(--dc-orange-400);
  --dc-alert-bg: rgb(var(--dc-orange-200-rgb) / 0.1);
  --dc-alert-border-color: rgb(var(--dc-orange-400-rgb) / 0.3);
  --dc-alert-accent-border-color: var(--dc-orange-500);
}

.dark .dc-alert_appearance_error,
.dark.dc-alert_appearance_error {
  --dc-alert-text-color: var(--dc-red-400);
  --dc-alert-icon-color: var(--dc-red-400);
  --dc-alert-bg: rgb(var(--dc-red-300-rgb) / 0.1);
  --dc-alert-border-color: rgb(var(--dc-red-400-rgb) / 0.3);
  --dc-alert-accent-border-color: var(--dc-red-500);
}

.dark .dc-alert_appearance_info,
.dark.dc-alert_appearance_info {
  --dc-alert-text-color: var(--dc-blue-300);
  --dc-alert-icon-color: var(--dc-blue-300);
  --dc-alert-bg: rgb(var(--dc-blue-200-rgb) / 0.1);
  --dc-alert-border-color: rgb(var(--dc-blue-400-rgb) / 0.3);
  --dc-alert-accent-border-color: var(--dc-blue-400);
}

.dark .dc-alert_appearance_success,
.dark.dc-alert_appearance_success {
  --dc-alert-text-color: var(--dc-green-400);
  --dc-alert-icon-color: var(--dc-green-400);
  --dc-alert-bg: rgb(var(--dc-green-200-rgb) / 0.1);
  --dc-alert-border-color: rgb(var(--dc-green-400-rgb) / 0.3);
  --dc-alert-accent-border-color: var(--dc-green-500);
}
