/*------------------------------------*\
  #DISPLAY
\*------------------------------------*/
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}

/*------------------------------------*\
  #BOX SIZING
\*------------------------------------*/
.box-content {
  box-sizing: content-box;
}
.box-border {
  box-sizing: border-box;
}

/*------------------------------------*\
  #WIDTH
\*------------------------------------*/
.width-full {
  width: 100%;
}
