/*------------------------------------*\
  #DISPLAY
\*------------------------------------*/
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

/*------------------------------------*\
  #BOX SIZING
\*------------------------------------*/
.box-content {
  box-sizing: content-box !important;
}

.box-border {
  box-sizing: border-box !important;
}

/*------------------------------------*\
  #WIDTH
\*------------------------------------*/
.width-full {
  width: 100% !important;
}
