@use '../abstracts' as dc;

$margin-scale: (
  auto: auto,
  0: 0,
  1: dc.$gap-1x,
  2: dc.$gap-2x,
  3: dc.$gap-3x,
  4: dc.$gap-4x,
  5: dc.$gap-5x,
  6: dc.$gap-6x,
  8: dc.$gap-8x,
  10: dc.$gap-10x,
  12: dc.$gap-12x,
  16: dc.$gap-16x,
  20: dc.$gap-20x,
  24: dc.$gap-24x,
);

@each $scale, $margin in $margin-scale {
  .m-#{$scale} {
    margin: $margin !important;
  }

  .mx-#{$scale} {
    margin-right: $margin !important;
    margin-left: $margin !important;
  }

  .my-#{$scale} {
    margin-top: $margin !important;
    margin-bottom: $margin !important;
  }

  .mt-#{$scale} {
    margin-top: $margin !important;
  }

  .mr-#{$scale} {
    margin-right: $margin !important;
  }

  .mb-#{$scale} {
    margin-bottom: $margin !important;
  }

  .ml-#{$scale} {
    margin-left: $margin !important;
  }
}
