$margin-scale: (
  0: 0,
  1: $gap-1x,
  2: $gap-2x,
  3: $gap-3x,
  4: $gap-4x,
  5: $gap-5x,
  6: $gap-6x,
  8: $gap-8x,
  10: $gap-10x,
  12: $gap-12x,
  16: $gap-16x,
  20: $gap-20x,
  24: $gap-24x,
);

@each $scale, $margin in $margin-scale {
  .m-#{$scale} {
    margin: $margin;
  }

  .mx-#{$scale} {
    margin-right: $margin;
    margin-left: $margin;
  }

  .my-#{$scale} {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  .mt-#{$scale} {
    margin-top: $margin;
  }

  .mr-#{$scale} {
    margin-right: $margin;
  }

  .mb-#{$scale} {
    margin-bottom: $margin;
  }

  .ml-#{$scale} {
    margin-left: $margin;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
