.text-color-inherit {
  color: inherit;
}
.text-color-primary {
  color: var(--dc-primary-text-color);
}
.text-color-secondary {
  color: var(--dc-secondary-text-color);
}
.text-color-tertiary {
  color: var(--dc-tertiary-text-color);
}

/*------------------------------------*\
  #TEXT WEIGHT
\*------------------------------------*/
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-extrabold {
  font-weight: 800;
}

/*------------------------------------*\
  #TEXT STYLE
\*------------------------------------*/
.text-italic {
  font-style: italic;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-no-underline {
  text-decoration: none;
}
.text-no-select {
  user-select: none !important;
}

/*------------------------------------*\
  #TEXT ALIGNMENT
\*------------------------------------*/
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
