@use '../abstracts' as dc;

/*------------------------------------*\
  #TEXT COLOR
\*------------------------------------*/
.color-inherit {
  color: inherit !important;
}

.color-primary {
  color: var(--dc-primary-text-color) !important;
}

.color-secondary {
  color: var(--dc-secondary-text-color) !important;
}

.color-tertiary {
  color: var(--dc-tertiary-text-color) !important;
}

.color-link {
  color: var(--dc-link-text-color) !important;
}

.color-error {
  color: var(--dc-error-text-color) !important;
}

.color-warning {
  color: var(--dc-warning-text-color) !important;
}

.color-info {
  color: var(--dc-info-text-color) !important;
}

.color-success {
  color: var(--dc-success-text-color) !important;
}

.text-gray-50 {
  color: dc.$gray-50 !important;
}
.text-gray-100 {
  color: dc.$gray-100 !important;
}
.text-gray-200 {
  color: dc.$gray-200 !important;
}
.text-gray-300 {
  color: dc.$gray-300 !important;
}
.text-gray-400 {
  color: dc.$gray-400 !important;
}
.text-gray-500 {
  color: dc.$gray-500 !important;
}
.text-gray-600 {
  color: dc.$gray-600 !important;
}
.text-gray-700 {
  color: dc.$gray-700 !important;
}
.text-gray-800 {
  color: dc.$gray-800 !important;
}
.text-gray-900 {
  color: dc.$gray-900 !important;
}

.text-blue-50 {
  color: dc.$blue-50 !important;
}
.text-blue-100 {
  color: dc.$blue-100 !important;
}
.text-blue-200 {
  color: dc.$blue-200 !important;
}
.text-blue-300 {
  color: dc.$blue-300 !important;
}
.text-blue-400 {
  color: dc.$blue-400 !important;
}
.text-blue-500 {
  color: dc.$blue-500 !important;
}
.text-blue-600 {
  color: dc.$blue-600 !important;
}
.text-blue-700 {
  color: dc.$blue-700 !important;
}
.text-blue-800 {
  color: dc.$blue-800 !important;
}
.text-blue-900 {
  color: dc.$blue-900 !important;
}

.text-cyan-50 {
  color: dc.$cyan-50 !important;
}
.text-cyan-100 {
  color: dc.$cyan-100 !important;
}
.text-cyan-200 {
  color: dc.$cyan-200 !important;
}
.text-cyan-300 {
  color: dc.$cyan-300 !important;
}
.text-cyan-400 {
  color: dc.$cyan-400 !important;
}
.text-cyan-500 {
  color: dc.$cyan-500 !important;
}
.text-cyan-600 {
  color: dc.$cyan-600 !important;
}
.text-cyan-700 {
  color: dc.$cyan-700 !important;
}
.text-cyan-800 {
  color: dc.$cyan-800 !important;
}
.text-cyan-900 {
  color: dc.$cyan-900 !important;
}

.text-red-50 {
  color: dc.$red-50 !important;
}
.text-red-100 {
  color: dc.$red-100 !important;
}
.text-red-200 {
  color: dc.$red-200 !important;
}
.text-red-300 {
  color: dc.$red-300 !important;
}
.text-red-400 {
  color: dc.$red-400 !important;
}
.text-red-500 {
  color: dc.$red-500 !important;
}
.text-red-600 {
  color: dc.$red-600 !important;
}
.text-red-700 {
  color: dc.$red-700 !important;
}
.text-red-800 {
  color: dc.$red-800 !important;
}
.text-red-900 {
  color: dc.$red-900 !important;
}

.text-green-50 {
  color: dc.$green-50 !important;
}
.text-green-100 {
  color: dc.$green-100 !important;
}
.text-green-200 {
  color: dc.$green-200 !important;
}
.text-green-300 {
  color: dc.$green-300 !important;
}
.text-green-400 {
  color: dc.$green-400 !important;
}
.text-green-500 {
  color: dc.$green-500 !important;
}
.text-green-600 {
  color: dc.$green-600 !important;
}
.text-green-700 {
  color: dc.$green-700 !important;
}
.text-green-800 {
  color: dc.$green-800 !important;
}
.text-green-900 {
  color: dc.$green-900 !important;
}

.text-lime-50 {
  color: dc.$lime-50 !important;
}
.text-lime-100 {
  color: dc.$lime-100 !important;
}
.text-lime-200 {
  color: dc.$lime-200 !important;
}
.text-lime-300 {
  color: dc.$lime-300 !important;
}
.text-lime-400 {
  color: dc.$lime-400 !important;
}
.text-lime-500 {
  color: dc.$lime-500 !important;
}
.text-lime-600 {
  color: dc.$lime-600 !important;
}
.text-lime-700 {
  color: dc.$lime-700 !important;
}
.text-lime-800 {
  color: dc.$lime-800 !important;
}
.text-lime-900 {
  color: dc.$lime-900 !important;
}

.text-indigo-50 {
  color: dc.$indigo-50 !important;
}
.text-indigo-100 {
  color: dc.$indigo-100 !important;
}
.text-indigo-200 {
  color: dc.$indigo-200 !important;
}
.text-indigo-300 {
  color: dc.$indigo-300 !important;
}
.text-indigo-400 {
  color: dc.$indigo-400 !important;
}
.text-indigo-500 {
  color: dc.$indigo-500 !important;
}
.text-indigo-600 {
  color: dc.$indigo-600 !important;
}
.text-indigo-700 {
  color: dc.$indigo-700 !important;
}
.text-indigo-800 {
  color: dc.$indigo-800 !important;
}
.text-indigo-900 {
  color: dc.$indigo-900 !important;
}

.text-yellow-50 {
  color: dc.$yellow-50 !important;
}
.text-yellow-100 {
  color: dc.$yellow-100 !important;
}
.text-yellow-200 {
  color: dc.$yellow-200 !important;
}
.text-yellow-300 {
  color: dc.$yellow-300 !important;
}
.text-yellow-400 {
  color: dc.$yellow-400 !important;
}
.text-yellow-500 {
  color: dc.$yellow-500 !important;
}
.text-yellow-600 {
  color: dc.$yellow-600 !important;
}
.text-yellow-700 {
  color: dc.$yellow-700 !important;
}
.text-yellow-800 {
  color: dc.$yellow-800 !important;
}
.text-yellow-900 {
  color: dc.$yellow-900 !important;
}

.text-orange-50 {
  color: dc.$orange-50 !important;
}
.text-orange-100 {
  color: dc.$orange-100 !important;
}
.text-orange-200 {
  color: dc.$orange-200 !important;
}
.text-orange-300 {
  color: dc.$orange-300 !important;
}
.text-orange-400 {
  color: dc.$orange-400 !important;
}
.text-orange-500 {
  color: dc.$orange-500 !important;
}
.text-orange-600 {
  color: dc.$orange-600 !important;
}
.text-orange-700 {
  color: dc.$orange-700 !important;
}
.text-orange-800 {
  color: dc.$orange-800 !important;
}
.text-orange-900 {
  color: dc.$orange-900 !important;
}

/*------------------------------------*\
  #TEXT WEIGHT
\*------------------------------------*/
.text-light {
  font-weight: 300 !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-medium {
  font-weight: 500 !important;
}

.text-semi-bold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-extra-bold {
  font-weight: 800 !important;
}

/*------------------------------------*\
  #TEXT STYLE
\*------------------------------------*/
.text-italic {
  font-style: italic !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-no-underline {
  text-decoration: none !important;
}

.text-no-select {
  user-select: none !important;
}

.text-no-wrap {
  white-space: nowrap !important;
}

.text-wrap {
  white-space: initial !important;
}

/*------------------------------------*\
  #TEXT ALIGNMENT
\*------------------------------------*/
.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

/*------------------------------------*\
  #FONT SIZE
\*------------------------------------*/
.fs-xs {
  font-size: dc.$font-size-xs !important;
}

.fs-sm {
  font-size: dc.$font-size-sm !important;
}

.fs-base {
  font-size: dc.$font-size-base !important;
}

.fs-lg {
  font-size: dc.$font-size-lg !important;
}

.fs-xl {
  font-size: dc.$font-size-xl !important;
}

.fs-2xl {
  font-size: dc.$font-size-2xl !important;
}

.fs-3xl {
  font-size: dc.$font-size-3xl !important;
}

/*------------------------------------*\
  #LINE HEIGHT
\*------------------------------------*/
.leading-default {
  $leading-default: 1 !important;
}

.leading-tight {
  $leading-tight: 1.25 !important;
}

.leading-normal {
  $leading-normal: 1.375 !important;
}

.leading-lg {
  $leading-lg: 1.5 !important;
}
