.dark {
  /* Background */
  --dc-primary-bg: var(--dc-gray-900);
  --dc-bg-transparent-1: rgb(var(--dc-gray-50-rgb) / 0.1);
  --dc-bg-transparent-2: rgb(var(--dc-gray-50-rgb) / 0.15);
  --dc-bg-transparent-3: rgb(var(--dc-gray-50-rgb) / 0.25);

  /* Borders */
  --dc-border-color-transparent-1: rgb(var(--dc-gray-50-rgb) / 0.1);
  --dc-border-color-transparent-2: rgb(var(--dc-gray-50-rgb) / 0.2);
  --dc-border-color-transparent-3: rgb(var(--dc-gray-50-rgb) / 0.3);

  /* Text */
  --dc-primary-text-color: var(--dc-gray-100);
  --dc-secondary-text-color: var(--dc-gray-400);
  --dc-tertiary-text-color: var(--dc-gray-600);

  /* Primary */
  --dc-primary-color: var(--dc-blue-600);
  --dc-primary-color-hover: var(--dc-blue-500);
  --dc-on-primary-color: var(--dc-white);

  /* Secondary */
  --dc-secondary-color: rgb(var(--dc-blue-400-rgb) / 0.15);
  --dc-secondary-color-hover: rgb(var(--dc-blue-400-rgb) / 0.3);
  --dc-on-secondary-color: var(--dc-blue-400);

  /* Accents */
  --dc-info-text-color: var(--dc-blue-400);
  --dc-success-text-color: var(--dc-green-400);
  --dc-error-text-color: var(--dc-red-400);
  --dc-warning-text-color: var(--dc-orange-400);

  /* Gray button */
  --dc-button-gray-text-color: var(--dc-gray-100);
  --dc-button-gray-border-color: rgb(var(--dc-gray-50-rgb) / 0.1);
  --dc-button-gray-bg: var(--dc-gray-700);
  --dc-button-gray-bg-hover: var(--dc-gray-600);
  --dc-button-gray-tinted-text-color: var(--dc-gray-100);
  --dc-button-gray-tinted-bg: rgb(var(--dc-gray-50-rgb) / 0.1);
  --dc-button-gray-tinted-bg-hover: rgb(var(--dc-gray-50-rgb) / 0.2);
  --dc-button-gray-plain-text-color: var(--dc-gray-100);
  --dc-button-gray-plain-bg-hover: rgb(var(--dc-gray-50-rgb) / 0.1);

  /* Blue button */
  --dc-button-blue-text-color: var(--dc-white);
  --dc-button-blue-border-color: transparent;
  --dc-button-blue-bg: var(--dc-blue-600);
  --dc-button-blue-bg-hover: var(--dc-blue-500);
  --dc-button-blue-tinted-text-color: var(--dc-blue-400);
  --dc-button-blue-tinted-bg: rgb(var(--dc-blue-400-rgb) / 0.15);
  --dc-button-blue-tinted-bg-hover: rgb(var(--dc-blue-400-rgb) / 0.3);
  --dc-button-blue-plain-text-color: var(--dc-blue-400);
  --dc-button-blue-plain-bg-hover: rgb(var(--dc-blue-400-rgb) / 0.15);

  /* Red button */
  --dc-button-red-text-color: var(--dc-white);
  --dc-button-red-border-color: transparent;
  --dc-button-red-bg: var(--dc-red-600);
  --dc-button-red-bg-hover: var(--dc-red-500);
  --dc-button-red-tinted-text-color: var(--dc-red-400);
  --dc-button-red-tinted-bg: rgb(var(--dc-red-400-rgb) / 0.15);
  --dc-button-red-tinted-bg-hover: rgb(var(--dc-red-400-rgb) / 0.3);
  --dc-button-red-plain-text-color: var(--dc-red-400);
  --dc-button-red-plain-bg-hover: rgb(var(--dc-red-400-rgb) / 0.15);

  /* Green button */
  --dc-button-green-text-color: var(--dc-white);
  --dc-button-green-border-color: transparent;
  --dc-button-green-bg: var(--dc-green-600);
  --dc-button-green-bg-hover: var(--dc-green-500);
  --dc-button-green-tinted-text-color: var(--dc-green-400);
  --dc-button-green-tinted-bg: rgb(var(--dc-green-400-rgb) / 0.15);
  --dc-button-green-tinted-bg-hover: rgb(var(--dc-green-400-rgb) / 0.3);
  --dc-button-green-plain-text-color: var(--dc-green-400);
  --dc-button-green-plain-bg-hover: rgb(var(--dc-green-400-rgb) / 0.15);

  /* Controls */
  --dc-control-primary-text-color: var(--dc-gray-100);
  --dc-control-secondary-text-color: var(--dc-gray-400);
  --dc-control-primary-color: var(--dc-blue-600);
  --dc-control-primary-color-hover: var(--dc-blue-500);
  --dc-control-on-primary-color: var(--dc-white);
  --dc-control-secondary-color: rgb(var(--dc-blue-400-rgb) / 0.15);
  --dc-control-border-color: var(--dc-gray-600);
  --dc-control-bg: var(--dc-gray-800);
  --dc-control-bg-inset: rgb(var(--dc-gray-50-rgb) / 0.25);
  --dc-control-error-color: var(--dc-red-400);
  --dc-focus-ring-color: rgb(var(--dc-blue-400-rgb) / 0.7);
}
