.dc-checkbox {
  --dc-checkbox-size: 20px;
  --dc-checkbox-radius: 6px;
  --dc-checkbox-bg: var(--dc-control-bg);
  --dc-checkbox-bg-checked: var(--dc-control-primary-color);
  --dc-checkbox-border-color: var(--dc-control-border-color);
  --dc-checkbox-border-color-checked: var(--dc-control-primary-color);
  --dc-checkbox-icon-color: var(--dc-control-on-primary-color);
  --dc-checkbox-focus-ring-color: var(--dc-focus-ring-color);

  color-scheme: light;
  line-height: 0;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: var(--dc-checkbox-size);
  height: var(--dc-checkbox-size);
  text-align: left;
}

.dc-checkbox__input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.dc-checkbox__check {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
  vertical-align: middle;
  border: 1px solid var(--dc-checkbox-border-color);
  border-radius: var(--dc-checkbox-radius);
  background: var(--dc-checkbox-bg);
}

.dc-checkbox__icon {
  color: var(--dc-checkbox-icon-color);
  display: none;
  width: 100%;
  height: 100%;
}

.dc-checkbox__input:checked + .dc-checkbox__check {
  border-color: var(--dc-checkbox-border-color-checked);
  background: var(--dc-checkbox-bg-checked);
}

.dc-checkbox__input:checked + .dc-checkbox__check .dc-checkbox__icon {
  display: initial;
}

.dc-checkbox__input:disabled + .dc-checkbox__check {
  opacity: var(--dc-disabled-state-opacity);
  cursor: default;
}

.dc-checkbox__input:focus {
  outline: none;
}

.dc-checkbox__input:focus + .dc-checkbox__check::after {
  content: "";
  position: absolute;
  inset: -3px;
  pointer-events: none;
  border-radius: calc(3px + var(--dc-checkbox-radius));
  box-shadow: 0 0 0 3px var(--dc-checkbox-focus-ring-color);
}

.dc-checkbox__input:focus:not(:focus-visible) + .dc-checkbox__check::after {
  content: none;
}

.dark .dc-checkbox,
.dark.dc-checkbox {
  color-scheme: dark;
}
