.dark .dc-checkbox,
.dark.dc-checkbox {
  --dc-checkbox-background-color: var(--dc-gray-700);
  --dc-checkbox-background-color-checked: var(--dc-blue-500);
  --dc-checkbox-border-color: var(--dc-gray-500);
  --dc-checkbox-border-color-checked: var(--dc-blue-500);
  --dc-checkbox-icon-color: white;
  --dc-checkbox-focus-ring-color: var(--dc-focus-ring-color-dark);
}
