.dc-dialog {
  --dc-dialog-max-width: 480px;
  --dc-dialog-safe-area: 16px;
  --dc-dialog-viewport-gap: 16px;
  --dc-dialog-transition-duration: 200ms;
  --dc-dialog-text-color: var(--dc-primary-text-color);
  --dc-dialog-border-color: transparent;
  --dc-dialog-bg: var(--dc-primary-bg);
  --dc-dialog-inset-shadow-color: var(--dc-border-color-transparent-2);
  --dc-dialog-backdrop-color: rgb(17 24 39 / 0.4); /* gray-900 */

  color-scheme: light;
  position: relative;
  z-index: var(--dc-overlay-z-index);
}

.dc-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--dc-dialog-viewport-gap);
  background: var(--dc-dialog-backdrop-color);
}

.dc-dialog_closed .dc-dialog-backdrop {
  opacity: 0;
  transition: opacity var(--dc-dialog-transition-duration) linear;
}

.dc-dialog_opened .dc-dialog-backdrop {
  opacity: 1;
}

.dc-dialog-modal {
  color: var(--dc-dialog-text-color);
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: calc(var(--dc-dialog-max-width) + 2 * var(--dc-dialog-safe-area));
  max-height: calc(100% - 2 * var(--dc-dialog-viewport-gap));
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background: var(--dc-dialog-bg);
  box-shadow: var(--dc-shadow-xl);
}

.dc-dialog-modal_sm {
  --dc-dialog-max-width: 320px;
}

.dc-dialog-modal_lg {
  --dc-dialog-max-width: 640px;
}

.dc-dialog_closed .dc-dialog-modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
  transition: var(--dc-dialog-transition-duration) ease;
  transition-property: opacity, transform;
}

.dc-dialog_opened .dc-dialog-modal {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.dc-dialog-header,
.dc-dialog-body,
.dc-dialog-footer {
  padding: var(--dc-dialog-safe-area);
}

.dc-dialog-header {
  font: var(--dc-text-sm);
}

.dc-dialog-header_has_border {
  border-bottom: 1px solid var(--dc-dialog-inset-shadow-color);
}

.dc-dialog-header__title-bar {
  position: relative;
  padding-right: 24px;
}

.dc-dialog-header__heading {
  font: 700 var(--dc-text-md);
  margin: 0;
}

.dc-dialog-header__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
}

.dc-dialog-header__subheading,
.dc-dialog-header__body {
  margin-top: 4px;
}

.dc-dialog-body {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  padding-top: var(--dc-dialog-safe-area);
  padding-bottom: var(--dc-dialog-safe-area);
}

.dc-dialog-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.dc-dialog-footer > * + * {
  margin-left: 8px;
}

.dc-dialog-footer_has_border {
  border-top: 1px solid var(--dc-dialog-inset-shadow-color);
}

.dc-dialog-modal > .dc-dialog-header:first-child,
.dc-dialog-modal > .dc-dialog-body:first-child,
.dc-dialog-modal > .dc-dialog-footer:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.dc-dialog-modal > .dc-dialog-header:last-child,
.dc-dialog-modal > .dc-dialog-body:last-child,
.dc-dialog-modal > .dc-dialog-footer:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
