.dc-dialog {
  --viewport-padding: 16px;
  --modal-font: var(--dc-text-sm);
  --modal-background: var(--dc-background-primary);
  --modal-border: none;
  --modal-shadow: var(--dc-shadow-xl);
  --backdrop-color: rgb(var(--dc-neutral-900-rgb) / 25%);
  --scroll-shadow-top: 0 2px 2px rgb(0 0 0 / 10%);
  --scroll-shadow-bottom: 0 -2px 2px rgb(0 0 0 / 10%);
  --section-delimiter-width: 1px;
  --section-delimiter-color: var(--dc-border-color-2);
  --enter-animation-duration: 100ms;
  --leave-animation-duration: 100ms;
  --enter-slide-animation-duration: 250ms;
  --leave-slide-animation-duration: 250ms;
}

.dc-dialog,
.dc-dialog_size_md,
.dc-dialog_size_centered {
  position: fixed;
  inset: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 512px;
  max-width: calc(100% - 2 * var(--viewport-padding));
  height: fit-content;
  max-height: calc(100% - 2 * var(--viewport-padding));
  margin: auto;
  border-radius: 12px;
  isolation: isolate;
}

.dc-dialog_size_sm {
  width: 384px;
}

.dc-dialog_size_lg {
  width: 640px;
}

.dc-dialog_position_left,
.dc-dialog_position_right {
  max-width: calc(100% - var(--viewport-padding));
  height: 100%;
  max-height: 100%;
  border-radius: 0;
}

.dc-dialog_position_right {
  inset: 0 0 0 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dc-dialog_position_left {
  inset: 0 auto 0 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dc-dialog__backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop-color);
}

@keyframes dc-dialog-backdrop-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dc-dialog-backdrop-leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dc-dialog__backdrop[data-animation="enter"] {
  animation: dc-dialog-backdrop-enter var(--enter-animation-duration) ease forwards;
}

.dc-dialog__backdrop[data-animation="leave"] {
  animation: dc-dialog-backdrop-leave var(--leave-animation-duration) ease forwards;
}

.dc-dialog_position_right .dc-dialog__backdrop[data-animation="enter"],
.dc-dialog_position_left .dc-dialog__backdrop[data-animation="enter"] {
  animation-duration: var(--enter-slide-animation-duration);
}

.dc-dialog_position_right .dc-dialog__backdrop[data-animation="leave"],
.dc-dialog_position_left .dc-dialog__backdrop[data-animation="leave"] {
  animation-duration: var(--leave-slide-animation-duration);
}

.dc-dialog__modal {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: var(--padding);
  overflow: hidden;
  font: var(--modal-font);
  background: var(--modal-background);
  border: var(--modal-border);
  border-radius: inherit;
  box-shadow: var(--modal-shadow);
}

.dc-dialog_position_right .dc-dialog__modal,
.dc-dialog_position_left .dc-dialog__modal {
  height: 100%;
}

@keyframes dc-dialog-modal-enter {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes dc-dialog-modal-leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dc-dialog-modal-slide-left-enter {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes dc-dialog-modal-slide-left-leave {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes dc-dialog-modal-slide-right-enter {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes dc-dialog-modal-slide-right-leave {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.dc-dialog__modal[data-animation="enter"] {
  animation: dc-dialog-modal-enter var(--enter-animation-duration) ease forwards;
}

.dc-dialog__modal[data-animation="leave"] {
  animation: dc-dialog-modal-leave var(--leave-animation-duration) ease forwards;
}

.dc-dialog_position_right .dc-dialog__modal[data-animation="enter"] {
  animation-name: dc-dialog-modal-slide-left-enter;
  animation-duration: var(--enter-slide-animation-duration);
}

.dc-dialog_position_right .dc-dialog__modal[data-animation="leave"] {
  animation-name: dc-dialog-modal-slide-left-leave;
  animation-duration: var(--leave-slide-animation-duration);
}

.dc-dialog_position_left .dc-dialog__modal[data-animation="enter"] {
  animation-name: dc-dialog-modal-slide-right-enter;
  animation-duration: var(--enter-slide-animation-duration);
}

.dc-dialog_position_left .dc-dialog__modal[data-animation="leave"] {
  animation-name: dc-dialog-modal-slide-right-leave;
  animation-duration: var(--leave-slide-animation-duration);
}

@media (prefers-reduced-motion) {
  .dc-dialog__backdrop[data-animation="enter"],
  .dc-dialog__backdrop[data-animation="leave"],
  .dc-dialog__modal[data-animation="enter"],
  .dc-dialog__modal[data-animation="leave"] {
    animation-duration: 0ms !important;
  }
}

.dc-dialog__header,
.dc-dialog__body,
.dc-dialog__footer {
  padding: 16px;
}

.dc-dialog__header,
.dc-dialog__footer {
  z-index: 1;
}

.dc-dialog__header {
  position: relative;
}

.dc-dialog__header_content-align_left {
  text-align: left;
}

.dc-dialog__header_content-align_right {
  text-align: right;
}

.dc-dialog__header_content-align_center {
  text-align: center;
}

.dc-dialog__header_has_scroll-shadow {
  box-shadow: var(--scroll-shadow-top);
}

.dc-dialog__close-button {
  --dc-button-width: 24px;
  --dc-button-height: 24px;
  --dc-button-radius: 8px;

  position: absolute;
  top: 6px;
}

.dc-dialog__header_content-align_left .dc-dialog__close-button,
.dc-dialog__header_content-align_center .dc-dialog__close-button {
  right: 6px;
}

.dc-dialog__header_content-align_right .dc-dialog__close-button {
  left: 6px;
}

.dc-dialog__title {
  position: relative;
  margin: 0;
  font: var(--dc-text-md);
  font-weight: 700;
  word-break: break-all;
  text-wrap: balance;
}

.dc-dialog__header_content-align_left .dc-dialog__title {
  padding-right: 10px;
}

.dc-dialog__header_content-align_right .dc-dialog__title {
  padding-left: 10px;
}

.dc-dialog__header_content-align_center .dc-dialog__title {
  padding-right: 10px;
  padding-left: 10px;
}

.dc-dialog__header-body {
  margin-top: 2px;
}

.dc-dialog__body {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
}

.dc-dialog__body:where(:first-child),
.dc-dialog__body_has_top-delimiter:where(:not(:first-child)) {
  padding-top: 16px;
}

.dc-dialog__body:where(:last-child),
.dc-dialog__body_has_bottom-delimiter:where(:not(:first-child)) {
  padding-bottom: 16px;
}

.dc-dialog__body_has_top-delimiter:not(:first-child) {
  border-top: var(--section-delimiter-width) solid var(--section-delimiter-color);
}

.dc-dialog__body_has_bottom-delimiter:not(:first-child) {
  border-bottom: var(--section-delimiter-width) solid var(--section-delimiter-color);
}

.dc-dialog__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.dc-dialog__footer_has_scroll-shadow {
  box-shadow: var(--scroll-shadow-bottom);
}

@media screen and ((width < 640px) or ((width < 900px) and (orientation: landscape))) {
  @keyframes dc-dialog-modal-enter {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes dc-dialog-modal-leave {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(100%);
    }
  }

  .dc-dialog_position_centered {
    inset: auto 0 0;
    max-width: 100%;
    max-height: calc(100% - var(--viewport-padding));
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dc-dialog_position_centered .dc-dialog__backdrop[data-animation="enter"],
  .dc-dialog_position_centered .dc-dialog__modal[data-animation="enter"] {
    animation-duration: var(--enter-slide-animation-duration);
  }

  .dc-dialog_position_centered .dc-dialog__backdrop[data-animation="leave"],
  .dc-dialog_position_centered .dc-dialog__modal[data-animation="leave"] {
    animation-duration: var(--leave-slide-animation-duration);
  }
}

.dark .dc-dialog,
.dark.dc-dialog {
  --modal-background: var(--dc-neutral-800);
  --modal-shadow: 0 0 0 1px var(--dc-border-color-2), var(--dc-shadow-xl);
  --backdrop-color: rgb(var(--dc-neutral-900-rgb) / 65%);
  --scroll-shadow-top: 0 1px 1px rgb(255 255 255 / 15%);
  --scroll-shadow-bottom: 0 -1px 1px rgb(255 255 255 / 15%);

  color-scheme: dark;
}
