.dc-password-input {
  --dc-password-input-toggle-color: var(--dc-control-secondary-text-color);
  --dc-password-input-toggle-color-hover: var(--dc-control-primary-text-color);
  --dc-password-input-toggle-bg: none;
  --dc-password-input-toggle-bg-hover: var(--dc-bg-transparent-2);

  padding-right: 0;
  color-scheme: light;
}

.dc-password-input > input {
  padding-right: calc(var(--dc-input-padding-x) / 2);
}

.dc-password-input__toggle-button {
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--dc-input-height);
  height: 100%;
  padding: 0;
  color: inherit;
  appearance: none;
  background: var(--dc-password-input-toggle-bg);
  border: none;
  border-radius: calc(var(--dc-input-border-radius) - 1px);
}

.dc-password-input__toggle-button:not(:disabled):focus,
.dc-password-input__toggle-button:not(:disabled):hover {
  color: var(--dc-password-input-toggle-color-hover);
  cursor: pointer;
  background: var(--dc-password-input-toggle-bg-hover);
  outline: none;
}

.dc-password-input__toggle-button:focus:not(:focus-visible, :hover) {
  color: var(--dc-password-input-toggle-color);
  background: var(--dc-password-input-toggle-bg);
}

.dark .dc-password-input,
.dark.dc-password-input {
  color-scheme: dark;
}
