.dc-password-input {
  padding-right: 0;
  color-scheme: light;
}

.dc-password-input input {
  padding-right: calc(var(--dc-input-padding-x) / 2);
}

.dc-password-input__toggle-button {
  width: var(--dc-input-height);
  height: 100%;
}

.dark .dc-password-input,
.dark.dc-password-input {
  color-scheme: dark;
}
