body[data-view-mode="story"],
body[data-view-mode="docs"] .docs-story {
  color: var(--dc-primary-text-color);
  transition: 0.3s ease;
  transition-property: color, background-color;
  background-color: var(--dc-primary-bg);
}
