.dc-empty-state {
  --max-width: 640px;
  --primary-color: var(--dc-text-color-primary);
  --secondary-color: var(--dc-text-color-secondary);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font: var(--dc-text-sm);
  text-align: center;
  color-scheme: light;
}

.dc-empty-state_full_height {
  height: 100%;
}

.dc-empty-state__image {
  color: var(--secondary-color);
}

.dc-empty-state__title,
.dc-empty-state__message {
  max-width: var(--max-width);
  margin: 0;
}

.dc-empty-state__title {
  font: 700 var(--dc-text-md);
}

* + .dc-empty-state__title,
* + .dc-empty-state__message {
  margin-top: 8px;
}

.dc-empty-state__title + .dc-empty-state__message {
  margin-top: 4px;
}

* + .dc-empty-state__primary-action,
* + .dc-empty-state__secondary-action {
  margin-top: 24px;
}

.dc-empty-state__primary-action + .dc-empty-state__secondary-action {
  margin-top: 12px;
}

.dark .dc-empty-state,
.dark.dc-empty-state {
  color-scheme: dark;
}
