.dc-empty-state {
  --dc-empty-state-inner-width: 640px;
  --dc-empty-state-primary-color: var(--dc-primary-text-color);
  --dc-empty-state-secondary-color: var(--dc-secondary-text-color);

  color-scheme: light;
  font: var(--dc-text-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
}

.dc-empty-state__image {
  color: var(--dc-empty-state-secondary-color);
}

.dc-empty-state__title,
.dc-empty-state__message {
  max-width: var(--dc-empty-state-inner-width);
  margin: 0;
}

.dc-empty-state__title {
  font: 700 var(--dc-text-md);
}

.dc-empty-state__message {
}

* + .dc-empty-state__title,
* + .dc-empty-state__message {
  margin-top: 8px;
}

.dc-empty-state__title + .dc-empty-state__message {
  margin-top: 4px;
}

* + .dc-empty-state__primary-action,
* + .dc-empty-state__secondary-action {
  margin-top: 24px;
}

.dc-empty-state__primary-action + .dc-empty-state__secondary-action {
  margin-top: 12px;
}

.dc-empty-state__content {
}
