.dark .dc-segmented,
.dark.dc-segmented {
  --dc-segmented-btn-bg-checked: var(--dc-gray-600);
  --dc-segmented-btn-border-color-focus: var(--dc-blue-400);
  --dc-segmented-btn-border-color-checked: var(--dc-gray-400);
}
