.dark .dc-datepicker,
.dark.dc-datepicker {
  --dc-columnheader-text-color: var(--dc-secondary-text-color-dark);

  /* Day properties */
  --dc-day-text-color: var(--dc-primary-text-color-dark);
  --dc-day-text-color-today: var(--dc-blue-500);
  --dc-day-text-color-weekend: var(--dc-secondary-text-color-dark);
  --dc-day-text-color-selected: white;
  --dc-day-border-color: rgb(255 255 255 / 0%);
  --dc-day-border-color-hover: rgb(255 255 255 / 25%);
  --dc-day-background-selected: var(--dc-blue-600);
  --dc-day-background-selected-hover: var(--dc-blue-500);
  --dc-day-background-range: rgb(59 130 246 / 25%);
  --dc-day-focus-ring-color: var(--dc-blue-400);
}
