.dc-datepicker {
  --dc-columnheader-text-color: var(--dc-control-secondary-text-color);

  /* Day properties */
  --dc-day-font-size: 14px;
  --dc-day-text-color: var(--dc-control-primary-text-color);
  --dc-day-text-color-today: var(--dc-control-primary-color);
  --dc-day-text-color-weekend: var(--dc-control-secondary-text-color);
  --dc-day-text-color-selected: var(--dc-control-on-primary-color);
  --dc-day-size: 32px;
  --dc-day-gap-x: 4px;
  --dc-day-radius: 16px;
  --dc-day-border-color: transparent;
  --dc-day-border-color-hover: var(--dc-control-primary-color);
  --dc-day-bg-selected: var(--dc-control-primary-color);
  --dc-day-bg-selected-hover: var(--dc-control-primary-color-hover);
  --dc-day-bg-range: var(--dc-control-secondary-color);
  --dc-day-focus-ring-color: var(--dc-control-primary-color);

  display: inline-block;
}

/* Calendar controls */
.dc-calendar-next-month,
.dc-calendar-prev-month {
  --dc-button-height: 28px;
}

.dc-calendar-month-select {
  --dc-select-height: 28px;
}

.dc-calendar-year-input {
  --dc-input-height: 28px;
}

/* Calendar day */
.dc-calendar-day {
  appearance: none;
  font-family: var(--dc-primary-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--dc-day-text-color);
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.dc-calendar-day__body {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--dc-day-size);
  height: var(--dc-day-size);
  margin: 0 var(--dc-day-gap-x);
  border-radius: var(--dc-day-radius);
}

.dc-calendar-day_in-range {
  position: relative;
}

.dc-calendar-day_in-range::before,
.dc-calendar-day_in-range::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: var(--dc-day-bg-range);
}

.dc-calendar-day_in-range::before {
  right: 50%;
  left: 0;
}

.dc-calendar-day_in-range::after {
  right: 0;
  left: 50%;
}

.dc-calendar-day_range-start::before {
  right: 50%;
  left: var(--dc-day-gap-x);
  border-top-left-radius: var(--dc-day-radius);
  border-bottom-left-radius: var(--dc-day-radius);
}

.dc-calendar-day_range-end::after {
  right: var(--dc-day-gap-x);
  left: 50%;
  border-top-right-radius: var(--dc-day-radius);
  border-bottom-right-radius: var(--dc-day-radius);
}

.dc-calendar-day_weekend > .dc-calendar-day__body {
  color: var(--dc-day-text-color-weekend);
}

.dc-calendar-day_today > .dc-calendar-day__body {
  color: var(--dc-day-text-color-today);
}

.dc-calendar-day_selected > .dc-calendar-day__body {
  color: var(--dc-day-text-color-selected);
  background: var(--dc-day-bg-selected);
}

.dc-calendar-day:hover {
  cursor: pointer;
}

.dc-calendar-day:hover > .dc-calendar-day__body {
  box-shadow: inset 0 0 0 2px var(--dc-day-border-color-hover);
}

.dc-calendar-day_selected:hover > .dc-calendar-day__body {
  background: var(--dc-day-bg-selected-hover);
  box-shadow: none;
}

.dc-calendar-day:disabled {
  cursor: default;
}

.dc-calendar-day:disabled > .dc-calendar-day__body {
  opacity: var(--dc-disabled-state-opacity);
  box-shadow: none;
}

.dc-calendar-day:focus {
  outline: none;
}

.dc-calendar-day:focus > .dc-calendar-day__body {
  box-shadow: inset 0 0 0 2px var(--dc-day-border-color-hover);
}

.dc-calendar-day_selected:focus > .dc-calendar-day__body {
  position: relative;
  box-shadow: none;
}

.dc-calendar-day_selected:focus > .dc-calendar-day__body::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--dc-day-focus-ring-color);
}

/* Calendar styles */

.dc-calendar {
  display: inline-flex;
  flex-direction: column;
}

.dc-calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--dc-day-gap-x);
  padding-left: var(--dc-day-gap-x);
}

.dc-calendar__header > * {
  margin-right: 2px;
  margin-left: 2px;
}

.dc-calendar__header > *:first-child {
  margin-right: auto;
  margin-left: 0;
}

.dc-calendar__header > *:last-child {
  margin-right: 0;
  margin-left: auto;
}

.dc-calendar__grid {
  margin-top: 16px;
  border-spacing: 0;
}

.dc-calendar__grid th,
.dc-calendar__grid td {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.dc-calendar__grid th {
  font-size: 14px;
  font-weight: 400;
  color: var(--dc-columnheader-text-color);
  padding-bottom: 4px;
}

.dc-calendar__grid td {
  padding-top: 4px;
}
