.dc-table-container,
.dc-table {
  --color: var(--dc-text-color-primary);
  --border-color: var(--dc-neutral-300);
  --background: var(--dc-background-primary);
  --head-background: var(--dc-neutral-100);
  --row-background-stripped: var(--dc-neutral-100);
  --row-background-selected: var(--dc-neutral-100);
  --row-background-highlighted: rgb(var(--dc-neutral-300-rgb) / 30%);
  --cell-background-hover: var(--dc-neutral-100);
  --cell-background-focus: var(--dc-neutral-100);
  --cell-padding-x: 12px;
  --cell-padding-y: 8px;
  --sort-icon-size: 16px;

  color-scheme: light;
}

.dc-table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0;
  scroll-behavior: smooth;
}

.dc-table-container_border_all {
  border-width: 1px;
}

.dc-table-container_border_top {
  border-top-width: 1px;
}

.dc-table-container_border_right {
  border-right-width: 1px;
}

.dc-table-container_border_bottom {
  border-bottom-width: 1px;
}

.dc-table-container_border_left {
  border-left-width: 1px;
}

.dc-table {
  width: 100%;
  font: var(--dc-text-sm);
  font-variant-numeric: tabular-nums;
  color: var(--color);
  border-spacing: 0;
  border-collapse: separate;
}

.dc-table-cell {
  box-sizing: border-box;
  padding: var(--cell-padding-y) var(--cell-padding-x);
  scroll-snap-align: start;
  background: var(--background);
  border-bottom: 1px solid var(--border-color);
}

.dc-table-cell_head {
  font-size: 90%;
  font-weight: 700;
  white-space: nowrap;
  border-bottom-color: var(--border-color);
}

.dc-table_cell_sm .dc-table-cell {
  --cell-padding-y: 4px;
  --cell-padding-x: 8px;
}

.dc-table_cell_lg .dc-table-cell {
  --cell-padding-y: 12px;
  --cell-padding-x: 16px;
}

.dc-table-cell_sortable {
  padding: 0;
}

.dc-table-cell__sort-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: var(--cell-padding-y) var(--cell-padding-x);
  padding-right: calc(var(--cell-padding-x) + var(--sort-icon-size) + var(--cell-padding-x));
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  background: transparent;
  border: none;
}

.dc-table-cell__sort-btn:hover {
  background: var(--cell-background-hover);
}

.dc-table-cell__sort-btn:focus {
  outline: none;
}

.dc-table-cell__sort-btn:focus-visible {
  background: var(--cell-background-focus);
}

.dc-table-cell__sort-icon {
  position: absolute;
  top: 50%;
  right: var(--cell-padding-x);
  width: var(--sort-icon-size);
  height: var(--sort-icon-size);
  transform: translateY(-50%);
}

.dc-table-head_tinted .dc-table-cell {
  background: var(--head-background);
}

.dc-table-row_selected .dc-table-cell {
  background: var(--row-background-selected) !important;
}

.dc-table_bordered .dc-table-cell:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.dc-table_striped .dc-table-body .dc-table-cell {
  border-bottom-color: transparent;
}

.dc-table-body .dc-table-row:last-child .dc-table-cell {
  border-bottom-color: transparent;
}

.dc-table_striped .dc-table-body .dc-table-row:nth-child(even) .dc-table-cell {
  background: var(--row-background-stripped);
}

.dc-table_highlight_row .dc-table-body .dc-table-row:hover .dc-table-cell {
  background: var(--row-background-highlighted);
}

.dark .dc-table,
.dark.dc-table,
.dark .dc-table-container,
.dark.dc-table-container {
  --color: var(--dc-text-color-primary);
  --border-color: var(--dc-neutral-600);
  --background: var(--dc-background-primary);
  --head-background: var(--dc-neutral-800);
  --row-background-stripped: var(--dc-neutral-800);
  --row-background-selected: var(--dc-neutral-800);
  --row-background-highlighted: rgb(var(--dc-neutral-600-rgb) / 30%);
  --cell-background-hover: var(--dc-neutral-800);
  --cell-background-focus: var(--dc-neutral-800);

  color-scheme: dark;
}
