.dc-avatar {
  --dc-avatar-size: 40px;
  --dc-avatar-radius: 50%;
  --dc-avatar-font-size: 16px;
  --dc-avatar-text-color: white;
  --dc-avatar-bg: none;
  --dc-avatar-inner-border-color: rgb(var(--dc-gray-700-rgb) / 0.15);

  color-scheme: light;
  position: relative;
  display: inline-flex;
  user-select: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--dc-avatar-size);
  height: var(--dc-avatar-size);
  border-radius: var(--dc-avatar-radius);
}

.dc-avatar_has_inner-shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: var(--dc-avatar-radius);
  box-shadow: inset 0 0 0 1px var(--dc-avatar-inner-border-color);
}

.dc-avatar__image,
.dc-avatar__placeholder {
  width: 100%;
  height: 100%;
  border-radius: var(--dc-avatar-radius);
}

.dc-avatar__image {
  object-fit: cover;
}

.dc-avatar__placeholder {
  font-family: var(--dc-primary-font);
  font-size: var(--dc-avatar-font-size);
  font-weight: 600;
  color: var(--dc-avatar-text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background: var(--dc-avatar-bg);
}

.dc-avatar_square {
  --dc-avatar-radius: 8px;
}

.dc-avatar_size_xs {
  --dc-avatar-font-size: 10px;
  --dc-avatar-size: 24px;
}

.dc-avatar_square.dc-avatar_size_xs {
  --dc-avatar-radius: 4px;
}

.dc-avatar_size_sm {
  --dc-avatar-font-size: 12px;
  --dc-avatar-size: 32px;
}

.dc-avatar_square.dc-avatar_size_sm {
  --dc-avatar-radius: 6px;
}

.dc-avatar_size_lg {
  --dc-avatar-font-size: 20px;
  --dc-avatar-size: 48px;
}

.dc-avatar_square.dc-avatar_size_lg {
  --dc-avatar-radius: 10px;
}

.dc-avatar_size_xl {
  --dc-avatar-font-size: 24px;
  --dc-avatar-size: 56px;
}

.dc-avatar_square.dc-avatar_size_xl {
  --dc-avatar-radius: 12px;
}

.dc-avatar_circular {
  --dc-avatar-radius: 50%;
}

.dc-avatar_fill_gray {
  --dc-avatar-bg: linear-gradient(#9ca3af, #6b7280);
}

.dc-avatar_fill_pink {
  --dc-avatar-bg: linear-gradient(#fb7185, #f43f5e);
}

.dc-avatar_fill_red {
  --dc-avatar-bg: linear-gradient(#f87171, #ef4444);
}

.dc-avatar_fill_orange {
  --dc-avatar-bg: linear-gradient(#fb923c, #f97316);
}

.dc-avatar_fill_yellow {
  --dc-avatar-bg: linear-gradient(#fbbf24, #f59e0b);
}

.dc-avatar_fill_green {
  --dc-avatar-bg: linear-gradient(#4ade80, #10b981);
}

.dc-avatar_fill_blue {
  --dc-avatar-bg: linear-gradient(#38bdf8, #0ea5e9);
}

.dc-avatar_fill_violet {
  --dc-avatar-bg: linear-gradient(#818cf8, #6366f1);
}
