.dc-breadcrumbs {
  --color: var(--dc-secondary-text-color);
  --color-hover: var(--dc-primary-text-color);
  --color-active: var(--dc-primary-text-color);
  --delimiter-color: rgb(var(--dc-gray-500-rgb) / 50%);

  color-scheme: light;
}

.dc-breadcrumbs__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--color);
  list-style: none;
}

.dc-breadcrumbs-item {
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  font: var(--dc-text-sm);
  color: inherit;
}

.dc-breadcrumbs-item__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.dc-breadcrumbs-item__link:hover {
  color: var(--color-hover);
  text-decoration: underline;
  cursor: pointer;
}

.dc-breadcrumbs-item__link.active,
.dc-breadcrumbs-item__link[aria-current="page"],
.dc-breadcrumbs-item__link[aria-current="step"],
.dc-breadcrumbs-item__link[aria-current="true"] {
  color: var(--color-active);
}

.dc-breadcrumbs-item__icon {
  display: inline-flex;
  margin-right: 8px;
}

.dc-breadcrumbs-item__separator {
  display: inline-flex;
  margin: 0 12px;
  color: var(--delimiter-color);
  user-select: none;
}

.dc-breadcrumbs-item:last-child .dc-breadcrumbs-item__separator {
  display: none;
}

.dark .dc-breadcrumbs,
.dark.dc-breadcrumbs {
  --delimiter-color: rgb(var(--dc-gray-400-rgb) / 50%);

  color-scheme: dark;
}
