.dc-tooltip {
  --dc-tooltip-color: var(--dc-white);
  --dc-tooltip-bg: var(--dc-gray-800);
  --dc-tooltip-enter-animation-duration: 50ms;
  --dc-tooltip-leave-animation-duration: 50ms;

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--dc-overlay-z-index);
  box-sizing: border-box;
  display: block;
  max-width: 288px;
  padding: 4px 8px;
  font: var(--dc-text-xs);
  color: var(--dc-tooltip-color);
  white-space: pre-wrap;
  color-scheme: light;
  background: var(--dc-tooltip-bg);
  border-radius: 6px;
  box-shadow: var(--dc-shadow-md);
}

.dc-tooltip::before {
  position: absolute;
  display: block;
  content: "";
}

.dc-tooltip[data-placement="top"]::before {
  top: 100%;
  left: 0;
  width: 100%;
  height: var(--anchor-offset);
}

.dc-tooltip[data-placement="right"]::before {
  top: 0;
  right: 100%;
  width: var(--anchor-offset);
  height: 100%;
}

.dc-tooltip[data-placement="bottom"]::before {
  bottom: 100%;
  left: 0;
  width: 100%;
  height: var(--anchor-offset);
}

.dc-tooltip[data-placement="left"]::before {
  top: 0;
  left: 100%;
  width: var(--anchor-offset);
  height: 100%;
}

@keyframes dc-tooltip-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dc-tooltip[data-animation="enter"] {
  animation: dc-tooltip-enter var(--dc-tooltip-enter-animation-duration) ease
    forwards;
}

@keyframes dc-tooltip-leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dc-tooltip[data-animation="leave"] {
  animation: dc-tooltip-leave var(--dc-tooltip-leave-animation-duration) ease
    forwards;
}

@media (prefers-reduced-motion) {
  .dc-tooltip[data-animation="enter"],
  .dc-tooltip[data-animation="leave"] {
    animation-duration: 0ms;
  }
}

.dark .dc-tooltip,
.dark.dc-tooltip {
  --dc-tooltip-color: var(--dc-gray-800);
  --dc-tooltip-bg: var(--dc-gray-100);

  color-scheme: dark;
}
