.dc-file-picker {
  --label-color: var(--dc-gray-950);
  --icon-color: var(--dc-gray-500);
  --caption-color: var(--dc-gray-500);
  --border-color: var(--dc-gray-300);
  --border-color-drag-over: var(--dc-blue-500);
  --background-drag-over: rgb(var(--dc-blue-500-rgb) / 10%);

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  align-items: center;
  padding: 16px 20px;
  color-scheme: light;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
}

.dc-file-picker__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.dc-file-picker__body {
  display: flex;
  flex: auto;
  align-items: center;
  font-family: var(--dc-primary-font);
  font-size: 14px;
  line-height: 1.25;
}

.dc-file-picker__icon {
  display: inline-flex;
  margin-right: 16px;
  color: var(--icon-color);
}

.dc-file-picker__label {
  color: var(--label-color);
}

.dc-file-picker__caption {
  margin-top: 4px;
  font-size: 12px;
  color: var(--caption-color);
}

.dc-file-picker_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-file-picker_disabled .dc-file-picker__button {
  pointer-events: none;
}

.dc-file-picker_dragging-over {
  background: var(--background-drag-over);
  border-color: var(--border-color-drag-over);
}

.dark .dc-file-picker,
.dark.dc-file-picker {
  --label-color: var(--dc-white);
  --icon-color: var(--dc-gray-400);
  --caption-color: var(--dc-gray-400);
  --border-color: var(--dc-gray-600);
  --border-color-drag-over: var(--dc-blue-400);
  --background-drag-over: rgb(var(--dc-blue-300-rgb) / 20%);

  color-scheme: dark;
}
