.dc-file-picker {
  --dc-file-picker-label-color: var(--dc-control-primary-text-color);
  --dc-file-picker-icon-color: var(--dc-control-secondary-text-color);
  --dc-file-picker-caption-color: var(--dc-control-secondary-text-color);
  --dc-file-picker-border-color: var(--dc-control-border-color);
  --dc-file-picker-border-color-drag-over: var(--dc-control-primary-color);
  --dc-file-picker-bg-drag-over: var(--dc-control-secondary-color);

  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  align-items: center;
  padding: 16px 20px;
  color-scheme: light;
  border: 1px dashed var(--dc-file-picker-border-color);
  border-radius: 8px;
}

.dc-file-picker__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.dc-file-picker__body {
  display: flex;
  flex: auto;
  align-items: center;
  font-family: var(--dc-primary-font);
  font-size: 14px;
  line-height: 1.25;
}

.dc-file-picker__icon {
  display: inline-flex;
  margin-right: 16px;
  color: var(--dc-file-picker-icon-color);
}

.dc-file-picker__label {
  color: var(--dc-file-picker-label-color);
}

.dc-file-picker__caption {
  margin-top: 4px;
  font-size: 12px;
  color: var(--dc-file-picker-caption-color);
}

.dc-file-picker_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-file-picker_disabled .dc-file-picker__button {
  pointer-events: none;
}

.dc-file-picker_dragging-over {
  background: var(--dc-file-picker-bg-drag-over);
  border-color: var(--dc-file-picker-border-color-drag-over);
}

.dark .dc-file-picker,
.dark.dc-file-picker {
  color-scheme: dark;
}
