.dc-slider {
  --dc-slider-track-height: 4px;
  --dc-slider-track-bg: var(--dc-control-bg-inset);
  --dc-slider-track-bg-fill: var(--dc-control-primary-color);
  --dc-slider-tick-color: var(--dc-control-border-color);
  --dc-slider-tick-label-color: var(--dc-control-secondary-text-color);
  --dc-slider-focus-ring-color: var(--dc-focus-ring-color);

  /* Thumb properties */
  --dc-slider-thumb-width: 20px;
  --dc-slider-thumb-height: 20px;
  --dc-slider-thumb-bg: var(--dc-control-on-primary-color);
  --dc-slider-thumb-shadow:
    0 0 0 1px rgb(var(--dc-black-rgb) / 0.1),
    0 2px 3px rgb(var(--dc-black-rgb) / 0.2);
  --dc-slider-thumb-shadow-focus:
    var(--dc-slider-thumb-shadow),
    0 0 0 3px var(--dc-slider-focus-ring-color);

  color-scheme: light;
  font-family: var(--dc-primary-font);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dc-slider_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-slider_thumb_rect {
  --dc-slider-thumb-width: 10px;
}

.dc-slider__input {
  appearance: none;
  height: var(--dc-slider-track-height);
  margin: calc((var(--dc-slider-thumb-height) - var(--dc-slider-track-height)) / 2) 0;
  padding: 0;
  border-radius: 2px;
  background: var(--dc-slider-track-bg);
}

.dc-slider__input:focus {
  outline: none;
}

.dc-slider__input::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  width: var(--dc-slider-thumb-width);
  height: var(--dc-slider-thumb-height);
  border: none;
  border-radius: 50%;
  background: var(--dc-slider-thumb-bg);
  box-shadow: var(--dc-slider-thumb-shadow);
}

.dc-slider__input::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  width: var(--dc-slider-thumb-width);
  height: var(--dc-slider-thumb-height);
  border: none;
  border-radius: 50%;
  background: var(--dc-slider-thumb-bg);
  box-shadow: var(--dc-slider-thumb-shadow);
}

.dc-slider__input::-ms-thumb {
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  width: var(--dc-slider-thumb-width);
  height: var(--dc-slider-thumb-height);
  border: none;
  border-radius: 50%;
  background: var(--dc-slider-thumb-bg);
  box-shadow: var(--dc-slider-thumb-shadow);
}

.dc-slider__input:disabled::-webkit-slider-thumb {
  cursor: default;
}

.dc-slider__input:disabled::-moz-range-thumb {
  cursor: default;
}

.dc-slider__input:disabled::-ms-thumb {
  cursor: default;
}

.dc-slider__input:focus::-webkit-slider-thumb {
  box-shadow: var(--dc-slider-thumb-shadow-focus);
}

.dc-slider__input:focus::-moz-range-thumb {
  box-shadow: var(--dc-slider-thumb-shadow-focus);
}

.dc-slider__input:focus::-ms-thumb {
  box-shadow: var(--dc-slider-thumb-shadow-focus);
}

.dc-slider_thumb_rect .dc-slider__input::-webkit-slider-thumb {
  border-radius: calc(var(--dc-slider-thumb-width) / 2);
}

.dc-slider_thumb_rect .dc-slider__input::-moz-range-thumb {
  border-radius: calc(var(--dc-slider-thumb-width) / 2);
}

.dc-slider_thumb_rect .dc-slider__input::-ms-thumb {
  border-radius: calc(var(--dc-slider-thumb-width) / 2);
}

.dc-slider__tick-marks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4px;
}

.dc-slider-tick-mark {
  font-size: 12px;
  color: var(--dc-slider-tick-label-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: var(--dc-slider-thumb-width);
  text-align: center;
  white-space: nowrap;
}

.dc-slider-tick-mark::before {
  content: "";
  display: inline-block;
  flex: none;
  width: 2px;
  height: 8px;
  background: var(--dc-slider-tick-color);
}

.dc-slider-tick-mark__label {
  padding-top: 4px;
}
