.dc-slider {
  --icon-color: var(--dc-neutral-500);

  /* Track properties */
  --track-height: 4px;
  --track-radius: 2px;
  --track-background: rgb(var(--dc-neutral-900-rgb) / 15%);
  --track-background-filled: var(--dc-blue-500);

  /* Thumb properties */
  --thumb-height: 20px;
  --thumb-width: 20px;
  --thumb-radius: 50%;
  --thumb-background: var(--dc-blue-500);
  --thumb-border-color: var(--dc-white);
  --thumb-border: 2px solid var(--thumb-border-color);
  --thumb-transition: box-shadow 150ms ease-in-out;
  --thumb-shadow: var(--dc-shadow-xs), var(--dc-shadow), var(--dc-shadow-md);
  --focus-ring-color: var(--dc-focus-ring-color);
  --focus-ring-outline: 2px solid var(--focus-ring-color);
  --focus-ring-offset: 1px;

  /* Label properties */
  --label-gap: 4px;
  --label-height: 24px;
  --label-max-width: 80px;
  --label-padding-x: 0.5em;
  --label-radius: 6px;
  --label-border-color: var(--dc-white);
  --label-border: 1px solid var(--label-border-color);
  --label-color: var(--dc-neutral-50);
  --label-background: var(--dc-neutral-800);

  /* Tick mark properties */
  --tick-mark-width: 1px;
  --tick-mark-height: 6px;
  --tick-mark-color: rgb(var(--dc-neutral-900-rgb) / 15%);
  --tick-marks-gap: 4px;

  display: inline-flex;
  width: 240px;
  min-width: 0;
  max-width: 100%;
  color-scheme: light;
}

.dc-slider_range {
  padding: 0;
  margin: 0;
  border: none;
}

.dc-slider_disabled {
  opacity: var(--dc-disabled-state-opacity);
}

.dc-slider_full-width {
  display: flex;
  width: 100%;
}

.dc-slider__body {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  min-height: var(--thumb-height);
  color: var(--icon-color);
}

.dc-slider__body_has_labels {
  margin-top: calc(var(--label-height) + var(--label-gap));
}

.dc-slider__body_has_tick-marks {
  margin-bottom: calc(
    var(--tick-mark-height)
    - var(--thumb-height) / 2
    + var(--track-height) / 2
    + var(--tick-marks-gap)
  );
}

.dc-slider__track {
  position: relative;
  width: 100%;
  height: var(--track-height);
  background-color: var(--track-background);
  border-radius: var(--track-radius);
}

.dc-slider__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  appearance: none;
  background: none;
  border: none;
}

.dc-slider__input:focus {
  outline: none;
}

.dc-slider_range .dc-slider__input {
  pointer-events: none;
}

.dc-slider__input::-moz-range-track {
  appearance: none;
  background: none;
}

.dc-slider__input::-webkit-slider-runnable-track {
  appearance: none;
  background: none;
}

.dc-slider__input::-moz-range-thumb {
  box-sizing: border-box;
  display: block;
  width: var(--thumb-width);
  height: var(--thumb-height);
  appearance: none;
  background: var(--thumb-background);
  border: var(--thumb-border);
  border-radius: var(--thumb-radius);
  box-shadow: var(--thumb-shadow);
  transition: var(--thumb-transition);
}

.dc-slider_range .dc-slider__input::-moz-range-thumb {
  pointer-events: all;
}

.dc-slider__input:focus::-moz-range-thumb {
  outline: none;
}

.dc-slider__input:focus-visible::-moz-range-thumb {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-offset);
}

.dc-slider__input::-webkit-slider-thumb {
  box-sizing: border-box;
  display: block;
  width: var(--thumb-width);
  height: var(--thumb-height);
  appearance: none;
  background: var(--thumb-background);
  border: var(--thumb-border);
  border-radius: var(--thumb-radius);
  box-shadow: var(--thumb-shadow);
  transition: var(--thumb-transition);
}

.dc-slider__input::-webkit-slider-container {
  min-height: 0;
}

.dc-slider_range .dc-slider__input::-webkit-slider-thumb {
  pointer-events: all;
}

.dc-slider__input:focus::-webkit-slider-thumb {
  outline: none;
}

.dc-slider__input:focus-visible::-webkit-slider-thumb {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-offset);
}

.dc-slider__label {
  position: absolute;
  bottom: calc(
    var(--thumb-height) / 2
    - var(--track-height) / 2
    + var(--label-gap)
    + var(--track-height)
  );
  left: 0;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--label-height);
  max-width: var(--label-max-width);
  height: var(--label-height);
  padding: 0 var(--label-padding-x);
  font: var(--dc-text-xs);
  font-variant-numeric: tabular-nums;
  color: var(--label-color);
  background: var(--label-background);
  border: var(--label-border);
  border-radius: var(--label-radius);
  transform: translateX(-50%);
}

.dc-slider__label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dc-slider__input_active,
.dc-slider__label_active {
  z-index: 1;
}

.dc-slider__tick-marks {
  position: relative;
  top: calc(var(--track-height) + var(--tick-marks-gap));
  left: 0;
  width: 100%;
  height: var(--tick-mark-height);
  padding: 0;
  margin: 0;
  list-style: none;
}

.dc-slider__tick-marks > li {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  width: var(--tick-mark-width);
  height: var(--tick-mark-height);
  background: var(--tick-mark-color);
  transform: translateX(-50%);
}

.dark .dc-slider,
.dark.dc-slider {
  --icon-color: var(--dc-neutral-400);

  /* Track properties */
  --track-background: rgb(var(--dc-neutral-50-rgb) / 30%);

  /* Label properties */
  --label-border-color: var(--dc-neutral-100);
  --label-color: var(--dc-neutral-800);
  --label-background: var(--dc-neutral-100);

  /* Tick mark properties */
  --tick-mark-color: rgb(var(--dc-neutral-50-rgb) / 60%);
}
