.dark .dc-slider,
.dark.dc-slider {
  /* Thumb properties */
  --dc-slider-thumb-border: 2px solid var(--dc-gray-200);
  --dc-slider-thumb-focus-ring:
    var(--dc-slider-thumb-shadow),
    0 0 0 4px var(--dc-focus-ring-color);

  /* Label properties */
  --dc-slider-label-border: 1px solid var(--dc-gray-600);
  --dc-slider-label-bg: var(--dc-gray-700);

  /* Tick mark properties */
  --dc-slider-tick-mark-color: rgb(var(--dc-gray-50-rgb) / 0.5);
}
